<!--{extends file="dashboard.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
  &nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blogs">Ask An Expert&nbsp;<i class="fa fa-rss-square"></i></a>&nbsp;| List&nbsp;<i class="fa fa-list"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
  <div class="col-4 mt-2">
    <div class="card">
      <div class="card-header site-bg-1">
        <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask1.png" style="height: 200px;" >
      </div>
      <div class="card-body" style="overflow-y: auto; height: 200px;">
        <h4 class="card-title">
          Minerva Saddler Gray
        </h4>
        <div class="card-text">
          Schedule a one on one zoom meeting with Minerva Saddler Gray  and ask questions bothering you concerning DCCBA, thanks for reaching out...
        </div>
      </div>
      <span class="card-footer">
        Availabe from 7:00am to 9:30am
        <a class="btn btn-block btn-primary float-right ml-2" title="Meeting" href="#"><i class="fa fa-info-circle"></i>Start Zoom Meeting</a>
      </span>
    </div>
  </div>
  <div class="col-4 mt-2">
    <div class="card">
      <div class="card-header site-bg-1">
        <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask2.png" style="height: 200px;" >
      </div>
      <div class="card-body" style="overflow-y: auto; height: 200px;">
        <h4 class="card-title">
          Anthony Stephen Benjamin
        </h4>
        <div class="card-text">
          Schedule a one on one zoom meeting with Anthony Stephen Benjamin and ask questions bothering you concerning DCCBA, thanks for reaching out...
        </div>
      </div>
      <span class="card-footer">
        Availabe from 9:30am to 12:00pm
        <a class="btn btn-block btn-primary float-right ml-2" title="Meeting" href="#"><i class="fa fa-info-circle"></i>Start Zoom Meeting</a>
      </span>
    </div>
  </div>
  <div class="col-4 mt-2">
    <div class="card">
      <div class="card-header site-bg-1">
        <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask3" style="height: 200px;" >
      </div>
      <div class="card-body" style="overflow-y: auto; height: 200px;">
        <h4 class="card-title">
         Velma Morgan 
        </h4>
        <div class="card-text">
          Schedule a one on one zoom meeting with Velma Morgan and ask questions bothering you concerning DCCBA, thanks for reaching out...
        </div>
      </div>
      <span class="card-footer">
        Availabe from 12:00pm to 2:00pm
        <a class="btn btn-block btn-primary float-right ml-2" title="Meeting" href="#"><i class="fa fa-info-circle"></i>Start Zoom Meeting</a>
      </span>
    </div>
  </div>
  <div class="col-4 mt-2">
    <div class="card">
      <div class="card-header site-bg-1">
        <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask4" style="height: 200px;" >
      </div>
      <div class="card-body" style="overflow-y: auto; height: 200px;">
        <h4 class="card-title">
         Andrew E. Guy
        </h4>
        <div class="card-text">
          Schedule a one on one zoom meeting with Andrew E. Guy Morgan and ask questions bothering you concerning DCCBA, thanks for reaching out...
        </div>
      </div>
      <span class="card-footer">
        Availabe from 12:00pm to 2:00pm
        <a class="btn btn-block btn-primary float-right ml-2" title="Meeting" href="#"><i class="fa fa-info-circle"></i>Start Zoom Meeting</a>
      </span>
    </div>
  </div>
  <div class="col-4 mt-2">
    <div class="card">
      <div class="card-header site-bg-1">
        <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask5" style="height: 200px;" >
      </div>
      <div class="card-body" style="overflow-y: auto; height: 200px;">
        <h4 class="card-title">
         Steve Anderson
        </h4>
        <div class="card-text">
          Schedule a one on one zoom meeting with Steve Anderson and ask questions bothering you concerning DCCBA, thanks for reaching out...
        </div>
      </div>
      <span class="card-footer">
        Availabe from 12:00pm to 2:00pm
        <a class="btn btn-block btn-primary float-right ml-2" title="Meeting" href="#"><i class="fa fa-info-circle"></i>Start Zoom Meeting</a>
      </span>
    </div>
  </div>
</section>
<!--{/block}-->