<!--{extends file="dashboard.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blogs">Blogs&nbsp;<i class="fa fa-rss-square"></i></a>&nbsp;| List&nbsp;<i class="fa fa-list"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<!--{if !empty($blogs)}-->
		<!--{include file="paging-top.html"}-->
		  	<!--{$numCount=1}-->
		  	<!--{foreach $blogs as $blog}-->
				<div class="col-4 mt-2">
					<div class="card">
						<div class="card-header site-bg-1">
							<img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->site/media/i/icons/blog-icon.png<!--{/if}-->" style="height: 200px;" >
						</div>
						<div class="card-body" style="overflow-y: auto; height: 200px;">
							<h4 class="card-title">
								<!--{$blog->title}-->
							</h4>
							<div class="card-text">
								<!--{$blog->content_stripe}-->
							</div>
						</div>
						<span class="card-footer">
							<!--{$blog->dateadded|date_format}-->
							<a class="btn btn-sm btn-primary float-right ml-2" title="<!--{$blog->title}--> Detail" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blog?id=<!--{$blog->token}-->"><i class="fa fa-info-circle"></i> Detail</a>
						</span>
					</div>
				</div>
		  	<!--{$numCount=$numCount+1}-->
			<!--{/foreach}-->
		<!--{include file="paging-bottom.html"}-->
	<!--{else}-->
	<div class="alert alert-info col-md-10"><p class="alert-heading">No record found</p></div>
	<!--{/if}-->
</section>
<!--{/block}-->