<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Apply for Investment</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Invest Now</h6>
      </div>
      <div class="card-body">
        <form id="mainForm" method="POST" enctype="multipart/form-data" name="propertyForm">
              <div class="mb-4">
                <h5 style="background-color: #007bff!important;" class="bg-primary text-light d-none p-2">CUSTOMER INFORMATION</h5>
              </div>
              <div class="row" id="precheck">
                <div class="col-6">
                  <div class="form-group">
                    <label for="project">Select Plan</label>
                    <select class="form-control" id="project1"  name="inv_id">
                      <!--{if !empty($inv_properties)}-->
                        <!--{foreach $inv_properties as $prop}-->
                          <option value="<!--{$prop->id}-->">
                            <!--{$prop->property}--> | <!--{$prop->percentage}-->% | <!--{$prop->category}-->SQM
                          </option>
                          <!--{/foreach}-->
                      <!--{else}-->
                        <option value="none">Not Found</option>
                      <!--{/if}-->
                    </select>
                    <button type="submit" class="mt-2 btn btn-primary" name="triggers" id="getProject" value="getProject">OK</button>
                  </div>
                </div>
              </div>
              <!--{if !empty($inv_item)}--> 
              <script>
                document.getElementById('precheck').classList.add('d-none');
              </script>
              <div class="form-group d-none">
                <div class="row m-4 w-25">
                  <div class="col">
                      <p><img style="width: 120px; height: 120px; border-color: #e0e0e0;" id="img_div"/></p>
                      <p><input type="file" name="uploadfile" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                      <p><label for="file" style="background-color: #007bff!important; cursor: pointer" class="btn btn-primary mt-1">Upload Image</label></p>
                  </div>
                      <script>
                      var loadFile = function(event) {
                          var image = document.getElementById('img_div');
                          image.src = URL.createObjectURL(event.target.files[0]);
                      };
                      </script>
                </div>
              </div>
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label for="project">Invest Plan</label>
                    <input type="text" id="property" name="property" class="form-control" readonly value="<!--{$inv_item->property}--> | <!--{$inv_item->percentage}-->% | <!--{$inv_item->category}-->SQM" />
                    <input type="hidden" id="inv_id" name="investment_id" class="form-control" readonly value="<!--{$inv_item->id}-->" />
                    <input type="hidden" id="inv_name" name="investment_name" class="form-control" readonly value="<!--{$inv_item->property}-->" />
                  </div>
                </div>
              </div>
              <div class="row d-none ">
                <div class="col-3">
                  <div class="form-group">
                      <label for="title">Title</label>
                      <select name="title" id="title" class="form-control">
                          <option <!--{if $client->title == 'mr'}--> selected <!--{/if}--> Svalue="mr">MR</option>
                          <option <!--{if $client->title == 'mrs'}--> selected <!--{/if}-->  value="mrs">MRS</option>
                          <option <!--{if $client->title == 'miss'}--> selected <!--{/if}-->  value="miss">MISS</option>
                      </select>
                  </div>
                </div>
              </div>
              <div class="row d-none ">
                <div class="col">
                  <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" name="surname" class="form-control" value="<!--{if !empty($userinfo->lastname)}--><!--{$userinfo->lastname}--><!--{/if}-->"  />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="middlename">Middle Name</label>
                    <input type="text" id="middlename" name="middlename" value="<!--{if !empty($userinfo->middlename)}--><!--{$userinfo->middlename}--><!--{/if}-->" class="form-control"  />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="firstname">First Name</label>
                    <input type="text" id="firstname" name="firstname" value="<!--{if !empty($userinfo->firstname)}--><!--{$userinfo->firstname}--><!--{/if}-->" class="form-control"  />
                  </div>
                </div>
              </div>
              <div class="row d-none ">
                <div class="col">
                  <div class="form-group">
                    <label for="gender">Sex</label>
                    <select name="gender" id="gender" class="form-control">
                        <option <!--{if $userinfo->gender==male}--> selected <!--{/if}--> value="male">Male</option>
                        <option <!--{if $userinfo->gender==female}--> selected <!--{/if}--> value="female">Female</option>
                    </select>
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="marital">Marital Status</label> <br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="single" <!--{if $client->marital_status=='single'}--> checked <!--{/if}--> name="marital" value="single" class="custom-control-input">
                      <label class="custom-control-label" for="single">Single</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="married" name="marital" <!--{if $client->marital_status=='married'}--> checked <!--{/if}--> value="married" class="custom-control-input">
                      <label class="custom-control-label" for="married">Married</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col-2">
                  <h5>Name of Spouse</h5>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spousesurname">Surname</label>
                    <input type="text" id="spousesurname" value="<!--{$client->spouse_surname}-->" name="spousesurname" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="spousefirstname">First Name</label>
                    <input type="text" id="spousefirstname" value="<!--{$client->spouse_firstname}-->" name="spousefirstname" class="form-control"  />
                  </div>
                </div>
              </div>
  
              <h5 style="background-color: #007bff!important;" class="d-none bg-primary text-light p-2">CONTACT INFORMATION</h5>
              <div class="row d-none">
                <div class="col-2">
                  <h5>Mobile Number</h5>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="number">Mobile</label>
                    <input type="text" id="number" value="<!--{$userinfo->phone}-->"  name="number" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="number1">Phone</label>
                    <input type="text" id="number1" name="number1" class="form-control"  />                 
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col-4">
                  <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="text" id="email" name="email" value="<!--{if !empty($userinfo->email)}--><!--{$userinfo->email}--><!--{/if}-->" readonly class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="address">Residential Address</label>
                    <textarea type="text" id="address" name="address" class="form-control" rows="4" ><!--{$userinfo->address1}--></textarea>                
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col">
                  <div class="form-group">
                    <label for="city">City/Town</label>
                    <input type="text" id="city" name="city" value="<!--{if !empty($client->city)}--><!--{$client->city}--><!--{/if}-->" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="lga">Local Govt</label>
                    <input type="text" id="lga" name="lga" value="<!--{$client->lga}-->" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="state">State</label>
                    <input type="text" id="state" name="state" value="<!--{if !empty($client->state)}--><!--{$client->state}--><!--{/if}-->" class="form-control"  />                 
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col">
                  <div class="form-group">
                    <label for="country">Country of Residence</label>
                    <input type="text" id="country" name="country" value="<!--{if !empty($client->country)}--><!--{$client->country}--><!--{/if}-->" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label class="form-label" for="dob">Date of Birth</label>
                    <input type="date" id="dob" name="dob" value="<!--{$client->dob}-->" class="form-control"  />
                  </div>
                </div>
              </div>
              
          <div class="row d-none">
            <div class="col">
              <div class="form-group">
                <label for="idmode">Mode of Identification</label> <br>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="natid" <!--{if $client->id_mode == 'natid'}--> checked <!--{/if}--> name="idmode" value="natid" class="custom-control-input">
                  <label class="custom-control-label" for="natid">Nat Id</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="drivno" name="idmode" <!--{if $client->id_mode == 'driverlicense'}--> checked <!--{/if}--> value="driverlicense" class="custom-control-input">
                  <label class="custom-control-label" for="drivno">Drivers LNo</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="passport" name="idmode" <!--{if $client->id_mode == 'intpassport'}--> checked <!--{/if}--> value="intpassport" class="custom-control-input">
                  <label class="custom-control-label" for="passport">Int'l Passport</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="radio" id="votecard" name="idmode" <!--{if $client->id_mode == 'votercard'}--> checked <!--{/if}--> value="votercard" class="custom-control-input">
                  <label class="custom-control-label" for="votecard">Voters Card</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                  <input type="text" class="form-control col" name="otheridmode" id="othersmode" placeholder="others">
                </div>
               </div>
            </div>
          </div>
              <div class="row d-none ">
                <div class="col-4">
                  <div class="form-group">
                    <label for="idno">ID Number</label> 
                    <input type="text" id="idno" name="idno" value="<!--{$client->id_number}-->" class="form-control"  />     
                               
                  </div>
                </div>
                <div class="col-4">
                  <p class="mt-4">RC NO <small>(For Comany ID only)</small></p>
                </div>
              </div>
              <div class="row d-none">
                <div class="col">
                  <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <input type="text" id="nationality" value="<!--{$client->nationality}-->" name="nationality" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="stateofrigin">State Of Origin</label>
                    <input type="text" id="stateofrigin" value="<!--{$client->state_of_origin}-->" name="stateoforigin" class="form-control"  />                 
                  </div>
                </div>
              </div>
              <div class="row d-none">
                <div class="col">
                  <div class="form-group">
                    <label for="occupation">Occupation</label>
                    <input type="text" id="occupation" value="<!--{$client->occupation}-->" name="occupation" class="form-control"  />                 
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="empname">Employers Name</label>
                    <input type="text" id="empname" value="<!--{$client->emp_name}-->" name="empname" class="form-control"  />                 
                  </div>
                </div>
              </div>
              <div class="row d-none ">
                <div class="col">
                  <div class="form-group">
                    <label for="empaddress">Employers Address</label>
                    <textarea type="text" id="address" value="<!--{$client->emp_address}-->" name="empaddress" class="form-control" rows="4"></textarea>                
                  </div>
                </div>
              </div>
              <h5 style="background-color: #007bff!important;" class="bg-primary text-light p-2">NEXT OF KIN INFORMATION</h5>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="noksurname">Surname</label>
                    <input type="text" id="noksurname" value="<!--{$client->nok_surname}-->" name="noksurname" class="form-control" required />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="nokmiddlename">Middle Name</label>
                    <input type="text" id="nokmiddlename" value="<!--{$client->nok_middlename}-->" name="nokmiddlename" class="form-control" />
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="nokfirstname">First Name</label>
                    <input type="text" id="nokfirstname" value="<!--{$client->nok_firstname}-->" name="nokfirstname" class="form-control" required />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="noknumber">Mobile Number</label>
                    <input type="text" id="noknumber" value="<!--{$client->nok_phone}-->" name="noknumber" class="form-control" required />                 
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label for="nokaddress">Residential Address</label>
                    <textarea type="text" id="nokaddress" value="<!--{$client->nok_address}-->" name="nokaddress" class="form-control" rows="4" required></textarea>                
                  </div>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label for="marital">Plot of Land Options</label> <br>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="residential" name="landuse" value="residential" class="custom-control-input">
                      <label class="custom-control-label" for="residential">Residential</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                      <input type="radio" id="commercial" name="landuse" value="commercial" class="custom-control-input">
                      <label class="custom-control-label" for="commercial">Commercial</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-none">
                      <input type="number" class="form-control col" name="numplots" id="numplots" onchange="getNumPlots();" placeholder="Number of Plots">
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-none">
                      <input type="radio" id="550" name="plotsqm" value="550" onclick="getAmt();" class="custom-control-input">
                      <label class="custom-control-label" for="550">550SQM</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline d-none">
                      <input type="radio" id="400" name="plotsqm" value="400" onclick="getAmt();" class="custom-control-input">
                      <label class="custom-control-label" for="400">400SQM</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <h5>Referred By</h5>
                  <small>Please select a refree if you were referred</small>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="marketer" class="form-control-label">Input 4 digit refree code</label>
                    <input type="text" maxlength="4"  class="form-control"  id="refCode"/>
                    <input type="hidden"  name="employeeid"  id="employeeid"/>
                    <select name="employeeid" class="form-control d-none"  id="marketer">
                    <option selected disabled value="null">Select Refree</option>
                    <!--{if !empty($employees)}-->
                        <!--{foreach $employees as $employee}-->
                      <option value="<!--{$employee->refid}-->"><!--{$employee->surname|ucfirst}--> <!--{$employee->firstname|ucfirst}--> - <!--{$employee->email}--></option>
                      <!--{/foreach}-->
                    <!--{else}-->
                      <option value="null">none</option>
                    <!--{/if}-->
                    </select>   
                  </div>
                </div>
                <div class="col">
                  <div class="form-group">
                    <label for="refname">Full name</label>
                    <input type="text"  id="refname" name="refname" readonly class="form-control"  />                 
                  </div>
                </div>
                <div class="col d-none">
                  <div class="form-group">
                    <label for="refnumber">Phone Number</label>
                    <input type="text" id="refnumber" name="refnumber" class="form-control"  />
                  </div>
                </div>
                <div class="col d-none">
                  <div class="form-group">
                    <label for="refemail">Email</label>
                    <input type="text" id="refemail" name="refemail" class="form-control"  />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-2">
                  <h5>Payment Details</h5>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="">Principal:</label> <br>
                    <small>Min: &#8358;<!--{$inv_item->min_principal|number_format:2}--> - Max: &#8358;<!--{$inv_item->max_principal|number_format:2}--></small>
                   
                    <input type="hidden" name="percentage" value="<!--{$inv_item->percentage}-->">
                    <input type="hidden" name="sqm" value="<!--{$inv_item->category}-->">
                    <input type="hidden" name="duration" value="<!--{$inv_item->duration}-->">
                    <input name="principal" min="<!--{$inv_item->min_principal}-->" onkeyup="getInfo(this);" max="<!--{$inv_item->max_principal}-->" id="principal" type="number" value="" class="form-control"  />                 
                  </div>
                </div>
                
                <script>
                  function getInfo(myRadio) {
                      currentValue = '<!--{$inv_item->percentage}-->';
                      var prin = myRadio.value;
                      var roi = (currentValue/100) * prin;
                      var maturity = roi + +prin;
                      $("#roi").val(roi.toFixed(2));
                      $("#maturity").val(maturity.toFixed(2));
                      $("#totalpay").val(prin);
                  }
                </script>
                <div class="col-3">
                  <div class="form-group">
                    <label for="">R.O.I:</label>
                    <input readonly name="roi" id="roi" type="number" max="<!--{$prop->roi}-->" class="form-control"  />                 
                  </div>
                </div>
                <div class="col-3">
                  <div class="form-group">
                    <label for="">Maturity</label>
                    <input readonly name="maturity" id="maturity" type="number" max="<!--{$prop->matunity}-->" class="form-control"  />                 
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="">Total Payable</label> <br>
                <input readonly  id="totalpay" type="number" name="totalpay" value="" class="form-control"  />                 
              </div>
              <div class="form-group">
                <label for="marital">Payment Options</label> <br>
  
                <div class="custom-control d-none custom-radio custom-control-inline">
                  <input type="radio" id="paystackpay" name="paymenttype" value="paystack" onclick="handleClick(this);" class="custom-control-input">
                  <label class="custom-control-label" for="paystackpay">Paystack</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline d-none">
                  <input type="radio" id="laterpay" name="paymenttype" value="laterpay" onclick="handleClick(this);" class="custom-control-input">
                  <label class="custom-control-label" for="laterpay">Subscribe Now</label>
                </div>
              </div>
              <script>
                var currentValue = 0;
                  function handleClick(myRadio) {
                      //console.log('New value: ' + myRadio.value);
                      currentValue = myRadio.value;
                      if(myRadio.value=='paystack'){
                          //document.getElementById('mainButton').classList.add("d-none");
                          //document.getElementById('secButton').classList.remove("d-none");
                      }else{
                          //document.getElementById('secButton').classList.add("d-none");
                          //document.getElementById('mainButton').classList.remove("d-none");
                      }
                  }
              </script>
            <div class="form-check mb-4">
              <input type="checkbox" class="form-check-input" id="formcheck" required>
              <label class="form-check-label" for="formcheck">I hereby affirm that all information filled in as requirement for investment of <!--{$prop->property}--> is true and any false information provided by me may result in termination of my application.</label>
            </div>
                  
      <div class="form-check mb-4">
        <input type="checkbox" class="form-check-input" id="formcheck2" required>
        <label class="form-check-label" for="formcheck2">I hereby affirm that I have read the FAQ for <!--{$inv_item->property}--> and if not, please read it here <a target="_Blank" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/property-faq?id=<!--{$inv_item->token}-->">FAQ</a>  </label>
      </div>
          <div id="mainButton" class="form-group text-center d-none">
          <button  type="submit" class="btn btn-md btn-warning mainButton" name="triggers" value="subscribeInvestment">Submit</button>
          </div>
  
          <div id="secButton" class="form-group text-center">
             <div  id="paypal-member-signup"></div>
            <button class="btn btn-md btn-success " type="submit" name="triggers" value="signup">Pay and Submit</button>
          </div>
          <!--{else}-->
          <h4>Select a plan</h4>
          <!--{/if}-->
          <div class="form-row">
            <!--{if !empty($fail)}-->
                <!--{$fail}-->
            <!--{/if}-->
          </div>
        </form>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
