<!--{extends file="dashboard.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard | Airo News </strong>&nbsp;<i class="fa fa-newspaper-o"></i></section>
<!--{/block}-->
<!--{block name="content"}-->
	<!--{if !empty($fail)}-->
	<!--{$fail}-->
	<!--{/if}-->
<section class="jumbotron text-center mt-2">
	<div class="table-responsive">
		<!--{if !empty($news)}-->
		<div id="dataTableId_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
			<!--{include file="paging-top.html"}-->
			<table class="table table-striped table-hover table-bordered">
			  <thead class="thead-light">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Title</th>
			      <th scope="col">Content</th>
			      <th scope="col">Posted By</th>
			      <th scope="col">Date Posted</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<!--{$numCount=1}-->
			  	<!--{foreach $news as $new}-->
			    <tr>
			      <td><!--{$numCount}--></td>
			      <td><!--{$new->title}--></td>
			      <td><div class="text-feed-100"><!--{$new->content_stripe}--></div></td>
			      <td><!--{$new->addedby}--></td>
			      <td><!--{$new->dateadded}--></td>
			      <td>
			      	<a class="btn btn-sm btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/news-info?id=<!--{$new->token}-->"><i class="fa fa-ellipsis-v"></i> Detail</a>
			      </td>
			    </tr>
			  	<!--{$numCount=$numCount+1}-->
				<!--{/foreach}-->
			  </tbody>
			</table>
			<!--{include file="paging-bottom.html"}-->
		</div>
		<!--{else}-->
		<div class="alert alert-warning"><h3 class="alert-heading">No record found</h3></div>
		<!--{/if}-->
	</div>
</section>
<!--{/block}-->