<!--{extends file="dashboard.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/dashboard/profile">My Profile&nbsp;<i class="fa fa-vcard"></i></a>&nbsp;| Profile&nbsp;<i class="fa fa-user"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<div class="col-md-10">
		<div class="card card-heading pt-3 pb-3">
			<div class="text-center">
				<form method="post" enctype="multipart/form-data">
					<div class="img-scope">
						<label for="img-upload">
							<img class="img img-thumbnail" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($userinfo->userimg)}--><!--{$userinfo->userimg}--><!--{else}-->site/media/i/icon-student.png<!--{/if}-->">
							<data class="text-center jsonly">Update Photo</data>
						</label>
						<input type="file" accept="image/*" id="img-upload" onchange="this.form.submit()" name="img_upload"/>
						<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
					</div>
				</form>
			</div>
		</div>
		<div class="card card-body row justify-content-center mt-3 mb-3">
			<div class="col-md-12">
				<!--{if !empty($fail)}-->
					<!--{$fail}-->
				<!--{/if}-->
			</div>
			<form class="form" method="post" style="display: inherit;">
				<div class="col-md-6">
					<fieldset>
						<legend>Personal Information</legend>
						<div class="form-group">
							<label for="reflink">Referral link</label>
							<input type="text" id="reflink" readonly value="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/signup?id=<!--{$userinfo->userid}-->" class="form-control input-block"/>
							<span class="text-primary" id="msg"></span>
							<button type="button" class=" m-2 btn btn-info" onclick="copyToClipboardMsg('reflink','msg')">Copy Link</button>
						</div>
						<div class="form-group">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" value="<!--{$userinfo->username}-->" class="form-control input-block" disabled/>
						</div>
						<div class="form-group">
							<label for="firstName" class="label">First Name</label>
							<input type="text" id="firstName" name="firstname" value="<!--{$userinfo->firstname}-->" class="form-control input-block"/>
						</div>
						<div class="form-group">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastname" value="<!--{$userinfo->lastname}-->" class="form-control input-block"/>
						</div>
						<div class="form-group">
							<label for="lastName">Other Names</label>
							<input type="text" id="otherName" name="othername" value="<!--{$userinfo->middlename}-->" class="form-control input-block"/>
						</div>
						<div class="form-group">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" value="<!--{$userinfo->email}-->" readonly class="form-control input-block" disabled/>
						</div>
						<div class="form-group">
							<label for="phone">Phone Number</label>
							<input type="tel" id="phone" name="phone" value="<!--{$userinfo->phone}-->" class="form-control input-block"/>
						</div>
						<div class="form-group">
							<label for="gender">Gender</label>
							<select name="gender" class="form-control" id="gender">
								<option value="female" <!--{if $userinfo->gender=='female'}-->selected<!--{/if}-->>Female</option>
								<option value="male" <!--{if $userinfo->gender=='male'}-->selected<!--{/if}-->>Male</option>
							</select>
						</div>
					</fieldset>
				</div>
				<div class="col-md-6">
					<fieldset>
						<legend>Address Information</legend>
						<div class="form-group">
							<label for="address1">Address</label>
							<textarea id="address1" name="address1" value="<!--{$userinfo->address1}-->" rows="3" class="form-control" required><!--{$userinfo->address1}--></textarea>
						</div>
						<div class="form-group">
							<label for="address2">Address</label>
							<textarea id="address2" name="address2" value="<!--{$userinfo->address2}-->" rows="3" class="form-control"><!--{$userinfo->address2}--></textarea>
						</div>
						<div class="form-group">
							<label for="country">Nationality</label>
							<select id="country" name="country" required class="form-control signup-input">
								<!--{if !empty($countries)}-->
								<!--{foreach $countries as $country}-->
									<option value="<!--{$country->name}-->" <!--{if $userinfo->country==$country->name}-->selected<!--{/if}-->><!--{$country->name|capitalize}--></option>
								<!--{/foreach}-->
								<!--{/if}-->
							</select>
						</div>
						<div class="form-group">
							<label for="state">State of Origin</label>
							<select id="state" name="state" required class="form-control signup-input">
								<!--{if !empty($states)}-->
								<!--{foreach $states as $state}-->
									<option value="<!--{$state->name}-->" <!--{if $userinfo->state==$state->name}-->selected<!--{/if}-->><!--{$state->name|capitalize}--></option>
								<!--{/foreach}-->
								<!--{/if}-->
							</select>
						</div>
						<div class="form-group">
							<label for="citi">City | Local Govt Area</label>
							<input type="text" name="city" value="<!--{$userinfo->city}-->" id="citi" class="d-none form-control signup-input" list="city">
							<select id="city" name="city" class="form-control signup-input"> 
								<!--{if !empty($cities)}-->
								<!--{foreach $cities as $city}-->
									<option value="<!--{$city->name}-->" <!--{if $userinfo->state==$state->name}-->selected<!--{/if}-->><!--{$city->name|capitalize}--></option>
								<!--{/foreach}-->
								<!--{/if}-->
							</select>
						</div>
						<div class="form-group">
							<button class="btn btn-primary btn-block" type="submit" name="personal">Update Changes</button>
						</div>
					</fieldset>
				</div>
			</form>
		</div>
	</div>
</section>
<!--{/block}-->