<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<div class="row" style="margin-top: 5rem;" id="invoice">
	<div class="w-100">
		<div class="panel-heading bg-pink text-pink text-center" style="padding-top: 2rem; padding-bottom: 4rem;">
			<h2 class="text-dark">Payment Receipt</h2>
		</div>
		<div class="container">
			<!--{if !empty($subDetail)}-->
			<div class="card shadow m-4 p-2 panel-body text-center">
				<div class="col">
					<h3>Receipt Info:</h3>
					<hr>
					<h3><strong>Date: </strong><!--{$Site.dateNow}--></h3><br>
					<h3><strong>Invoice ID: </strong><!--{$payDetail->transid}--></h3><br>
					<h3><strong>Name: </strong><!--{$subDetail->firstname|ucfirst}-->  <!--{$subDetail->surname|ucfirst}--></h3><br>
					<h3><strong>Email: </strong><!--{$subDetail->email}--></h3><br>
					<h3><strong>Product:  </strong><!--{$subDetail->product}--></h3><br>
					<h3><strong>Amount Paid: </strong>&#8358;<!--{$payDetail->amount|number_format:2}--></h3><br>
				</div>
			</div>
			<!--{else}-->
			<!--{if !empty($invDetail)}-->
			<div class="card shadow m-4 p-2 panel-body text-center">
				<div class="col">
					<h3>Receipt Info:</h3>
					<hr>
					<h3><strong>Date: </strong><!--{$Site.dateNow}--></h3><br>
					<h3><strong>Invoice ID: </strong><!--{$payDetail->transid}--></h3><br>
					<h3><strong>Name: </strong><!--{$invDetail->firstname|ucfirst}-->  <!--{$invDetail->surname|ucfirst}--></h3><br>
					<h3><strong>Email: </strong><!--{$invDetail->email}--></h3><br>
					<h3><strong>Product:  </strong><!--{$invDetail->product}--></h3><br>
					<h3><strong>ROI:  </strong>&#8358;<!--{$invDetail->detail->roi|number_format:2}--></h3><br>
					<h3><strong>Matuinity:  </strong>&#8358;<!--{$invDetail->detail->matunity|number_format:2}--></h3><br>
					<h3><strong>Amount Paid: </strong>&#8358;<!--{$payDetail->ampunt|number_format:2}--></h3><br>
				</div>
			</div>
			<!--{else}-->
			<div class="col-md-12">
				<div class="alert bg-white text-dark col-md-8 col-md-offset-2 text-center" role="alert">
					<strong>
						No Payment is currently made
					</strong>
				</div>
			</div>
			<!--{/if}-->
			<!--{/if}-->
		</div>
		<!--{if !empty($fail)}-->
			<!--{$fail}-->
		<!--{/if}-->
	</div>
</div>
<!--{/block}-->
