<!--{extends file="dashboard.html"}-->
<!--{block name="content"}-->
<div class="container content-area m-4">
    <div class="middle-align">
        <div class="property-details">
            <div class="card card-shadow">
                <div class="m-4 p-4 card-body w-75 text-center alert alert-success">
                    <h2>Thank you for your subscription, Your details has been recorded and sent!</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!--{/block}-->