<div class="row justify-content-center"><h3>Account Information</h3></div>
<div class="row justify-content-center mb-3"><h5>Account Name : Brit Property Nigeria LTD</h5>
<p>
  Note: Please note that all payments must be made through any of our company’s account below.
</p>
</div>
    <div class="row justify-content-center">
      <div class="col-4 justify-content-center"> 
        <div class="card border-0" >
          <img src="https://1.bp.blogspot.com/-MKJ-UUIE1cM/XS9z4xBVYAI/AAAAAAAA9A4/tCUKVlSw4mg5zbPB9vjb5z7In90xQQnPQCLcBGAs/s1600/images%2B%252870%2529.jpeg" alt="FIdelity Bank" class="card-img-top rounded-circle mx-auto img" style="
          width:  100px;
          height: 100px;
          background-size: cover;">
          <div class="card-body text-center">
            <p class="card-text">Account Numbers</p>
            <p>
              <small>
                5080130958-NAIRA 
              </small>
            </p>
          </div>
        </div>
      </div>
    </div>