<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container">
  <h1 class="text-center my-5">ADVERTISING</h1>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-5">
      <p>
        To inquire about advertising opportunities please contact us at <a href="mailto:info@dufferincountycba.org">info@dufferincountycba.org</a> or <a href="tel:6472101939">6472101939</a>. 
      </p>
    </div>
  </div>
</div>
<!--{/block}-->