<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="cover">
		<section class="expert1">
			<div class="first-section">
				<img src= "<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/dccbaask2.png" alt="">
				<a class="btn btn-danger btn-block">Wednesday, June 24, 2020 12 PM - 1 PM</a>
			</div>
			<div class="second-section">
				<p>Ask A Proffessional</p>
				<h1>Anthony Stephen Benjamin</h1>
				<p class="long-text">Anthony Stephen Benjamin has distinguished himself as an astute accountant providing assurance and consultancy services to organizations and businesses both local and international. He has built solid consistent relationships with his clients and offers timely, valuable and practical solutions to their business needs.

				A firm believer in giving back and a consummate volunteer, Michael’s hobby is to support charities and not-for-profits by providing pro bono financial statements audits and financial advice.

				His charitable activities include board and committee work with the Ontario Trillium Foundation, York Region Children’s Aid Society and York Regional Police, as well as Treasurer for a number of charitable organizations. In addition, for over sixteen years, he has served CPA Ontario as a Tax Preparer with its Annual Tax Clinic and other volunteer work on panels.

				Michael is eager to answer all your business tax questions. He will be answering questions on Wednesday, June 24, 2020 between 12 p.m. to 1 p.m. on Zoom. Click below to Register and have your questions answered.</p>
				<a class="btn btn-block btn-outline-dark">Start Zoom Meeting</a>
			</div>	
		</section>
	</div>
<!--{/block}-->
