<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <div class="innerbanner" >                
        <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/property-banner5.jpg" alt="">       
    </div> 
<!--{/block}-->
<!--{block name="hero-text"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container-lg container-fluid content-area">
  <div class="row">
    <div class="col-lg-8">
      <article id="post-48" class="post-48 page type-page status-publish hentry">
        <header class="entry-header">
          <h1 class="entry-title">BritRealty &nbsp &nbsp<a class="btn btn-lg btn-danger btn-theme3 m-3" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/realty">PROPERTY REQUEST FORM</a></h1>
          <p><em>….for your accommodation & comfort.</em></p>
            

        </header><!-- .entry-header -->
        <div class="row">
          <div class="col-4">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/britrealty.jpg" alt="" srcset="">
          </div>
          <div class="col-8">
            <div class="entry-content">
              <h3>About BritRealty</h3>
              <p> Did you just move into Lagos?<br>
                 Are you based in Lagos but need to change location?<br>
                Do you need an office space for your company or business?
             </p>
              <p>Brit-Realty is the name to call on for all your relocation needs.
              </p>
              <hr>
              <p>
                This is the arm of Brit Property Nigeria Ltd that caters to the ever present and ever 
                increasing accommodation challenge prevalent in the Lagos Metropolis.
                We provide agency services to clients who may desire to buy or rent properties in Lagos.

              </p>
            </div><!-- .entry-content -->
          </div>
          <div class="row">
            <p>Our scope is the whole of Lagos Metropolis but with particular emphasis on choice areas and properties
               that offer modern and state of the art features and 
               facilities to suit the preferences and needs of our clients,
               both individual and corporate.
              .</p>
          </div>
          <div class="row">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/bibanner.jpg" alt="" srcset="">
          </div>
            <p>We further protect the interest of our clients by ensuring that the 
              properties we provide are non-contentious and free from all forms of 
              restrictions and encumbrances capable of interfering with peaceful possession.</p>
          <div class="row">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Brit-Invest-Banner-6.jpg" alt="" srcset="">
          </div>
          <div class="row">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/5.jpg" alt="" srcset="">
          </div>
          
        </div>
      </article>
    </div>
    <div class="col-lg-4">
      <div class="row justify-content-center">
        <div class="col">
          <img class="img-fluid m-2" style="max-height: 1000px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/SV-Banner.jpg" alt="" srcset="">
          <img class="img-fluid m-2" style="max-height: 1000px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/VL-Banner.jpg" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>
  </div>
<!--{/block}-->