
<span class="chat-careButton"><i class="fa fa-headphones fa-2x"></i></span>
<div class="chatApp invisible">
	<div class="card p1">
	  	<div class="card-heading chatHeader">
		    <h3 class="card-title chatTitle">Atobe CC - How can we help you today?</h3>
		    <span class="chatClose pull-right">x</span>
	  	</div>
	  	<div class="card-body chatBody" id="newChat">
	  		<div class="card-title chatFr2"></div>
	  		<div class="form-group chatFr">
	  			<label class="form-label">Name</label>
	  			<input name="messageName" id="chatName" class="form-control messageName"/>
	  		</div>
	  		<div class="form-group chatFr">
	  			<label class="form-label">Email</label>
	  			<input name="messageEmail" id="chatEmail" class="form-control messageEmail"/>
	  		</div>
	  		<div class="form-group chatFr2 chatListing">
	  		</div>
	  		<div class="form-group">
	  			<label class="form-label chatMsgLabel">Describe your message here...</label>
	  			<textarea name="messageTitle" id="chatMsg" class="form-control messageTitle" rows="2"></textarea>
	  		</div>
	  	</div>
	    <div class="card-footer py-1 chatFooter">
	    	<button class="btn btn-primary  chatSave chatStart">Start</button>
	    	<button class="btn btn-danger  chatEnd">Close</button>&nbsp;
	    </div>
	</div>
</div>
