<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<div class="owl-carousel-wrapper">
  <div class="box-92819">
    <h2 class="text-white mb-3">Community Outreach</h2>
  </div> 
  <div class="ftco-cover-1 overlay" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/community_outreach1.jpg');"></div>
</div>
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="site-section">
  <div class="container">
    <div class="row mb-5 justify-content-center">
      <div class="col-md-6 text-center mb-5">
        <h2 class="text-cursive">Our Community Outreach Team</h2>
      </div>
      <div class="col-md-10 text-center mb-5">
        <p>We provide keynote address and presentations on various topics including Black History Month, Diversity, Culture, Equity & Inclusion.  To book one of our speakers please reach out to us at info@dufferincountycba.org or each speaker individually.</p>
      </div>
    </div>
    <div class="row align-items-stretch">
      <!-- <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="images/Board_img2.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark">Geer Harvey</span>
            <p>Working in children's mental health and child welfare.</p>
          </div>
        </div>
      </div> -->
      <div class="col-lg-6 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/ale_1_2a.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark">Alethia O’Hara-Stephenson CIP MBA</span>
            <p>President.</p>
            <p class="text-justify">Alethia O’Hara-Stephenson is the CEO of Alethia Enterprise., a Small business consulting, coaching and speaking business.   She is also business professional in the Financial Services industry with over 20 years of progressive leadership experience.  
              Alethia has a reputation of advocating for the needs of her community and amplifying the voices of marginalized and racialized individuals.  She has a track record of getting things done.  She has successfully championed and led a number of initiatives, such as the request to recognize Black History Month for the first time in Dufferin County, which was unanimously approved by council, along with the first Pan African Flag raising ceremony that also gained unanimous approval by council.  Alethia organized the first Black History Month celebration in partnership with the Museum of Dufferin and students from the Youth Advisory Committee at Center Dufferin District High school.  
              Alethia successfully presented a recommendation to Dufferin County Council to establish and Diversity, Equity and Inclusion committee which was adopted by council.  She is a member of the Hills of Headwaters Collaborative community wellness community, Dufferin County Accessibility Committee and Director of the Center Dufferin District High School Youth Advisory Committee as well as the Chair of the Anti-Black Racism, Racism & Discrimination Task Force for the Town of Shelburne.  
              She is the recipient of the Town of Shelburne’s highest award, the Community Excellence Award and has also been recognized as one of 2020’s Women of Influence.  
              Alethia holds a Bachelor of Arts Degree in Political Science from York University and an MBA in Leadership & Innovation from Edinburgh Napier University in Scotland.  Alethia has lectured in the states, delivered presentations on Diversity & Inclusion, delivered research paper at the Management Governance and Ethical Finance Conference in Scotland and delivered keynote address in Montreal on Leadership and Education.  She has also hosted town hall sessions with community leaders on issues regarding anti-discrimination and equity for marginalized individuals in society.
              </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Phil_dewar_1.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark"> Phil Dewar </span>
            <p>Community Outreach Leader & Speaker.</p>
            <p class="text-justify">Phil is a long-term resident in the Town of Shelburne and former business owner of the popular and award winning restaurant Soulyve. 
            Phil has extensive experience working with community stakeholders, politicians and youths with the goal of building a safer and inclusive community for all within Dufferin County. 
            Phil’s advocacy in the community includes being a Panelist and Speaker at the 2020 Black History Event Held at the Muesuem of Dufferin. 
            A speaker at the County of Dufferin Flag Raising ceremony and Dufferin Child & Family Services (DCAFS) Black History Event. 
            Phil was also a Panelist with Orangeville Mayor Sandy Brown on Systemic Racism and Discrimination and one of the Keynote Speakers at the Orangeville Black Lives Matter march.

            To book Phil Dewar for your next event, please send your inquires to phil@dufferincountycba.org.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--{/block}-->