<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<div class="owl-carousel-wrapper">
  <div class="box-92819">
    <h1 class="text-white mb-3">Board Of Directors</h1>
    <p class="lead text-white">Meet The Great Minds Behind DCCBA</p>
  </div>
    <div class="ftco-cover-1 overlay" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/event-placeholder_old2a.jpg');"></div>
</div>
<!--{/block}-->
<!--{block name="main_content"}-->
<!-- Modals -->
<!-- Modal -->
<div class="modal fade" id="board1" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About Alethia O'Hara-Stephenson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No Content yet
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="board2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About Geer Harvey</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Geer Harvey has been working in children's mental health and child welfare for over 20 years.  Working with young people has been part of his professional and personal life. Since moving to Dufferin, he has been volunteering with the local soccer club as a parent coach. Geer is currently a board member of Centre Dufferin Recreation Complex, Shelburne Minor Soccer club and Orangeville Christian School. Professionally Geer holds a Master’s in Social Work degree from York University, and has had the opportunity to work as a part time instructor with Sheridan and Humber Colleges in their Social Service Worker program. Geer's goal with the Dufferin County Canadian Black Association is to foster community and to normalize the contributions of Black people in this community. The work he hopes to put into this community is work that has been poured into him by the people that have come before him.  Geer is a husband, father, brother, uncle, son, and grandfather. 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="board3" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">About Linda Grant</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        No Content yet
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- //Modals -->
    
  <div class="site-section">
    <div class="container">
      <div class="heading-20219 mb-5">
        <h2 class="title text-cursive text-center">Dufferin County Canadian Black Association Board Of Directors</h2>
        <br>
        <div class="card-deck">
          <div class="card">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img1.jpg" class="card-img-top" alt="director" style="max-height: 20rem;">
            <div class="card-body">
              <h6 class="card-title">Alethia O'Hara-Stephenson CIP, MBA</h6>
              <p class="card-text"> President</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#board1">
                Read More
              </button>
            </div>
          </div>
          <div class="card">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img2.jpg" class="card-img-top" alt="director" style="max-height: 20rem;">
            <div class="card-body">
              <h6 class="card-title">Geer Harvey</h6>
              <p class="card-text">...</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#board2">
                Read More
              </button>
            </div>
          </div>
          <div class="card">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img3.jpg" class="card-img-top" alt="director" style="max-height: 20rem;">
            <div class="card-body">
              <h6 class="card-title">Linda Grant CFP</h6>
              <p class="card-text">...</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#board3">
                Read More
              </button>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
<!--{/block}-->