<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<div class="owl-carousel-wrapper">
  <div class="box-92819">
    <h1 class="text-white mb-3">Board Of Directors</h1>
    <p class="lead text-white">Meet The Great Minds Behind DCCBA</p>
  </div>
    <div class="ftco-cover-1 overlay" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/event-placeholder_old2a.jpg');"></div>
</div>
<!--{/block}-->
<!--{block name="main_content"}-->
<!-- Modals -->
<!-- Modal -->
<div class="row align-items-stretch">
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/ale_1_2a.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark">Alethia O’Hara-Stephenson CIP MBA</span>
            <p>President</p>
            <p>Alethia O’Hara-Stephenson is the CEO of Alethia Enterprise., a Small business consulting, coaching and speaking business.   She is also business professional in the Financial Services industry with over 20 years of progressive leadership experience.  
              Alethia has a reputation of advocating for the needs of her community and amplifying the voices of marginalized and racialized individuals. She has a track record of getting things done.  She has successfully championed and led a number of initiatives, such as the request to recognize Black History Month for the first time in Dufferin County, which was unanimously approved by council, along with the first Pan African Flag raising ceremony that also gained unanimous approval by council. Alethia organized the first Black History Month celebration in partnership with the Museum of Dufferin and students from the Youth Advisory Committee at Center Dufferin District High school.  
              Alethia successfully presented a recommendation to Dufferin County Council to establish and Diversity, Equity and Inclusion committee which was adopted by council.  She is a member of the Hills of Headwaters Collaborative community wellness community, Dufferin County Accessibility Committee and Director of the Center Dufferin District High School Youth Advisory Committee as well as the Chair of the Anti-Black Racism, Racism & Discrimination Task Force for the Town of Shelburne.  
              She is the recipient of the Town of Shelburne’s highest award, the Community Excellence Award and has also been recognized as one of 2020’s Women of Influence.  
              Alethia holds a Bachelor of Arts Degree in Political Science from York University and an MBA in Leadership & Innovation from Edinburgh Napier University in Scotland.  Alethia has lectured in the states, delivered presentations on Diversity & Inclusion, delivered research paper at the Management Governance and Ethical Finance Conference in Scotland and delivered keynote address in Montreal on Leadership and Education.  She has also hosted town hall sessions with community leaders on issues regarding anti-discrimination and equity for marginalized individuals in society.
              </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img3.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark"> Linda Grant </span>
            <p>Director</p>
            <p>Linda Grant is the founder and CEO of Lyngrant Financial Services who has been serving our community for many years and empowering women to become financially confident.  Her goal is to ensure that women have the tools to enable them to take care of themselves and their families as often times women are underserved or receive mediocre advice.  
              Linda has several years of Board experience, including serving on the Economic Development Board for Dufferin County & Dufferin Women in Business.  Linda has also hosted and organzed several Financial Literacy Sessions for women and children, providing valuable tools, tips and advice to enable women to become financially confident.  Linda understands the direct impact of wealth and health and as such advocates for financial knowledge starting as early as possible.  She is a firm believer in continuous growth and learning and as such is currently pursuing a degree in Business Administration.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
      <div class="post-entry-1 h-100 bg-white text-center">
        <a href="#" class="d-inline-block">
          <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img5.jpg" alt="Image"
            class="img-fluid">
        </a>
        <div class="post-entry-1-contents">
          <span class="meta text-dark"> Jhordane Stephenson </span>
          <p>Director</p>
          <p>Jhordane Stephenson is a proven leader in the customer experience and training sector and offers expertise in providing a differential approach to customer experience, facilitation, people management, and relationship management. These key strengths have allowed Jhordane to gain credibility with his teams and audiences, which has helped him to develop critical relationships with clients, key stakeholders, and executive leadership. 

            He a passionate professional, driven to deliver first class results. His breadth of experience and strong work ethic will enable him to make immediate and valuable contributions to the Dufferin County Canadian Black Association.  

            Jhordane also has a strong passion for developing our youth, through mentorship and skill building.  He is a firm believer in following your dreams and putting in the time and effort to achieve them and is often sought after by peers and his former high school to provide mentorship and advice on various topics.    
</p>
        </div>
      </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-5">
        <div class="post-entry-1 h-100 bg-white text-center">
          <a href="#" class="d-inline-block">
            <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Board_img4.jpg" alt="Image"
             class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <span class="meta text-dark">Geer Harvey</span>
            <p>Director</p>
            <p>Geer Harvey has been working in children's mental health and child welfare for over 20 years. Working with young people has been part of his professional and personal life. Since moving to Dufferin, he has been volunteering with the local soccer club as a parent coach. 
              Professionally Geer holds a Master’s in Social Work degree from York University, and has had the opportunity to work as a part time instructor with Sheridan and Humber Colleges in their Social Service Worker program. Geer's goal with the Dufferin County Canadian Black Association is to foster community and to normalize the contributions of Black people in this community. The work he hopes to put into this community is work that has been poured into him by the people that have come before him. Geer is a husband, father, brother, uncle, son, and grandfather.
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--{/block}-->