<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Events <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">CSR/Events</h1>
          </div>
        </div>
      </div>
    </section>
<!--{/block}-->
<!--{block name="main_content"}--> 
<div class="ftco-section">
  <div class="container">
    <div class="headline text-center mt-3"><h2> <span class="text-dark border-primary border-bottom"> Events Calendar</span></h2></div>
    
      <!--{if !empty($fail)}--><div class="form-group"><!--{$fail}--></div><!--{/if}-->
    <div class="row mt-4">
        <div class="table-responsive">
          <div id='wrap' style="width: 100%!important;">
      
            <div id='calendar'></div>
            
            <div style='clear:both'></div>
          </div> 
        </div>
      </div>
    </div>
</div>
<div class="ftco-section">

  <div class="container">
    <h1 class="text-center wow fadeInUp">Our Events</h1>
    <div class="row justify-content-center">
    <!--{if !empty($events)}-->
        <div class="col-12">
          <div class="row">
            <div class="col-md-4">
               <!--{include file="paging-top.html"}-->
            </div>
          </div>
        </div>
        <!--{foreach $events as $event}-->
        <div class="col-md-4">
            <div class="cause shadow-sm">
              <a href="#" class="cause-link d-block" style="background-color: #343a40">
                <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($event->image)}--><!--{$event->image}--><!--{else}-->site/media/i/agric9.jfif<!--{/if}-->"  style="height: 220px;"alt="Image" class="img-fluid w-100">
                <div class="custom-progress-wrap">
                  <div class="custom-progress-inner">
                    <div class="custom-progress bg-danger" style="width: 80%;"></div>
                  </div>
                </div>
              </a>
              <div class="px-3 pt-3 border-top-0 border border shadow-sm">
                <h5 class="text-muted"><!--{$event->eventdate|date_format: "%d %a %b, %Y %k:%M%p"}--></h5>
                <span class="badge-danger py-1 small px-2 rounded mb-3 d-inline-block"><!--{$event->title}--></span>
                <div class="mb-4" style="overflow-y: auto; height: 100px;"><!--{$event->content_stripe}--></div>
              </div>
            </div>
        </div>
        <!--{/foreach}-->
        <div class="col-12 text-center m-4">
          <!--{include file="paging-bottom.html"}-->
        </div>
    <!--{else}-->
      <div class="alert alert-info col-md-10"><p class="alert-heading">No record found</p></div>
    <!--{/if}-->
    </div>
  </div>
</div>

<!--{/block}-->
