<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
    <section id="why-us" class="wow fadeIn">
        <div class="container-fluid mt-5">
			<div class="row justify-content-center">
				<div class="col-sm-11"><h2>F.A.Q.</h2></div>
				<div class="col-sm-11 mb-5">
					<div class="accordion" id="accordionExample">
						<div class="card">
							<div id="headingOne" class="card-header mb-0 bg-success btn-success text-white" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<h3>
									How do I login into the application?
								</h3>
							</div>
							<div id="collapseOne" class="collapse site-bg-1 rounded show" aria-labelledby="headingOne" data-parent="#accordionExample">
								<div class="card-body text-white">
									Dunis Technologies Admin would send your credentials to your email.
								</div>
							</div>
						</div>
						<div class="card">
							<div id="headingTwo" class="card-header mb-0 bg-success btn-success text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<h3>
									What if I forget my Login details?
								</h3>
							</div>
							<div id="collapseTwo" class="collapse site-bg-1 rounded " aria-labelledby="headingTwo" data-parent="#accordionExample">
								<div class="card-body text-white">
									First of all, please check your email to check the username and password sent to you. Or you can contact Dunis Technologies Admin to reset the password.
								</div>
							</div>
						</div>
						<div class="card">
							<div id="headingThree" class="card-header mb-0 bg-success btn-success text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<h3>
									Who do I contact if I have a question?
								</h3>
							</div>
							<div id="collapseThree" class=" site-bg-1 rounded collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
								<div class="card-body text-white">
									There are various ways to contact us. You can click on the contact us button to reach to us.
								</div>
							</div>
						</div>
						<div class="card">
							<div id="headingFour" class="card-header bg-success btn-success mb-0 text-white collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<h3>
									How do I get my courses?
								</h3>
							</div>
							<div id="collapseFour" class=" site-bg-1 rounded collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
								<div class="card-body text-white">
									Once you are able to login, our Admin would have set your profile up including your course(s).
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--{/block}-->