<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="pageTitle">Financing</h2>
                </div>
            </div>
        </div>
    </section>
<!--{/block}-->
<!--{block name="top-content"}-->
	<section id="content">
		<div class="container" style="background-color: #080808; color: #fff;">
			<div class="row">
				<div class="skill-home">
					<div class="skill-home-solid clearfix"> 
						<div class="col-md-3 text-center">
							<span class="icons c1"><i class="fa fa-building-o"></i></span>
							<div class="box-area">
								<h3>Real Estate</h3> <p>To be a recognized leader in the Property development industry with the highest ethical standard, demonstrating integrity, honesty  and fairness in every decision and action.</p>
						    </div>
						</div>
						<div class="col-md-3 text-center"> 
							<span class="icons c2"><i class="fa  fa-money"></i></span>
							<div class="box-area">
								<h3>Financing</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
							</div>
						</div>
						<div class="col-md-3 text-center"> 
							<span class="icons c3"><i class="fa   fa-building-o"></i></span> 
							<div class="box-area">
								<h3>Construction</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
							</div>
						</div>
						<div class="col-md-3 text-center"> 
							<span class="icons c4"><i class="fa fa-globe"></i></span>
							<div class="box-area">
								<h3>Facility</h3> <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt eius magni provident</p>
							</div>
						</div>
					</div>
				</div>
			</div> 
			<div class="Existing projects" class id="projects">
				<h1 class="entry-title text-center"style="color:#e61b4a; ">Making your success our <span class="color">business.</span></h1>
	              
	              <p>Understanding that transactions can be complex and highly personal to you is our starting point. We look at the world through your eyes. Spending time understanding and executing exactly what you are trying to achieve – whether it is preparing you for a liquidity event or advising on a growth strategy.</p>
	              <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/works/fin3.JPG" width="100%">

	               <h2 class="entry-title text-center" style="color:#e61b4a; "><strong>With you all the way</strong></h2>
	               <p>Whether you are an entrepreneur, a family-owned business or single family office, a senior member of our team will be at your side to help you navigate through the key decisions that you need to take. We build long-term relationships with clients and place enormous importance on confidentiality and discretion, at all times.</p>
	               <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/works/fin6.JPG" width="100%">
			<!-- Portfolio Projects -->

				<!--<div class="row">
					<div class="col-lg-12">
						<h2 class="text-center">Our Existing<span class="color">Projects</span></h2>
						<div class="row">
							<section id="projects">
								<ul id="thumbs" class="portfolio"> 
									<li class="col-lg-6 design" data-id="id-0" data-type="web">
									<div class="item-thumbs">
									<h3>Best Western Estate Apakin, Ibeju Lekki</h3>					 
									<img src="img/works/f1.PNG"  alt="">
									<p class="text-justify">Together with other stakeholders, Lola & Clover Limited through it Best Western Estate is creating a new welcoming and friendly residential/commercial community in Apakin,Ibeju Lekki, a part of Lagos that is fast becoming known as the ‘new Lagos’ seating on multi-billion dollar projects and projected to increase ROI outlay in real estate investments in few years.</p>
									</div>
									</li> 
									<!-Item Project and Filter Name -->
									<!--<li class="item-thumbs col-lg-6 design" data-id="id-1" data-type="icon">
									<h3>Fair Heaven Gardens and park Estate, Ibeju Lekki</h3>
									<img src="img/works/f2.PNG" alt="">
									<p class="text-justify">Fair Heaven Gardens and park Estate a planned well-outline urban-living-commercial community initiative Intended for distinguished companies/ families. It is Located few minutes to Dangote reﬁnery, Deep seaport and free trade Zone. Together with other estates and planned infrastructures like Perimeter Fencing, Roads, Drainage Estate Security, Street Light, Garden/green areas, recreational area and commercial area, It is potentially ideal for companies and individuals who wish to live comfortably and contribute positively to life in Ibeju Lekki</p>
									</li> 
									<li class="item-thumbs col-lg-4 photography" data-id="id-2" data-type="illustrator">
										<h3>Urbantouch Gardens Estate</h3>
									<img src="img/works/3.jpeg" alt="">-->
									<!--<p class="text-justify">Promoted by Lola & Clover Limited, Urbantouch Garden is Well-priced and affordable, NPA Custom Quays Multi-purpose Society’s members can experience our planned grandeur of urban living in Castle Hills Villa and its marvelously landscaped grounds and undulating lawn running down to it gates. Castle Hills Villa is unique for its dryness and topography and the best choice in real estate investment for low budget home searchers in a secure estate setting or investors looking to literally grow their investment in an expanding commercial area</p> -->
									
									<!-- End Item Project -->
								<!--</ul>
							</section>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</section>
<!--{/block}-->
<!--{block name="testimonial"}-->
	<div class="testimonial-area">
        <div class="testimonial-solid">
            <div class="container">
	            <div class="testi-icon-area">
	                <div class="quote">
	                   <i class="fa fa-microphone"></i>
	                </div>
	            </div>
		        <div id="myCarousel" class="carousel slide">
				  <!-- Carousel items -->
				  <div class="carousel-inner">
				    <div class="active item">
				        <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/slides/fin3.jpg" />
				        <div class="carousel-caption">A long-term approach means long-term advice from our team of experienced professionals. Adapting to wherever you are in your business lifecycle, while maintaining focus on future opportunities alongside your personal objectives.</div>
				    </div>
				    <div class="item">
				        <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/slides/fin4.jpg" />
				        <div class="carousel-caption">Thoughtful structuring and strong execution is built on industry leading insight. Adapting to an ever changing landscape, our research and first-hand experience helps business owners and leaders to shape innovative outcomes.</div>
				    </div>
				    <div class="item">
				        <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/slides/fin5.jpg" />
				        <div class="carousel-caption">Devising the right response to what can be a defining moment in any entrepreneur’s life demands a tailored approach that draws from the full breadth of knowledge available. Singular situations require a singular approach.</div>
				    </div>
		  		  </div>
		  		  <!-- Carousel nav -->
				  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
				</div>
	        </div>
           <!-- <div class="item">
                <p>Thanks once again for visiting www.oliviakyleproperties.com - our online real estate source. For any real estate questions, please feel free to contact us by phone or email and we shall be glad to assist you.</p>
               
            </div>
            <div class="item active">
                <p>The relationship between a home buyer or seller and their agent is based on trust, shared goals and understanding. We strive to continually to maintain and enhance this relationship.</p>
               
            </div>
            <div class="item">
                <p>The relationship between a home buyer or seller and their agent is based on trust, shared goals and understanding. We strive to continually to maintain and enhance this relationship.</p>
                
            </div>-->
        </div>
    </div>
<!--{/block}-->
