<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
    <div class="container top-margined p-5">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="h4"><span>Having Trougle Loging In?</span></div>
        </div>
            <div class="col-8 mt-3">
                <div class="cta_content ">
                    <form method="post">
                        <div class="form-group">
                            <label for="dataRecoverEmail" class="sr-only">Your E-mail</label>
                            <input type="text" class="form-control form-control-lg h-100" id="dataRecoverEmail" placeholder="Enter Recovery Email" value="<!--{if !empty($remail)}--><!--{$remail}--><!--{/if}-->" name="dataRecoverEmail" required>
                        </div>
                        <div class="form-row">
                            <!--{if !empty($fail)}-->
                                <!--{$fail}-->
                            <!--{/if}-->
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" name="dataConfirm" value="signup">Request For Reset Link</button>
                        </div>
                        <div class="form-group text-center">
                            Can remember you password? <a class="login site-text" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/login">Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--{/block}-->
<!--{block name="general-message"}-->
<!--{/block}-->