<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
        <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->/site/media/i/bg_1.jpg<!--{/if}-->');" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
			  <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
				<div class="col-md-9 ftco-animate pb-0 text-center">
					<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Gallery <i class="fa fa-chevron-right"></i></span></p>
				  <h1 class="mb-3 bread">Gallery</h1>
				</div>
			  </div>
			</div>
		  </section>
<!--{/block}-->
<!--{block name="main-wrapper"}-->
  <main>
<!--{/block}-->
<!--{block name="main_content"}-->
<section class="container">
	
	 <div class=" row"> 
		 <!--{if !empty($galleries)}-->
		<!--{foreach $galleries as $gallery}-->
		<div class="col-lg-4">
			<!-- item -->
			<figure class="rounded caption-1">
			  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$gallery->image}-->" alt="" desc="<!--{$gallery->description|ucfirst}-->" class="imageSource w-100 card-img-top border border-white border-md">
			  <figcaption class="px-5 py-4 text-right text-dark">
				<h2 class="h5 font-weight-bold text-dark mb-0"><!--{$gallery->title|ucfirst}--></h2>
				<p class="text-small"><!--{$gallery->description|ucfirst}--></p>
			  </figcaption>
			</figure>
		  </div>
		<!--{/foreach}-->
		<div class="col-sm-10 mt-5">
			<!--{include file="paging-bottom.html"}-->
		</div>
	 <!--{/if}-->
	</div>
</section>
<!-- Trigger the Modal -->
<!-- The Modal -->
<div id="galleryModal" class="modal">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="modalImage">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
<!--{/block}-->