
	  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light p-0" id="ftco-navbar">
	    <div class="container">
	      <a class="navbar-brand" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default"><img src="site/media/images/atobe-new-logo1.png" width="100px"></a>
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/about" class="nav-link">Who We Are</a></li>
	          <li class="nav-item"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/projects" class="nav-link">Estates</a></li>
            <li class="nav-item dropdown">
              <a class="nav-link " data-toggle="dropdown" id="otherservices" href="#" role="button" aria-expanded="false" aria-haspopup="true">
              Other Services
              </a> 
              <div class="dropdown-menu" aria-labelledby="otherservices">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/investments" >Investments</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/project" >Constructions</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/real-estate" >Properties</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/lease-form" >Lease</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/agriculture" >Atobe Agric</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " data-toggle="dropdown" id="specials" href="#" role="button" aria-expanded="false" aria-haspopup="true">
              Atobe Specials
              </a>
              <div class="dropdown-menu" aria-labelledby="specials">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/promos" >Atobe Promos</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/atobe-rush" >Atobe Rush</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/atobe-cafe" >Atobe Cafe</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/events" >CSR/Events</a></li>
                </ul>
              </div>
            </li>
                <li class="nav-item dropdown">
	        		 <a class="nav-link " data-toggle="dropdown" id="login1" href="#" role="button" aria-expanded="false" aria-haspopup="true"> Login
                     </a>
                 <div class="dropdown-menu" aria-labelledby="login1">
                 <ul class="list-group list-group-flush">
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/login">Client's Login</a></li>
                  <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/login?c=true">Consultant Login</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/admin">Staff Login</a></li>
                    </div>
          </li>
              <li class="nav-item dropdown"><a class="nav-link " data-toggle="dropdown" id="newsmedia" href="#" role="button" aria-expanded="false" aria-haspopup="true">
              News & Media
            </a>
            <div class="dropdown-menu" aria-labelledby="newsmedia">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/news">News</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/blogs">Blog</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/jobs">Jobs</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/gallery">Gallery</a></li>
                <li class="list-group-item"><a class="dropdown-item" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/videos">Videos</a></li>
              </ul>
            </div>
          </li>
	          <li class="nav-item"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/contact" class="nav-link">Contact</a></li>
	          </ul>
            
	          <button type="button" class="btn btn-primary  " data-toggle="modal" data-target="#myModal1" id="site-inspection" >Book Site Inspection</button>
  
	      </div>
	    </div>
	  </nav>
	  