<div class="slider-main">
  <div id="slider" class="nivoSlider">
<img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/brit-slider1.jpg" alt="" title="#slidecaption0"/> <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/brit-slider3a.jpg" alt="" title="#slidecaption2"/> <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/brit-slider4.jpg" alt="" title="#slidecaption3"/> <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/img/brit-slider5.jpg" alt="" title="#slidecaption4"/></div> 

               
            <div id="slidecaption0" class="nivo-html-caption">

                             
   <a href="#"><h2>Your Dream Property is a click away</h2></a>						
                                                                
                                <a class="button" href="https://britproperties.ng/projects">							
          View Properties                             </a>
          

</div>                    <div id="slidecaption2" class="nivo-html-caption">

                             
   <a href="#"><h2>We have the properties of your choice</h2></a>						
                                                                
                                <a class="button" href="https://britproperties.ng/projects">							
          Know More                             </a>
                              

</div>                    <div id="slidecaption3" class="nivo-html-caption">

                             
   <a href="#"><h2>We have the properties of your choice</h2></a>						
                                                                
                                <a class="button" href="https://britproperties.ng/projects">							
          Know More                             </a>
                              

</div>                    <div id="slidecaption4" class="nivo-html-caption">

                             
   <a href="#"><h2>We have the properties of your choice</h2></a>						
                                                                
                                <a class="button" href="https://britproperties.ng/projects">							
          Know More                             </a>
                              
</div>                    <div id="slidecaption7" class="nivo-html-caption">

                             
   <a href="#"><h2>Spacious and dry lands</h2></a>						
                                                                
                                <a class="button" href="#">							
          Know More                             </a>
                              

</div>                    <div id="slidecaption8" class="nivo-html-caption">

                             
   <a href="#"><h2>Well layout with modern infrastructure</h2></a>						
                                                                
                                <a class="button" href="#">							
          Know More                             </a>
                              

</div>                    <div id="slidecaption9" class="nivo-html-caption">

                             
   <a href="#"><h2>Free of Govt Acquisition and Omo Onile hassles</h2></a>						
                                                                
                                <a class="button" href="#">							
          Know More                             </a>
                              

</div>                    <div id="slidecaption10" class="nivo-html-caption">

                             
   <a href="#"><h2>REHOBOTH LAKESHORE ESTATE</h2></a>						
                                                                
                                <a class="button" href="#">							
          Know More                             </a>
                              

</div>            

</div><!-- slider -->
