<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<div class="innerbanner" >                
  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/property-banner5.jpg" alt="">       
</div> 
<!--{/block}-->
<!--{block name="hero-text"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container-lg container-fluid content-area">
<div class="row">
<div class="col-lg-8">
<article id="post-48" class="post-48 page type-page status-publish hentry">
  <header class="entry-header">
    <h1 class="entry-title">Brit Investments</h1>
    <p><em>…HELPING YOU ATTAIN FINANCIAL FREEDOM</em></p>
  </header><!-- .entry-header -->
  <div class="row">
    <div class="col-4">
      <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bv.jpg" alt="" srcset="">
    </div>
    <div class="col-8">
      <div class="entry-content">
        <h3>About BritInvest</h3>
        <p><strong>Britinvest</strong> is a land banking scheme by Brit Property Nigeria Limited.
         In the concept of banking, we are not just having your money in our custody
         but also giving you the opportunity to grow your money with great value. 
        </p>
        <p>Brit invest offers investors the opportunity to invest in our fast-appreciating estates and earn returns in a short period of time. 
          Our return-on-investment rates are very competitive and safe as we march each investment subscribed for to the size(s) of a plot land(s).  
          Our estates on the other hand, are fast appreciating.
        </p>
        <hr>
        <h3>How it Works</h3>
        <p>
          Brit invest introduces a better approach to investment
           as this product offers different packages to be taken advantage of.
           The product not only offers 15% and 33% returns in 6 months and 1 year
            respectively but also presents you the opportunity to be a land owner.
        </p>
      </div><!-- .entry-content -->
    </div>
    <div class="row">
      <p>Brit Invest operates on some of our most valuable estates, 
        upon subscription to any of the estates of your choice, investors are offered a plot or plots of land as applicable – as a collateral on investment.
        The product has been designed to enable investors with varying budgets benefit optimally.
         With multiple options to choose from, the return on investment is guaranteed at the end of each cycle.
        .</p>
    </div>
    <div class="row">
      <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/BV1.jpg" alt="" srcset="">
    </div>
    <div class="text-center">
      <a class="btn btn-lg btn-primary btn-theme3 m-3" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/invest-form?plan=15">Invest Now (15%)</a>
    </div>
    <div class="">
      <p>Each investor has three options to explore at the end of the 6 and 12-months cycles respectively:

        <ul>
          <li>
            Cash out
          </li>
          <li>
            Roll over the investment (reinvest)
          </li>
          <li>
            Take possession of the land or lands as the case may be.
          </li>
        </ul>
        </p>
        <p>
        Where the investor opts to cash out, a postdated-cheque containing the total expected amount 
        (capital and interest) will be issued to the investor at the subscription stage.</p>
        <p>
        Our aim at BritInvest is to create an enabling platform for our clients (investors) 
        attain set financial goals and financial freedom with the best known methods of investment.</p>
    </div>
    <div class="row">
      <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/BV4.jpg" alt="" srcset="">
    </div>
    <div class="text-center">
      <a class="btn btn-lg btn-primary btn-theme3 m-3" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/invest-form?plan=33">Invest Now (33%)</a>
    </div>
  </div>
</article>
</div>
<div class="col-lg-4">
<div class="row justify-content-center">
  <div class="col">
    <img class="img-fluid m-2" style="max-height: 1000px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/SV-Banner.jpg" alt="" srcset="">
    <img class="img-fluid m-2" style="max-height: 1000px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/VL-Banner.jpg" alt="" srcset="">
  </div>
</div>
</div>
</div>
</div>
<!--{/block}-->