<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Investments<i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Investments</h1>
          </div>
        </div>
      </div>
    </section>
<!--{/block}-->
<!--{block name="hero-text"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <!--{if !empty($investment)}-->
            <div class="col-md-12">
              <article id="post-48" class="post-48 page type-page status-publish hentry">
                <!--{$investment->content_stripe}-->
              </article>
              <div class="row">
                  <!--{if !empty($invest_per)}-->
                    <!--{foreach $invest_per as $invest}-->
                    <div class="col" >
                      <div class="text-center">
                        <a class="btn btn-lg btn-primary btn-theme3 m-3" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/invest-form?plan=<!--{$invest}-->">Invest Now (<!--{$invest}-->%)</a>
                      </div>
                    </div>
                    <!--{/foreach}-->
                  <!--{/if}-->
              </div>
            </div>
            
          <!--{else}-->
            <div class="col-md-12">
            <article id="post-48" class="post-48 page type-page status-publish hentry">
                <header class="entry-header">
                  <h1 class="entry-title"><!--{$Site.companyName}--> Investments</h1>
                </header><!-- .entry-header -->
                <div class="row">
                  <div class="col">
                    <div class="entry-content">
                        <p> Atobe invest makes sure that investor’s money yields the best outcome, do you want your money to start working for you or have some other custom needs?
                              Our invest scheme is a project you can trust. As the number one land banking company in Nigeria, we assure to fit in all your needs and goals.
                            Instead of keeping your money in the bank with 0- no interest, why not  put where  you get your ROI in 6months or in a year.
                        </p>
                      <p>
                        Why not invest in Land banking where: 
                        <ul style="list-style: circle;">
                          <li>
                            Your money is secured
                          </li>
                          <li>
                            Your interest guaranteed 
                          </li>
                          <li>
                            You get a land collateral
                          </li>
                          <li>
                            You are guaranteed maximum investor’s convenience
                          </li>
                          <li>
                            A track record of successful investments
                          </li>
                          <li>
                            A team of passionate and hard-working professionals
                          </li>
                        </ul>
                      </p>
                    </div><!-- .entry-content -->
                  </div>
                  <div class="row">
                      <!--{if !empty($invest_per)}-->
                        <!--{foreach $invest_per as $invest}-->
                        <div class="col" >
                          <div class="text-center">
                            <a class="btn btn-lg btn-primary btn-theme3 m-3" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/invest-form?plan=<!--{$invest}-->">Invest Now (<!--{$invest}-->%)</a>
                          </div>
                        </div>
                        <!--{/foreach}-->
                      <!--{/if}-->
                  </div>
                </div>
            </article>
            </div>
          <!--{/if}-->
        </div>
      </div>
    </section>
<!--{/block}-->