<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container">
    <h1 class="text-center my-5"> Membership Benefits</h1>
    <div class="row justify-content-center">
        <div class="card col-md-11 mb-4 mt-2 p-3">
        <h3>Membership</h3>
        <p class="my-2">
          Dufferin County Canadian Black Association provides visitors with quality membership programs, which help connect more closely with the organisation.
        </p>
        <h3>Why become a member</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h5>Specific Membership Levels.</h5>
            <p>Specific membership levels to meet your individual or corporate needs.  The DCCBA membership connects you exclusively with your specific demographic and target audience, to network, learn and market your products and services to.</p>
          </li>
          <li class="list-group-item">
            <h5>Showcase Your Business.</h5>
            <p>Business Members are featured in our quarterly newsletter, under “Business Spotlight”, highlighting your business’s noteworthy accomplishments and linking to your company profile.</p>
            <p>Business Members are also featured on our home page under Community Spotlight showcasing any major milestones or accomplishments, such as grand opening, anniversaries, or special awards etc.</p>
            <p>Businesses have the opportunity to share any upcoming special event, service or new product offered by your company to our members</p>
          </li>
          <li class="list-group-item">
            <h5>Member Discounts.</h5>
            <p>Promote your business at our events and meet future mentors, clients, or partners at exclusive rates just for members.</p>
            <p>The DCCBA offers discounts on:</p>
            <p>•  Event Booths</p>
          </li>
          <li class="list-group-item">
            <h5>Mentorship.</h5>
          </li>
            </li>
              <li class="list-group-item">
                <h5>Business:</h5>
                <p>We invite all our business members to participate in our many volunteer opportunities to develop our future leaders, partner on workshops and learning opportunities. If you are interested in becoming a mentor or simply sharing a few words at one of our workshops or events please contact us at info@dufferincountycba.org</p>
              </li>
               <li class="list-group-item">
                <h5>Non-Business:</h5>
                <p>Opportunity to participate in special workshops at exclusive rates for DCCBA members only. Priority notice about all DCCBA events and workshops. Opportunity to network with fellow members and community partners</p>
              </li>
            </ul>
        </ul>
    </div>
        <div class="card col-md-11 mb-4 mt-2 p-3">
        <h3>Membership FAQ</h3>
        <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <h5>How long does membership last?</h5>
                <p>New Membership: Membership is effective for 1 year from the date your payment is processed.</p>
                <p>Renewal Membership: Membership will be renewed for 1 year from your current membership expiry date. If your renewal payment is received after your membership has expired, your new expiration date will be 1 year from the date of renewal. <strong>Activated memberships are non-refundable</strong>.</p>
              </li>
              <li class="list-group-item">
                <h5>I am not Black. Can I still join?</h5>
                <p>Absolutely. Membership is open to everyone who supports our mission to provide leadership for the continued development and enhancement of the Black community through civic engagement, education, programs and services and advocate for equity and wellbeing for the Black community in Dufferin County. And our Mandate to promote Diversity and Equity</p>
        </div>
    </div>
    </div>
</div>
<!--{/block}-->