<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($news->image)}--><!--{$news->image}--><!--{else}-->/site/media/i/bg_1.jpg<!--{/if}-->');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>News <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread"><!--{$news->title}--></h1>
          </div>
        </div>
      </div>
    </section>
<!--{/block}-->
<!--{block name="main_content"}-->

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ftco-animate">
        <!--{$news->content_stripe}-->
        

        <div class="pt-5 mt-5">
          <h3 class="mb-5"><!--{$news->replies}--> Comments</h3>
          <ul class="comment-list">
            <!--{if !empty($comments)}-->
            <!--{foreach $comments as $comment}-->
            <li class="comment">
              <div class="vcard bio">
                <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/person_1.jpg" alt="Image placeholder">
              </div>
              <div class="comment-body">
                <h3><!--{$comment->name}--></h3>
                <div class="meta"><!--{$comment->dateadded|date_format}--></div>
                <p><!--{$comment->comment}--></p>
              </div>
            </li>
            <!--{/foreach}-->
            <!--{/if}-->
          </ul>
          <!-- END comment-list -->
          
          <div class="comment-form-wrap pt-5">
            <h3 class="mb-5">Leave a comment</h3>
            <form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/news-detail?id=<!--{$news->token}-->" method="post" class="p-5 bg-light">
              <div class="form-group">
                <label for="name">Name *</label>
                <input type="text" name="names" class="form-control" id="name">
              </div>
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="email" name="email" class="form-control" id="email">
              </div>
              <div class="form-group">
                <label for="website">Website</label>
                <input type="url" name="url" class="form-control" id="website">
              </div>

              <div class="form-group">
                <label for="message">Message</label>
                <textarea name="comment" id="message" cols="30" rows="5" class="form-control"></textarea>
              </div>
              <div class="form-group">
                <input type="submit" value="Post Comment" name="commentBtn" class="btn py-3 px-4 btn-primary">
              </div>
              <!--{if !empty($fail)}-->
                  <div class="form-group">
                      <!--{$fail}-->
                  </div>
              <!--{/if}-->
            </form>
          </div>
        </div>

      </div> <!-- .col-md-8 -->
    </div>
  </div>
</section> 

<!--{/block}-->