
    <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    <script>
      const paypalKey={
        sandBoxclientID: '<!--{$Site.paymentConfig->paypal.test_sk}-->',
        prodClientID: ''
      }
        /*// Render the PayPal button into #paypal-button-container
        paypal.Buttons({

            // Set up the transaction
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },

            // Finalize the transaction
            onApprove: function(data, actions) {
                return actions.order.capture().then(function(details) {
                    // Show a success message to the buyer
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }


        }).render('#paypal-btn-container');*/

        paypal.Button.render({
          locale: 'en_US',
          style: {
             size: 'small',
             color: 'gold',
             shape: 'pill',
             label: 'checkout',
             tagline: 'true'
          },
          env: 'sandbox', // Optional: specify 'sandbox' environment
          client: {
            sandbox:    `${paypalKey.sandBoxclientID}`,
            production: `${paypalKey.prodClientID}`
          },
          commit: true, // Optional: show a 'Pay Now' button in the checkout flow
          payment: function (data, actions) {
            let errorInfo='';
            // console.log(actions);
            if ($('#amountd').val().trim()=='' || $('#amountd').val().trim()<1.0) {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid amount: Enter a valid amount!</p>`;
              // alert('Enter a valid amount'); 
              // return false;
            }
            if ($('#full-named').val().trim()=='') {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid full name: Enter a valids full name!</p>`;
              // alert('Enter a valids full name!'); 
              // return false;
            }
            if ($('#emaild').val().trim()=='' || ValidateEmail($('#emaild').val().trim())==false) {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid email address: Enter a valids email!</p>`;
              // alert('Enter a valids email!'); 
              // return false;
            }
            if ($('#phoned').val().trim()=='') {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid phone number: Enter a valids phone number!</p>`;
              // alert('Enter a valids phone number!'); 
              // return false;
            }
            if ($('#message-textd').val().trim()=='') {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid message: Kindly drop a prayer point!</p>`;
              // alert('Kindly drop a prayer point!'); 
              // return false;
            }
            if(errorInfo=='' || errorInfo==null){
              return actions.payment.create({
                payment: {
                  transactions: [
                    {
                      amount: {
                        total: `${$('#amountd').val()}`,
                        currency: 'USD'
                      }
                    }
                  ]
                },
                experience: {
                  input_fields: {
                    no_shipping: 1
                  }
                }
              });
            }else{
              $('.donate-message').html(`<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Error:</h3> ${errorInfo}</div>`);
              return false;
            }
          },
          onAuthorize: function (data, actions) {
            // Optional: display a confirmation page here
            console.log(data);
            console.log(actions);
            return actions.payment.execute().then(function () {
              // alert(`success`);
              let userParams= {
                fullname: $('#full-named').val().trim(),
                email: $('#emaild').val().trim(),
                amount: $('#amountd').val().trim(),
                phone: $('#phoned').val().trim(),
                message: $('#message-textd').val().trim(),
                trigger: 'donate',
                paypalstat: 'success',
              }
              $.post('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->', userParams, function(resp) {
                message=JSON.parse(resp);
                $('.donate-message').html(`${message.message}`);

              });
              // Show a success page to the buyer
            });
          },
          onCancel: function (data, actions) {
            console.log(data);
            console.log(actions);
            $('.donate-message').html(`<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Error:</h3> Donation request was cancelled</div>`);
            // alert(`canceled`);
            // Show a cancel page or return to cart
          },
          onError: function (err) {
            // console.log(err);
            // alert(`error`);
            // Show an error page here, when an error occurs
          }
        }, '#paypal-btn-container');

        paypal.Button.render({
          locale: 'en_US',
          style: {
             size: 'small',
             color: 'gold',
             shape: 'pill',
             label: 'checkout',
             tagline: 'true'
          },
          env: 'sandbox', // Optional: specify 'sandbox' environment
          client: {
            sandbox:    `${paypalKey.sandBoxclientID}`,
            production: `${paypalKey.prodClientID}`
          },
          commit: true, // Optional: show a 'Pay Now' button in the checkout flow
          payment: function (data, actions) {
            let errorInfo='';
            // console.log(actions);
            if ($('#amounts').val().trim()=='' || $('#amounts').val().trim()<1.0) {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid amount: Enter a valid amount!</p>`;
              // alert('Enter a valid amount'); 
              // return false;
            }
            if ($('#full-names').val().trim()=='') {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid full name: Enter a valids full name!</p>`;
              // alert('Enter a valids full name!'); 
              // return false;
            }
            if ($('#emails').val().trim()=='' || ValidateEmail($('#emails').val().trim())==false) {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid email address: Enter a valids email!</p>`;
              // alert('Enter a valids email!'); 
              // return false;
            }
            if ($('#phones').val().trim()=='') {
              errorInfo+=`<p class="border border-danger px-1 py-1">Invalid phone number: Enter a valids phone number!</p>`;
              // alert('Enter a valids phone number!'); 
              // return false;
            }
            if(errorInfo=='' || errorInfo==null){
              return actions.payment.create({
                payment: {
                  transactions: [
                    {
                      amount: {
                        total: `${$('#amounts').val()}`,
                        currency: 'USD'
                      }
                    }
                  ]
                },
                experience: {
                  input_fields: {
                    no_shipping: 1
                  }
                }
              });
            }else{
              $('.sponsor-message').html(`<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Error:</h3> ${errorInfo}</div>`);
              return false;
            }
          },
          onAuthorize: function (data, actions) {
            // Optional: display a confirmation page here
            console.log(data);
            console.log(actions);
            return actions.payment.execute().then(function () {
              // alert(`success`);
              let userParams= {
                fullname: $('#full-names').val().trim(),
                email: $('#emails').val().trim(),
                amount: $('#amounts').val().trim(),
                phone: $('#phones').val().trim(),
                trigger: 'sponsorship',
                paypalstat: 'success',
              }
              $.post('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->', userParams, function(resp) {
                message=JSON.parse(resp);
                $('.sponsor-message').html(`${message.message}`);

              });
              // Show a success page to the buyer
            });
          },
          onCancel: function (data, actions) {
            console.log(data);
            console.log(actions);
            $('.sponsor-message').html(`<div class="alert alert-danger alert-dismissible" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><h3>Error:</h3> Donation request was cancelled</div>`);
            // alert(`canceled`);
            // Show a cancel page or return to cart
          },
          onError: function (err) {
            // console.log(err);
            // alert(`error`);
            // Show an error page here, when an error occurs
          }
        }, '#paypal-btn-sponsor-container');
    </script>