<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container">
  <h1 class="text-center my-5">PROGRAMS & EVENTS</h1>
  <div class="row justify-content-center">
    <div class="col-md-6 my-3">
      <a name="trisas">&nbsp;</a>
      <h3 class="text-center">Tri-Sas After School Drop-In Program</h3>
      <p class="text-center">
        The program is designed to get our youth active, learn some team building and leadership skills. It is set in a fun and safe environment with lots of volunteer opportunities for both Parents and High School Students. 
      </p>
      <p class="text-center">Program runs from September to May during the school year</p>
      <p>Dates: Tuesday’s & Thursday’s 6 to 8PM</p>
      <p class="text-center">Location: TBC</p>
    </div>
    <div class="col-md-6 my-3">
      <a name="coding">&nbsp;</a>
      <h3 class="text-center">Coding</h3>
      <p class="text-center">Dates May 2021</p>
    </div>
    <div class="col-md-6 my-3">
      <a name="financial">&nbsp;</a>
      <h3 class="text-center">Financial Literacy</h3>
      <p class="text-center">Dates: March 2021</p>
    </div>
    <div class="col-md-6 my-3">
      <a name="politics">&nbsp;</a>
      <h3 class="text-center">Entry To Municipal Politics</h3>
      <p class="text-center">Dates May 2021</p>
    </div>
    <div class="col-md-6 my-3">
      <a name="tbd">&nbsp;</a>
      <h3 class="text-center">Tutoring</h3>
      <p class="text-center">TBD</p>
    </div>
  </div>
</div>
<!--{/block}-->