<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->

<section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate pb-0 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Construction Projects<i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-3 bread">Construction Projects</h1>
      </div>
      </div>
    </div>
    </section>
<!--{/block}-->
<!--{block name="main_content"}-->
<section id="content" class="ftco-section bg-light">
    <div class="container">
            <!--{if !empty($featured) and is_object($featured)}-->
            <div class="Existing projects" class id="projects">
                <h1 class="entry-title text-center">Our Ongoing <span class="text-danger">Construction Project</span></h1>
                <div class="row w-100 justify-content-center">
                    <div class="col-md-10 col-sm-offset-2">
                        <p><!--{$featured->description}--></p>
                    </div>
                    <div class="col-10">
                        <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/project-detail?id=<!--{$featured->token}-->" title="<!--{$featured->title}-->" class="btn btn-success" >View Detail</a>
                    </div>
                    <div class="col-md-10 col-sm-offset-2 py-2">
                    <!--{$endext=end(explode(".", $featured->images[0]))}-->
                    <!--{if in_array($endext, array("jpg","png","jpe","jpeg", "jp2", "tiff", "tiff"))}-->
                        <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($featured->images) and is_array($featured->images)}--><!--{$featured->images[0]}--><!--{else}-->site/media/i/new-imgs/logo01.jpg<!--{/if}-->" class="col-sm-6 card-img-top w-100 h400px" id="imgPreviewShow" alt="<!--{$featured->title}-->">
                    <!--{else}-->
                        <video class="w-60 h80px" poster="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/new-imgs/logo01.jpg" controls>
                            <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$featured->images[0]}-->" type="video/mp4">
                            <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$featured->images[0]}-->" type="video/ogg">
                            <param name="src" value="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$featured->images[0]}-->">
                            <param name="autoplay" value="false">
                            <param name="autoStart" value="0">
                            <p class="d-none"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$featured->images[0]}-->" target="__blank">Download this video file.</a></p>
                            <!--Your browser does not support the video tag.-->
                        </video>
                    <!--{/if}-->
                    </div>
                    <!--{$absDiv=(12/(count($featured->images)-1))}-->
                    <!--{if !empty($featured->images)}-->
                        <!--{foreach $featured->images as $kee=> $image}-->
                        <!--{if $kee==0}--><!--{continue}--><!--{/if}-->
                        <!--{if !empty($image)}-->
                        <div class="col-md-4 text-center m-2 py-2">
                            <img class="img img-responsive w-60 h80px" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$image}-->" >
                        </div>
                        <!--{/if}-->
                        <!--{/foreach}-->
                    <!--{/if}-->
                </div>
            </div>
            <!--{/if}-->
            <div class="row mb-5">
                <div class="col-sm-12 mt-5"><h1 class="entry-title text-center">Our Existing <span class="text-primary">Construction Projects</span></h1></div>
                
                <!--{if !empty($projects) and is_array($projects)}-->
                    <!--{foreach $projects as $key=> $project}-->
                        <div class="col-sm-6">
                            <h2 class="text-justify" style="color:#31708f; "><strong><!--{$project->title}--></strong></h2>
                            <p class="overflow-v-auto text-justify"><!--{$project->description}--><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/project-detail?id=<!--{$project->token}-->" title="<!--{$project->title}-->" class="text-decoration-none" > Read More</a></p>
                            <!--{$endext=end(explode(".", $project->images[0]))}-->
                            <!--{if in_array($endext, array("jpg","png","jpe","jpeg", "jp2", "tiff", "tiff"))}-->
                                <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($project->images) and is_array($project->images)}--><!--{$project->images[0]}--><!--{else}-->site/media/i/new-imgs/logo01.jpg<!--{/if}-->" class="w-100 h360px" id="imgPreviewShow" alt="<!--{$project->title}-->">
                            <!--{else}-->
                                <video class="w-100 h400px" poster="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/new-imgs/logo01.jpg" controls>
                                    <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->" type="video/mp4">
                                    <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->" type="video/ogg">
                                    <param name="src" value="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->">
                                    <param name="autoplay" value="false">
                                    <param name="autoStart" value="0">
                                    Your browser does not support the video tag.
                                </video>
                            <!--{/if}-->

                            <div class="card-footer mx-auto">
                                <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/project-detail?id=<!--{$project->token}-->" title="<!--{$project->title}-->" class="btn btn-success" >View Detail</a>
                            </div>
                        </div>
                    <!--{/foreach}-->
                    <div class="col-sm-12">
                        <!--{include file="paging-bottom.html"}-->
                    </div>
                <!--{/if}-->
            </div>
    </div>
</section>

</section>
<!--{/block}-->