<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate pb-0 text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Construction Projects<i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-3 bread">Project Detail</h1>
      </div>
      </div>
    </div>
    </section>
<!--{/block}-->
<!--{block name="hero-text"}-->
<style type="text/css">
	.fa-unset{
		padding: unset;
		margin: unset;
	}
	.py-4{
		padding-top: 2rem !important;
		padding-bottom: 2rem !important;
	}
	.card-bordered{
		background-color: #ffffff;
    	border: 1px solid #1fa762;
	}
	.h200px{
		height: 200px;
	}
</style>
<!--{/block}-->
<!--{block name="main_content"}-->
<section id="content" class="ftco-section bg-light">
    <div class="container">
			<div class="card col-md-8 card-bordered col-md-offset-2">
				<h4 class="card-header card-success bg-success py-4 text-center font-weight-bold"><!--{$project->title}--></h4>
				<div class="card-body text-center pt-4">
					<div class="row w-100 no-gutters justify-content-center">
						<!--{$endext=end(explode(".", $project->images[0]))}-->
						<!--{if in_array($endext, array("jpg","png","jpe","jpeg", "jp2", "tiff", "tiff"))}-->
							<img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($project->images) and is_array($project->images)}--><!--{$project->images[0]}--><!--{else}-->site/media/i/new-imgs/logo01.jpg<!--{/if}-->" class="col-md-6 col-sm-6" id="imgPreviewShow" style="height: 300px !important; max-width: 375px" alt="<!--{$project->title}-->">
						<!--{else}-->
		                    <div class="w-100">
		                      <video autobuffer controls class="w-100 h300px">
		                        <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->">
		                        <source src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->">
		                        <object type="video/ogg" data="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->" class="w-100 h300px">
		                          <param name="src" value="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->">
		                          <param name="autoplay" value="false">
		                          <param name="autoStart" value="0">
		                          <p class="d-none"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$project->images[0]}-->" target="__blank">Download this video file.</a></p>
		                        </object>
		                      </video>
		                    </div>
						<!--{/if}-->
						<div class="col-md-6 col-sm-6 card-body text-white site-bg-1 px-4">
							<h4 class=" text-center font-weight-bold"><!--{$project->title}--></h4>
							<p class="text-dark"><span class="font-weight-bold">Category: </span> <!--{$project->category}--></p>
							<!--{if !empty($project->email)}--><p class="text-dark"><span class="font-weight-bold">Email: </span> <!--{$project->email}--></p><!--{/if}-->
							<!--{if !empty($project->phone)}--><p class="text-dark"><span class="font-weight-bold">Contact Number: </span> <!--{$project->phone}--></p><!--{/if}-->
							<!--{if !empty($project->amount)}--><p class="text-dark d-none"><span class="font-weight-bold">Price: </span> ₦<!--{$project->amount}--></p><!--{/if}-->
							<!--{if !empty($project->url)}--><p class="text-dark d-none"><span class="font-weight-bold">Website URL: </span> <a href="<!--{$project->url}-->" target="__blank"><!--{$project->url}--></a></p><!--{/if}-->
						</div>
						<!--{if !empty($project->images) and is_array($project->images) and !empty($project->images[1])}-->
						<div class="col-sm-12 row justify-content-center card-body px-1 py-2 alert-success">
							<!--{foreach $project->images as $sIm=> $image}-->
							<!--{if $sIm==0}--><!--{continue}--><!--{/if}-->
							<!--{if !empty($image)}-->
								<div class="col-sm-3">
									<img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$image}-->" class="w-100 h-150px img-thumbnail imgPreview" title="<!--{$project->title}-->">
								</div>
							<!--{/if}-->
							<!--{/foreach}-->
						</div>
						<!--{/if}-->
						<div class="col-sm-12 card-body text-white site-bg-1 px-4 ">
							<!--{if !empty($project->description)}--><p class="text-dark text-justify h200px overflow-v-auto"><span class="font-weight-bold">Description:</span> <!--{$project->description}--></p><!--{/if}-->
						</div>
						<div class="col-sm-12 card-body px-4">
							<p class="text-center">
								<button class="btn btn-success rounded-0" type="button" data-toggle="collapse" data-target="#editStoreInfo" aria-expanded="true" aria-controls="editStoreInfo" id="editStore"><i class="fa fa-unset fa-plus-square"></i> Show Interest</button>
							</p>
							<!--{if !empty($fail)}-->
								<p>
								  <!--{$fail}-->
								</p>
							<!--{/if}-->
						</div>
			            <div class="col-md-11 card-body text-justify" id="accordion">
			            	<div id="editStoreInfo" class="collapse mt-2 row justify-content-center" aria-labelledby="editStore" data-parent="#accordion">
								<form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/project-detail?id=<!--{$project->token}-->" class="w-100">
									<fieldset class="rounded border border-success py-4 px-4">
										<legend class="font-weight-bold text-center">Contact Dealer</legend>
											<div class="form-group d-none">
												<label for="title" class="form-control-label">Subject</label>
												<input type="text" id="title" name="title" class="form-control form-control-sm badge-pill" value="<!--{$project->title}-->"/>
											</div>
											<div class="form-group">
												<label for="names" class="form-control-label">Your Name</label>
												<input type="text" id="names" name="names" class="form-control form-control-sm badge-pill" value="" required />
											</div>
											<div class="form-group">
												<label for="email" class="form-control-label">Your Email</label>
												<input type="email" id="email" name="email" value="" class="form-control form-control-sm badge-pill" required />
											</div>
											<div class="form-group">
												<label for="phone" class="form-control-label">Your Phone No</label>
												<input type="text" id="phone" name="phone" class="form-control form-control-sm badge-pill" value=""/>
											</div>
										<div class="form-group ">
											<label for="comment" class="form-control-label">Comment</label>
											<textarea id="comment" name="comment" class="form-control form-control-sm input-block" rows="6" required></textarea>
										</div>
										<div class="form-group text-center">
											<button class="btn btn-primary text-white rounded-0" type="submit" name="contact" value="contactPerson"><i class="fa fa-unset fa-send"></i> Send</button>
										</div>
									</fieldset>
								</form>
			            	</div>
			            </div>
					</div>
				</div>
			</div>
        </div>
    </section>
<!--{/block}-->