<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span><!--{$promo->name|ucwords}--> <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread"><!--{$promo->name|ucwords}--></h1>
          </div>
        </div>
      </div>
    </section>
<!--{/block}-->
<!--{block name="main_content"}-->

<section class="ftco-section goto-here">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <h2 class="mb-2 text-primary"><!--{$promo->name|ucwords}--> Promo</h2>
      </div>
    </div>
    <div class="row">
      
      <div class="col-md-6">
        <div class="ftco-animate">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <!--{if !empty($promo->image2)}-->
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <!--{/if}-->
                <!--{if !empty($promo->image3)}-->
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <!--{/if}-->
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$promo->image}-->" alt="First Image">
                </div>
                <!--{if !empty($promo->image2)}-->
                <div class="carousel-item">
                  <img class="d-block w-100" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$promo->image2}-->" alt="Second Image">
                </div>
                <!--{/if}-->
                <!--{if !empty($promo->image3)}-->
                <div class="carousel-item">
                  <img class="d-block w-100" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$promo->image3}-->" alt="Third Image">
                </div>
                <!--{/if}-->
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>  
        </div>
      </div>
      <div class="col-md-6">
        <div class="property-wrap ftco-animate p-4">
          <!--{$promo->description}-->
          <h3 class="my-4">
            Feel free to <a class="text-decoration-none text-success chat-careButton" style="position:inherit; background-color: transparent !important; padding: 0 !important; color: #24a148 !important;">send us a DM</a> 
            OR
          </h3>
          <button class="btn btn-primary  m-3" type="button" data-toggle="collapse" 
          data-target="#smartkidsForm" aria-expanded="true" aria-controls="smartkidsForm" id="smartkids">Subscribe Now</button>
        </div>
      </div>
      
      <div class="form-group">
        <!--{if !empty($fail)}-->
          <!--{$fail}-->
        <!--{/if}-->
      </div>
      <div class="col-md-12">
        <div id="smartkidsForm" class="mt-2 collapse row justify-content-center" aria-labelledby="smartkids">
          <form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/promo?token=<!--{$promo->token}-->&name=<!--{$promo->name}-->" posts="post" enctype="multipart/form-data" method="post" class="w-100">
            <div class="container">
              <div class="row w-100 bg-white shadow mb-4 m-4 p-4">
                    <div class="row w-100 m-4 w-50">
                        <div class="col">
                            <p><img style="width: 120px; height: 120px; border-color: #e0e0e0;" id="img_div"/></p>
                            <p><input type="file" name="uploadfile" id="file"  onchange="loadFile(event)" style="display: none;"></p>
                            <p><label for="file" style="background-color: #007bff!important; cursor: pointer" class="btn btn-primary mt-1">Upload Image</label></p>
                        </div>
                        <script>
                            var loadFile = function(event) {
                                var image = document.getElementById('img_div');
                                image.src = URL.createObjectURL(event.target.files[0]);
                            };
                        </script>
                    </div>
                   <h5  class="bg-primary text-light p-2">CUSTOMER INFORMATION</h5>
                   <div class="row w-100">
                     <div class="col-md-3 col-sm-12">
                       <div class="form-group">
                           <label for="title">Title</label>
                           <select name="title" id="title" class="form-control">
                               <option value="mr">MR</option>
                               <option value="mrs">MRS</option>
                               <option value="miss">MISS</option>
                           </select>
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="surname">Surname</label>
                         <input type="text" id="surname" name="surname" class="form-control" required />
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="middlename">Middle Name</label>
                         <input type="text" id="middlename" name="middlename" class="form-control"  />
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="firstname">First Name</label>
                         <input type="text" id="firstname" name="firstname" class="form-control" required />
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="gender">Sex</label>
                         <select name="gender" id="gender" class="form-control">
                             <option value="male">Male</option>
                             <option value="female">Female</option>
                         </select>
                       </div>
                     </div>
                   </div>
                   <h5  class="bg-primary text-light p-2"> <!--{if $promo->name == 'smart_kids'}--> PARENT/GUARDIAN <!--{/if}--> CONTACT INFORMATION</h5>
                   <div class="row w-100">
                     <div class="col-md-2 col-sm-12">
                       <h5>Mobile Number</h5>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="number">Mobile</label>
                         <input type="text" id="number" name="number" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="number1">Phone</label>
                         <input type="text" id="number1" name="number1" class="form-control"  />                 
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="email">Email Address</label>
                         <input type="text" id="email" name="email" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="address">Residential Address</label>
                         <textarea type="text" id="address" name="address" class="form-control" rows="4" required></textarea>                
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="city">City/Town</label>
                         <input type="text" id="city" name="city" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="lga">Local Govt</label>
                         <input type="text" id="lga" name="lga" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="state">State</label>
                         <input type="text" id="state" name="state" class="form-control" required />                 
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="country">Country of Residence</label>
                         <input type="text" id="country" name="country" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label class="form-label" for="dob">Date of Birth</label>
                         <input type="date" id="dob" name="dob" class="form-control" required />
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-10 col-sm-12">
                       <div class="form-group">
                         <label for="idmode">Mode of Identification</label> <br>
                         <div class="form-check form-check-inline">
                           <input type="radio" id="natid" name="idmode" value="natid" class="form-check-input">
                           <label class="form-check-label" for="natid">Nat Id</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input type="radio" id="drivno" name="idmode" value="driverlicense" class="form-check-input">
                           <label class="form-check-label" for="drivno">Drivers LNo</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input type="radio" id="passport" name="idmode" value="intpassport" class="form-check-input">
                           <label class="form-check-label" for="passport">Int'l Passport</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input type="radio" id="votecard" name="idmode" value="votercard" class="form-check-input">
                           <label class="form-check-label" for="votecard">Voters Card</label>
                         </div>
                         <div class="form-check form-check-inline">
                           <input type="text" class="form-control col" name="otheridmode" id="othersmode" placeholder="others">
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="idno">ID Number</label> 
                         <input type="text" id="idno" name="idno" class="form-control" required />     
                                   
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <p class="mt-4">RC NO <small>(For Comany ID only)</small></p>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="nationality">Nationality</label>
                         <input type="text" id="nationality" name="nationality" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="stateofrigin">State Of Origin</label>
                         <input type="text" id="stateofrigin" name="stateoforigin" class="form-control" required />                 
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="occupation">Occupation</label>
                         <input type="text" id="occupation" name="occupation" class="form-control" required />                 
                       </div>
                     </div>
                   </div>
                   <h5  class="bg-primary text-light p-2">NEXT OF KIN INFORMATION</h5>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="noksurname">Surname</label>
                         <input type="text" id="noksurname" name="noksurname" class="form-control" required />
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="nokmiddlename">Middle Name</label>
                         <input type="text" id="nokmiddlename" name="nokmiddlename" class="form-control" />
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="nokfirstname">First Name</label>
                         <input type="text" id="nokfirstname" name="nokfirstname" class="form-control" required />
                       </div>
                     </div>
                   </div>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="noknumber">Mobile Number</label>
                         <input type="text" id="noknumber" name="noknumber" class="form-control" required />                 
                       </div>
                     </div>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="nokaddress">Residential Address</label>
                         <textarea type="text" id="nokaddress" name="nokaddress" class="form-control" rows="4" required></textarea>                
                       </div>
                     </div>
                   </div>
                   <h5  class="bg-primary text-light p-2">PLOT OF LAND OPTIONS</h5>
                   <div class="row w-100">
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <div class="form-group">
                           <label for="numplots">Number of Plots</label>
                           <input type="number" step="any" min="1" class="form-control" name="numplots" id="numplots" onchange="getNumPlots();" placeholder="Number of Plots">
                         </div>
                       </div>
                     </div>
                     <script>
                       function getNumPlots(){
                          var num = document.getElementById('numplots').value;
                          var sqm = document.getElementById('sqmeter').value;
                          var total = num*sqm;
                          document.getElementById('totalpay').value = total;
                       }
                     </script>
                     <div class="col-md-4 col-sm-12">
                       <div class="form-group">
                         <label for="">Amount:</label>
                         <input readonly  id="sqmeter" type="number" name="tamount" value="<!--{$promo->amount}-->" class="form-control"  />                 
                         <input readonly  id="amount" type="hidden" name="amount" value="" class="form-control"  />                 
                       </div>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="">Total Payable</label> <br>
                     <input readonly  id="totalpay" type="number" name="totalpay" value="" class="form-control"  />                 
                   </div>
                    <div class="form-check mb-4">
                      <input type="checkbox" class="form-check-input" id="formcheck" required>
                      <label class="form-check-label" for="formcheck">I hereby affirm that all information filled in  is true and any false information provided by me may result in termination of my application.</label>
                    </div>
                  <div class="row justify-content-center w-100">
                    <div class="col-md-4 col-sm-12">
                    <div id="mainButton" class="form-group text-center">
                      <button  type="submit" class="btn btn-lg btn-success" name="triggers" value="subscribeProduct">Subscribe Now</button>
                    </div>
                    </div>
                  </div>
             </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!--{/block}-->
<!--{block name="modal-file"}-->
<!--{/block}-->