<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate pb-0 text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Promos <i class="fa fa-chevron-right"></i></span></p>
            <h1 class="mb-3 bread">Atobe Promos</h1>
          </div>
        </div>
      </div>
    </section>
<!--{/block}-->
<!--{block name="main_content"}-->

<section class="ftco-section goto-here">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 heading-section text-center ftco-animate mb-5">
        <span class="subheading">Our Promos</span>
        <h2 class="mb-2">Special Offers</h2>
      </div>
    </div>
    <div class="row">
      
    <!--{if !empty($promos)}-->
      <!--{foreach $promos as $pro}-->
        <div class="col-md-4">
          <div class="property-wrap ftco-animate">
            <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/promo?token=<!--{$pro->token}-->&name=<!--{$pro->name}-->" class="img" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$pro->image}-->');">
              <div class="rent-sale">
                <span class="<!--{if $pro->status == 0}-->sale<!--{else}-->rent<!--{/if}-->"><!--{if $pro->status == 0}-->Ended<!--{else}-->On Going<!--{/if}--></span>
              </div>
            </a>
            <div class="text">
              <h3><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/promo?token=<!--{$pro->token}-->&name=<!--{$pro->name}-->"><!--{$pro->name}--></a></h3>
              <div class="list-team d-flex align-items-center mt-2 pt-2 border-top">
                <div class="d-flex align-items-center">
                  <h3 class="ml-2"><!--{$Site.companyName}--></h3>
                </div>
                <span class="text-right"><!--{$pro->dateadded|date_format}--></span>
              </div>
            </div>
          </div>
        </div>
      <!--{/foreach}-->
      
			<div class="col-sm-10 mt-5">
				<!--{include file="paging-bottom.html"}-->
			</div>
    <!--{else}-->
      <div class="col-md-10 alert-info">
        <h3>
          No Promos Added Yet
        </h3>
      </div>
    <!--{/if}-->
    </div>
  </div>
</section>
<!--{/block}-->
<!--{block name="modal-file"}-->
<!--{/block}-->