<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<section class="w3l-about-breadcrum mb-4">
      <div class="breadcrum-bg py-sm-5 py-4">
        <div class="container py-lg-3">
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
        <h2 class="">FAQ</h2>
        <p class=""><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home</a> &nbsp; / &nbsp; Projects &nbsp; / &nbsp; FAQ</p>
        </div>
      </div>
      <div class="main-body container">
        <div class="content m-4">
     <!--{if !empty($property)}-->
            <div class="row m-4">
                <h1><!--{$property->name}--></h1>
            </div>
         <h5>1. WHERE IS OUR ESTATE</h5>
         <h6 class="m-4"><!--{$property->name}--> is located at <!--{$property->location}-->, <!--{if $property->landmark}--><!--{$property->landmark}--><!--{/if}--></h6>
         <h5>2. WHY INVEST IN OUR ESTATE</h5>
         <h6 class="m-4">Our Estates are designed to provide a comfortable environment for our clients suitable for residential and commercial purposes etc. Our aim at <!--{$Site.companyName}--> is to be at the forefront of state business and provide innovative solutions in our services</h6>
         <h5>3. WHAT IS THE SIZE OF THE PLOTS AVAILABLE AT OUR ESTATE?</h5>
         <h6 class="m-4"><strong>550 sqm</strong> maximum & <strong>400 sqm</strong> minimum</h6>
         <h5>4. WHAT OTHER PAYMENT DO I HAVE TO MAKE IN ADDITION TO THE PAYMENT FOR?</h5>
         <h6 class="m-4">
             <ul>
                 <li>Survey - <!--{$property->amt_survey}--> per plot</li>
                 <li>Legal documentation - <!--{$property->legal_fee}--></li>
                 <li>Development fee - (No fees attached yet until after allocation)</li>
             </ul>
         </h6>
         <h5>5. WHAT IS THE INFRASTRUCTURE/DEVELOPMENTAL FEE USED FOR?</h5>
         <h6 class="m-4">For the provision of facilities in the Estate such as: Paved roads, electricity, drainages, street lights and documentation</h6>
         <h5>6. WHAT DO I GET AFTER INITIAL PAYMENT? </h5>
         <h6 class="m-4">A starters kit which includes: 
             <ul>
                 <li>A letter of acknowledgement of subscription</li>
                 <li>Receipts of payment</li>
                 <li>Invoice</li>
             </ul>
         </h6>
         <h5>7. WHEN WILL MY LOTS BE ALLOCATED TO ME</h5>
         <h6 class="m-4">Paper allocation is upon subscription while physical allocation will be within 12 months after full payment is made</h6>
         <h5>8. WHAT DO I GET AFTER COMPLETION OF PAYMENT FOR THE LAND</h5>
         <h6 class="m-4">Letter of Allocation, Estate Restrictive Convenant Sales Contract, Deed of Assignment, Survey</h6>
         <h5>9. CAN I PAY A DEPOSIT AND PAY THE BALANCE ANYTIME WITHIN THE DURATION OF TENURE?</h5>
         <h6 class="m-4">Yes. But payments must be made on a monthly basis without default within the agreed number of months. Failing which default charges will apply.</h6>
         <h5>10. IS THERE ANY RESTRICTION AS TO ANY TYPE OF BUILDING I CAN BUILD</h5>
         <h6 class="m-4">Yes, you are limited to building residential houses within the designated residential area. COmmercial buildings can only be built in designated areas. Other restrictions are as indicated in the Estate Restrictive Convenant. Clients are allowed to build whatever structure they deem fit.</h6>
         <h5>11. CAN I START CONSTRUCTION OR BUILDING ON THE LAND NOW</h5>
         <h6 class="m-4">Yes, you can start after physical allocation is granted. Fencing willl be one between the 1st and 3rd year after payment is made.</h6>
         <h5>12. IS THERE ANY TIME LIMIT TO COMMENCE WORK ON MY LAND AFTER ALLOCATION</h5>
         <h6 class="m-4">Assignees are advised to take poissession and develop their plot within a year if physical allocation.</h6>
         <h5>13. WHAT HAPPENS IF I DO NOT OAY MY DEVELOPMENT FEES?</h5>
         <h6 class="m-4">Such a customer will not be allowed to commence any form of construction on the siste.</h6>
         <h5>14. CAN I RE-SELL MY PLOT/PROPERTY?</h5>
         <h6 class="m-4">Yes, a subscriber/buyer who has paid up on his/her land can re-sell. However 10% of the proceeds of sale will be remitted to the company for documentation (Change of Name)</h6>
         <h5>15. WHAT ARE THE CRITERIA SHOULD I DISCONTINUE WITH MY PAYMENT? IS THERE A REFUND?</h5>
         <h6 class="m-4">Basically, you can apply but 40% of the amount paid will be deducted as the administrative fee and others. </br> You are required to give the company ninety (90) days notice to process your refund and additional sixty (60) days should the process not be completed after ninety (90) days. </h6>
         <h5>16. WHAT HAPPENS IF I DO NOT PAY WITHIN 12 MONTHS</h5>
         <h6 class="m-4">You are expected to complete your payment plan within 12 months to avoid 1% month default charge on the amount of the peoperty</h6>
         </div>
     <!--{else}-->
         <div class="alert bg-white text-dark"><strong>No record found</strong></div>
     <!--{/if}-->
     </div> 
  </section>
  <!--{/block}-->
  <!--{block name="hero-text"}-->
  <!--{/block}-->
  <!--{block name="main_content"}-->
  
  <!--{/block}-->
  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
-->