<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
    <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/bg_1.jpg');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-0 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Realty <i class="fa fa-chevron-right"></i></span></p>
              <h1 class="mb-3 bread">Realty</h1>
            </div>
          </div>
        </div>
      </section>
<!--{/block}-->
<!--{block name="hero-text"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/realty" id="reqPropForm">
                    <fieldset class="card p-4 mt-3">
                        <legend class="panel-heading text-center">Property Request From</legend>
                        <div class="form-group">
                            <label for="date" class="sr-only">Request Date</label>
                            <input type="date" id="date" class="form-control" placeholder="Date" required="" name="date" autofocus="Select Request Date" value="<!--{$Site.dateNow2}-->">
                        </div>
                        <div class="form-group">
                            <label for="names" class="sr-only">Full Name</label>
                            <input type="text" id="names" class="form-control" placeholder="Full Name" required="" name="names" autofocus="Enter client name">
                        </div>
                        <div class="form-group">
                            <label for="phone" class="sr-only">Phone Number</label>
                            <input type="tel" id="phone" class="form-control" placeholder="Phone Number" required="" name="phone" autofocus="Enter your phone number">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email Address</label>
                            <input type="email" id="email" class="form-control" placeholder="Email Address" required="" name="email" autofocus="Enter your email">
                        </div>
                        <div class="form-group">
                            <label for="location" class="sr-only">Property Choice Location</label>
                            <input type="text" id="location" class="form-control" placeholder="Property  Choice Location" required="" name="location" autofocus="Enter client choice loation">
                        </div>
                        <div class="form-group">
                            <label for="description" class="sr-only">Description</label>
                            <input type="text" id="description" class="form-control" placeholder="Description" required="" name="description" autofocus="Enter description">
                        </div>
                        <div class="form-group">
                            <label for="budget" class="sr-only">Budget (&#8358;)</label>
                            <input type="number" id="budget" class="form-control" placeholder="Budget (&#8358;)" required="" name="budget" autofocus="Enter client budget">
                        </div>
                        <div class="form-group">
                            <label for="timeframe" class="sr-only">Time Frame(days)</label>
                            <input type="text" id="timeframe" class="form-control" placeholder="Time Frame(days)" required="" name="timeframe" autofocus="Enter time frame">
                        </div>
                        <div class="form-group">
                            <label for="remarks" class="sr-only">Remarks</label>
                            <textarea id="remarks" class="form-control" placeholder="Remarks" required="" name="remarks" ></textarea>
                        </div>
                        <!--{if !empty($fail)}-->
                        <div class="form-group">
                            <!--{$fail}-->
                        </div>
                        <!--{/if}-->
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" name="submit_request" value="submit-request" id="reqProp">Submit Request</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</section>
<!--{/block}-->