<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="site-section">
  <div class="container">
    <h1 class="text-center mb-4">SPONSORS AND PARTNERS</h1>
    <div class="row justify-content-center">
      <div class="col-md-12 text-center" >
        <p>Special thanks to our Partners & Sponsors </p>
      </div>
      <div class="col-md-12">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel" style="height: auto; min-height: auto;">
          <div class="carousel-inner sponsor-carousel">
            <div class="carousel-item active">
              <div class="row">
                <div class="col py-3">
                  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/sponsor1.jpg" class="d-block w-100 h-280px" alt="...">
                  <div>
                    <h4 class="text-center py-1">Dufferin County</h4>
                     <h5 class="py-1 text-center"><span class="font-weight-bold">Contact</span></h5>
                    <p>
                      <span class="font-weight-bold">Website URL:</span> <a href="https://www.dufferincounty.ca/" target="__top" title="Dufferin County">https://www.dufferincounty.ca</a>
                    </p>
                  </div>
                  </div>
                </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col py-3">
                  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/duff-partner-4.png" class="d-block w-100 h-280px" alt="...">
                  <div>
                    <h4 class="text-center py-1">Carib101 Media Corp.</h4>
                    <h5 class="py-1 text-center"><span class="font-weight-bold">Contact</span></h5>
                    <p>
                      Toronto Caribbean Newspaper Inc.: <a href="www.TorontoCaribbean.com" target="__top" title="Toronto Caribbean Newspaper Inc">www.TorontoCaribbean.com</a><br/>
                      TCN TV Network Inc.: <a href="www.mytcntv.com" target="__top" title="TCN TV Network Inc.">www.mytcntv.com</a><br/>
                      Carib101Radio: <a href="www.Carib101.com" target="__top" title="Carib101Radio">www.Carib101.com</a>
                    </p>
                  </div>
                </div>
            </div>
          </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col py-3">
                  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/Kuinua-Logo-Instagram.jpg" class="d-block w-100 h-280px" alt="...">
                  <div>
                    <h4 class="text-center py-1">Kuinua</h4>
                    <h5 class="py-1 text-center"><span class="font-weight-bold">Contact</span></h5>
                    <p>
                      Kuinua <a href="#" target="__top" title="Kuinua">Kuinua</a><br/>
                    </p>
                  </div>
                </div>
            </div>
          </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col py-3">
                  <img src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/benjaminlaw_logo003.jpg" class="d-block w-100 h-280px" alt="...">
                  <div>
                    <h4 class="text-center py-1">Benjamin Law</h4>
                     <h5 class="py-1 text-center"><span class="font-weight-bold">Contact</span></h5>
                    <p>
                      <span class="font-weight-bold">Website URL:</span> <a href="https://www.benjaminlaw.ca/" target="__top" title="Benjamin Law">https://www.benjaminlaw.ca/</a>
                    </p>
                  </div>
                </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--{/block}-->