<!--{extends 'default.html'}-->
<!--{block name="slider-content"}-->
<!--{/block}-->
<!--{block name="main-content"}-->
	<section class="row justify-content-around stage-three">
		<div class="col-sm-11"><h2>Terms and Conditions</h2></div>
		<div class="jumbotron">
			<div class="accordion" id="accordionExample">
				<div class="card">
					<div class="card-header" id="headingOne">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Check-in
							</button>
						</h3>
					</div>
					<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
						<div class="card-body">
							Check-in closes 30 minutes before the estimated time of departure. We highly recommend that guests honour our check-in policy as departure time will not be extended and a fee of one thousand Naira (N1000) will be applicable for rescheduling due to lateness or missed schedule. Please note that rescheduling is subject to vehicle and seat availability.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwo">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								Bookings and Reservation
							</button>
						</h3>
					</div>
					<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
						<div class="card-body">
							Bookings and reservations made in advance are subject to availability of vehicles. In the event that we are unable to fulfill your reservation, affected guest(s) will be rescheduled to another departure time at no extra cost.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThree">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
								Luggage Allowance
							</button>
						</h3>
					</div>
					<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
						<div class="card-body">
							<p>All guests are entitled to one standard sized luggage along with a personal carry on. The total dimensions (length + width + height) of each piece must not exceed 210 cm. You'll be charged an additional fee for any individual items exceeding stated dimensions of 210 cm. For comfort and safety purposes, we are unable to accommodate any luggage with dimensions exceeding this standard. In cases where specific guest(s) luggage exceeds this requirement, affected guests will be asked to split luggage and purchase extra luggage space to accommodate it.</p>
							<p>We recommend the use of flexible traveling luggages, as plastic boxes are not acceptable on our buses. This is because these boxes are not only fragile but also difficult to manipulate which poses a challenge during luggage loading activities. CityHoppers will not be responsible for any damage inflicted on luggage due to its fragility. Fragile items such as electronics, laptops and other valuable items are not to be placed in the trunk of our vehicles but carried as hand luggage.</p>
							<p>Please note that hazardous materials such as but not limited to - gas cylinders (empty or with content), fuel in containers, agrochemicals, herbicides, pesticides; etc. are not permissible on our vehicles. Guests are also advised to monitor their luggage till their final destination.</p>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFour">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
								Pick-Up Service
							</button>
						</h3>
					</div>
					<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
						<div class="card-body">
							CityHoppers does not offer pick-up service. Customers are advised to make private arrangement to and from the bus terminal. Please note that a no-show without prior reschedule would render ticket void and passengers will be required to pay a penalty before rescheduling.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFive">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
								Refund Policy
							</button>
						</h3>
					</div>
					<div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
						<div class="card-body">
							CityHoppers has a no refund policy for all tickets duly purchased from any of her sales channels.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSix">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
								Managing Reservations (Rescheduling and Rerouting)
							</button>
						</h3>
					</div>
					<div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
						<div class="card-body">
							Guests with unused tickets are advised to utilize as soon as possible as ticket validity is restricted to 30 days from date of purchase after which the ticket becomes invalid. To utilize such tickets within the validity period, kindly visit any of our terminals to reschedule for new itinerary before proposed travel date. Note that all reschedules/ re-routing requests are subject to vehicle and seat availability on desired route. In the event that the fare of the new trip is higher than the old trip, the guest will also be required to pay the differential for reschedule or re-routing request.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSeven">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
								Debits without value on online transactions
							</button>
						</h3>
					</div>
					<div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionExample">
						<div class="card-body">
							Guests are advised to contact their banks should they require a refund due to double debits and debits on card transactions or USSD payments without value using our online booking platform. Refund request originating from bank transfers can be processed by sending an email to contact@cityhoppers.com.ng. Once it is confirmed that funds were acquired and the account number to be credited has been provided by guest, a refund will be made within seven (7) to ten (10) working days.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEight">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
								Price Changes
							</button>
						</h3>
					</div>
					<div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionExample">
						<div class="card-body">
							Prices are subject to change without prior notice to guests due to unforeseen economic circumstances.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingNine">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
								Child Fare Rate
							</button>
						</h3>
					</div>
					<div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionExample">
						<div class="card-body">
							We care about the safety of children and have provided a 50% discounts on tickets purchased for children on the app. However, please note the following:
							The Child fare rate only applies to children between the ages of 2-10.
							Children within this range cannot travel unaccompanied by an adult.
							Child fare rates can only be assessable upon the presentation of a valid means of identification for the child (ren) on the planned day of travel failure of which will result in discount cancellation.
							An adult is only allowed a maximum of two child fare rates per booking.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
								Carriage of unaccompanied children
							</button>
						</h3>
					</div>
					<div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionExample">
						<div class="card-body">
							CityHoppers can only provide transportation for unaccompanied children between the ages of 11 to 16 on the condition that the parent or guardian of the minor completes and submits our unaccompanied minor form which can be obtained from any of our terminals nation-wide before the commencement of trip.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEleven">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseEleven">
								Animals and pets onboard
							</button>
						</h3>
					</div>
					<div id="collapseEleven" class="collapse" aria-labelledby="headingEleven" data-parent="#accordionExample">
						<div class="card-body">
							CityHoppers does not convey animals or pets.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingTwelve">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTwelve" aria-expanded="true" aria-controls="collapseTwelve">
								Smoking Policy
							</button>
						</h3>
					</div>
					<div id="collapseTwelve" class="collapse" aria-labelledby="headingTwelve" data-parent="#accordionExample">
						<div class="card-body">							
							Smoking is prohibited while on board. This rule is strictly enforced. Contravention of this rule may lead to arrest and handing over of culprit to authorities.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingThirteen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseThirteen" aria-expanded="true" aria-controls="collapseThirteen">
								Sale of Tickets
							</button>
						</h3>
					</div>
					<div id="collapseThirteen" class="collapse" aria-labelledby="headingThirteen" data-parent="#accordionExample">
						<div class="card-body">									
							CityHoppers bus tickets are not transferable and cannot be resold to anyone else.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFourteen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFourteen" aria-expanded="true" aria-controls="collapseFourteen">
								Departure time
							</button>
						</h3>
					</div>
					<div id="collapseFourteen" class="collapse" aria-labelledby="headingFourteen" data-parent="#accordionExample">
						<div class="card-body">									
							While we will do all within our control to ensure we comply with communicated departure times, in cases where unforeseen circumstances occur, please note that we are at liberty to alter the departure time without prior notice or compensation. This may have an effect on seat selection and bus type.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingFifteen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFifteen" aria-expanded="true" aria-controls="collapseFifteen">
								Ticket Validity
							</button>
						</h3>
					</div>
					<div id="collapseFifteen" class="collapse" aria-labelledby="headingFifteen" data-parent="#accordionExample">
						<div class="card-body">															
							Purchased but unused tickets have a validity of one (1) month from date of purchase, as long as the amount paid for the cancelled journey is not less than the cost of the proposed journey, in the event that it is, you will be required to pay the difference.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSixteen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSixteen" aria-expanded="true" aria-controls="collapseSixteen">
								Lost/Forgotten Items
							</button>
						</h3>
					</div>
					<div id="collapseSixteen" class="collapse" aria-labelledby="headingSixteen" data-parent="#accordionExample">
						<div class="card-body">															
							Guests are advised to monitor their luggage while at our terminals or in our vehicles.Should any item be stolen, lost or forgotten, we will not be held liable. Lost but found properties will be kept for a maximum of 30 days before it is disposed of (except perishable items which will be discarded the next day if unclaimed to prevent contamination)
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingSeventeen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseSeventeen" aria-expanded="true" aria-controls="collapseSeventeen">
								In transit Breakdown
							</button>
						</h3>
					</div>
					<div id="collapseSeventeen" class="collapse" aria-labelledby="headingSeventeen" data-parent="#accordionExample">
						<div class="card-body">															
							As a company, we recognise the importance of preventive maintenance and we practice it religiously to reduce and possibly eliminate in transit breakdowns. However in the event that it does happen, guests are requested to contact our customer call centre using phone numbers provisioned on website. For swift action, our customer care teams are also strategically located to provide a replacement vehicle within the shortest possible time. In situations where an alternative vehicle is provided by CityHoppers to complete the trip, please note that tickets cannot be reused.
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header" id="headingEighteen">
						<h3 class="mb-0">
							<button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseEighteen" aria-expanded="true" aria-controls="collapseEighteen">
								For queries and enquiries on issues not addressed above, kindly reach our customer care team via email or phone contact provided on website.
							</button>
						</h3>
					</div>
					<div id="collapseEighteen" class="collapse" aria-labelledby="headingEighteen" data-parent="#accordionExample">
						<div class="card-body">														
							Kindly note the above terms and conditions.
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
<!--{/block}-->