<!--========================== Top Mobile Menu ============================-->
<!-- Menu -->
<div class="menu">
	<div class="menu_background">
		<div class="menu_container d-flex flex-column align-items-end justify-content-start">
			<div class="menu_close">close</div>
			<div class="menu_user_area">
				<ul class="d-flex flex-row align-items-start justify-content-end">
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/signup">Sign up</a></li>
                    <li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/login">Login</a></li>
				</ul>
			</div>
			<nav class="menu_nav">
				<ul class="text-right">
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->">What's New</a></li>
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/about">In City Sports Group</a></li>
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/athletes">Top Athletes</a></li>
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/teams">Sport Teams</a></li>
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/blog">Updates</a></li>
					<li><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->#contact">Contact</a></li>
				</ul>
			</nav>
			<div class="menu_links d-none">
				<ul class="d-flex flex-row align-items-start justify-content-start">
					<li><a href="#">GET Tickets</a></li>
					<li><a href="#">Shop</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>