<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
        <section class="hero-wrap hero-wrap-2" style="background-image: url('<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->/site/media/i/bg_1.jpg<!--{/if}-->');" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate pb-0 text-center">
              <p class="breadcrumbs"><span class="mr-2"><a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/default">Home <i class="fa fa-chevron-right"></i></a></span> <span>Videos <i class="fa fa-chevron-right"></i></span></p>
              <h1 class="mb-3 bread">Videos</h1>
            </div>
            </div>
          </div>
          </section>
<!--{/block}-->
<!--{block name="main_content"}-->
  <section class="ftco-section">
<div class="container-fluid">
  <div class="row justify-content-around">
    <!--{if !empty($al_videos)}-->
      <!--{foreach $al_videos as $prop}-->
      <div class="col-md-5">
        <div class="card overflow-hidden shadow mb-4">
          <!-- Card Header - Dropdown -->
          <!-- Card Body -->
          <div class="card-header">
            <!--{$prop->title|ucwords}-->
          </div>
            <div class="card-body">
            <!--{if !empty($prop->video)}-->
              <video width="520" height="240" controls>
                <source src="<!--{$prop->video}-->" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            <!--{else}-->
            <iframe width="520" height="315"
              src="https://www.youtube.com/embed/<!--{$prop->url}-->">
            </iframe>
            <!--{/if}-->
            </div>
            <div class="card-body">
              <!--{$prop->description}-->
            </div>
        </div>
      </div>
      <!--{/foreach}-->
			<div class="col-sm-10 mt-5">
				<!--{include file="paging-bottom.html"}-->
			</div>
    <!--{/if}-->
  </div>
</div>
</section>
<!--{/block}-->