<!--{extends 'default.html'}-->
<!--{block name="main-slider"}-->
<!--{/block}-->
<!--{block name="main_content"}-->
<div class="container">
  <h1 class="text-center my-5">VOLUNTEER OPPORTUNITIES</h1>
  <div class="row justify-content-center">
    <div class="col-md-12 mb-5">
      <p>
        Do you have a talent or expertise that you would like to share?  We are always looking for volunteers to help run our programs and to help our community excel.  If you are interested in volunteering, please contact us at <a href="mailto:info@dufferincountycba.org">info@dufferincountycba.org</a>. 
      </p>
    </div>
  </div>
</div>
<!--{/block}-->