<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Videos</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Video</h6>
      </div>
      <div class="card-body">
      <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_video" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group d-none">
                  <label for="file_upload" class="form-control-label">Upload Video</label>
                  <input type="file" accept="video/*" id="file_upload" class="input-rounded w-100" name="file_upload"/>
                </div>
                <div class="form-group">
                  <label for="title" class="form-control-label">Video title</label>
                      <input type="text" class="form-control form-control-user" id="title" name="title" placeholder="Video title">
                </div>
                <div class="form-group">
                  <label for="video_link" class="form-control-label">Youtube Video Link</label>
                      <input type="url" class="form-control form-control-user" id="video_link" name="video_link" placeholder="Youtube Video link">
                </div>
                  <div class="form-group">
                        <label for="description" class="form-control-label">Description</label>
                        <textarea id="description" name="description" class="form-control form-control-sm input-block" rows="3" placeholder="Description" required></textarea>
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-success btn-sm rounded-0" type="submit" name="video">Add Video</button>
                </div>
            </div>
            <!--{if !empty($fail)}-->
            <div class="col">
              <div class="form-group">
                <!--{$fail}-->
              </div>
            </div>
            <!--{/if}-->
            <br>
        </div>
        
      </form>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
