<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/sports">Manage Sports&nbsp;<i class="fa fa-futbol-o"></i></a>&nbsp;| New Sport&nbsp;<i class="fa fa-plus-circle"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<h2>NEW COURSE</h2>
<form class="form w-100" method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_sport" enctype="multipart/form-data">
	<section class="row justify-content-center">
		<div class="card col-md-7 border-success card-heading py-3">
			<div class="text-center">
				<label>Sport Center Logo</label>
				<div class="img-scope">
					<label for="img-upload">
						<img class="img img-thumbnail" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/sport.jpg">
						<data class="text-center jsonly">Upload Photo</data>
					</label>
					<input type="file" accept="image/*" id="img-upload" name="img_upload"/>
					<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
				</div>
			</div>
		</div>
		<div class="card col-md-7 border-success card-body py-3">
			<fieldset>
				<legend>Sport Center Detail</legend>
				<!--{if !empty($fail)}-->
				<div class="form-group">
					<!--{$fail}-->
				</div>
				<!--{/if}-->
				<div class="form-group">
					<label for="sport">Sport Center Name</label>
					<input type="text" id="sport" name="sport" value="" class="form-control input-block" required/>
				</div>
				<div class="form-group">
					<label for="category">Category</label>
					<select name="category" class="form-control" id="category" required>
						<option value="">Choose Category</option>
						<!--{if !empty($categs)}-->
			  				<!--{foreach $categs as $key=>$categ}-->
	                            <option value="<!--{$key}-->"><!--{$categ}--></option>
	                        <!--{/foreach}-->
						<!--{/if}-->
					</select>
				</div>
				<div class="form-group">
					<label for="description">Description</label>
					<textarea id="description" name="description" rows="3" class="form-control" required></textarea>
				</div>
				<div class="form-group">
					<label for="location">Location</label>
					<textarea id="location" name="location" rows="3" class="form-control" required></textarea>
				</div>
				<div class="form-group">
					<label for="country">Country</label>
					<select id="country" name="country" required class="form-control signup-input">
						<!--{if !empty($countries)}-->
						<!--{foreach $countries as $country}-->
							<option value="<!--{$country->name}-->" <!--{if $userinfo->country==$country->name}-->selected<!--{/if}-->><!--{$country->name|capitalize}--></option>
						<!--{/foreach}-->
						<!--{/if}-->
					</select>
				</div>
				<div class="form-group">
					<label for="state">State</label>
					<select id="state" name="state" required class="form-control signup-input">
						<!--{if !empty($states)}-->
						<!--{foreach $states as $state}-->
							<option value="<!--{$state->name}-->"><!--{$state->name|capitalize}--></option>
						<!--{/foreach}-->
						<!--{/if}-->
					</select>
				</div>
				<div class="form-group">
					<label for="citi">City | Local Govt Area</label>
					<input type="text" name="city" value="<!--{$team->city}-->" id="citi" class="form-control signup-input" list="city">
					<datalist id="city">
						<!--{if !empty($cities)}-->
						<!--{foreach $cities as $city}-->
							<option value="<!--{$city->name}-->"><!--{$city->name|capitalize}--></option>
						<!--{/foreach}-->
						<!--{/if}-->
					</datalist>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block" type="submit" name="add_sport">Add Sport</button>
				</div>
			</fieldset>
		</div>

	</section>
</form>

<!--{/block}-->
