<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Action Type</h1>
    <p class="mb-4">Add a new action type to the disciplinary actions</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add action Type</h6>
      </div>
      <div class="card-body">
      <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_disciplinary_action" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                    <label for="name" class="form-control-label">Action Type</label>
                        <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="Action Type">
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-success btn-sm rounded-0" type="submit" name="action_type">Add Type</button>
                </div>
            </div>
            <!--{if !empty($fail)}-->
            <div class="col">
              <div class="form-group">
                <!--{$fail}-->
              </div>
            </div>
            <!--{/if}-->
            <br>
        </div>
        
      </form>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
