<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Investments</h1>
    <p class="mb-4">Add a new investment plan</p>

    <!-- DataTales Example -->
      <div class="row">
        <div class="col-md-6">
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Investment Plan</h6>
      </div>
          <div class="card-body">
            <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_investment" enctype="multipart/form-data">
              <div class="row">
                  <div class="col-md-12">
                      <div class="form-group">
                        <label for="property" class="form-control-label">Property</label>
                        <select name="property" class="form-control" id="property">
                        <!--{if !empty($properties)}-->
                          <!--{foreach $properties as $property}-->
                          <option value="<!--{$property->name}-->"><!--{$property->name}--></option>
                          <!--{/foreach}-->
                        <!--{else}-->
                          <option value="null">none</option>
                        <!--{/if}-->
                        </select>   
                      </div>
                      <div class="form-group">
                          <label for="category" class="form-control-label">Category</label>
                          <select name="category" class="form-control" id="category">
                            <option value="550">550 SQM</option>
                            <option value="400">400 SQM</option>
                            <option value="300">300 SQM</option>
                            <option value="200">200 SQM</option>
                            </select>   
                      </div>
                      <div class="form-group">
                        <label for="min_principal" class="form-control-label">Minimum Principal</label>
                        <input type="number" min="1000" class="form-control form-control-user" id="min_principal"  name="min_principal" placeholder="Minimum Principal">
                      </div>
                      <div class="form-group">
                          <label for="max_principal" class="form-control-label">Maximum Principal</label>
                          <input type="number" class="form-control form-control-user" id="max_principal"  name="max_principal" placeholder="Maximum Principal">
                      </div>
                      <div class="form-group">
                        <label for="percentage" class="form-control-label">Percentage</label>
                        <input type="number" class="form-control form-control-user" onkeyup="getInfo(this);" id="percentage" name="percentage" placeholder="Percentage">
                      </div>
                      <div class="form-group">
                          <label for="duration" class="form-control-label">Duration (months)</label>
                          <input type="number" class="form-control form-control-user" id="duration" name="duration" placeholder="Duration">
                      </div>
                      <script>
                        function zero(){
                          $("#percentage").val(0);
                          $("#roi").val(0);
                          $("#matunity").val(0);
                        }
                        function getInfo(myRadio) {
                            currentValue = myRadio.value;
                            var min_prin = $("#min_principal").val();
                            var max_prin = $("#max_principal").val();
                            //var min_roi = (currentValue/100) * min_prin;
                            var max_roi = (currentValue/100) * max_prin;
                            var max_maturity = max_roi + +max_prin;
                            $("#roi").val(max_roi.toFixed(2));
                            $("#matunity").val(max_maturity.toFixed(2));
                        }
                      </script>
                        <div class="form-group">
                          <label for="roi" class="form-control-label">R.O.I</label>
                              <input type="number" readonly class="form-control form-control-user" id="roi" name="roi" placeholder="R.O.I">
                        </div>
                        <div class="form-group">
                          <label for="matunity" class="form-control-label">Maturity</label>
                              <input type="number" readonly class="form-control form-control-user" id="matunity" name="matunity" placeholder="Maturity">
                        </div>
                        <div class="form-group">
                            <label for="active" class="form-control-label">Status</label>
                            <select name="active" class="form-control" id="active">
                              <option value="1">Active</option>
                              <option value="0">Inactive</option>
                              </select>   
                        </div>
                        <div class="form-group text-center">
                          <button class="btn btn-primary btn-sm rounded-0" type="submit" name="investment">Add Plan</button>
                      </div>
                  </div>
                  <!--{if !empty($fail)}-->
                  <div class="col">
                    <div class="form-group">
                      <!--{$fail}-->
                    </div>
                  </div>
                  <!--{/if}-->
                  <br>
              </div>
              
            </form>
      </div>
    </div>
  </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
