<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Add new Estate</h1>
    <p class="mb-4">Add a new estate to the records</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Estate</h6>
      </div>
      <div class="card-body">
        
      <!--{if !empty($fail)}-->
      <div class="col">
        <div class="form-group">
          <!--{$fail}-->
        </div>
      </div>
      <!--{/if}-->
      <form  method="POST" enctype="multipart/form-data" name="add_estate">
        <div class="row">
                <div class="col-md-6">
                  <h2 class="h3 mb-2 text-gray-800">General Information</h2>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 ">
                      <div class="img-scope">
                        <label for="img-upload">
                          <data class="text-center jsonly">Insert Photo</data>
                        </label>
                        <input type="file" accept="image/*" id="img-upload" name="img_upload"/>
                        <noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
                      </div>
                    </div>
                    <div class="col-sm-6 mb-3 ">
                        <div class="img-scope">
                          <label for="img-upload">
                            <data class="text-center jsonly">Insert Photo</data>
                          </label>
                          <input type="file" accept="image/*" id="img-upload2" name="img_upload2"/>
                          <noscript><button class="text-center" id="ppUpload2" name="ppUpload2" type="button">Upload Photo</button></noscript>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-3 ">
                        <div class="img-scope">
                          <label for="img-upload">
                            <data class="text-center jsonly">Insert Photo</data>
                          </label>
                          <input type="file"  id="img-upload3" name="img_upload3"/>
                          <noscript><button class="text-center" id="ppUpload3" name="ppUpload3" type="button">Upload Photo</button></noscript>
                        </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 ">
                      <input type="text" class="form-control form-control-user" id="name" required name="name" placeholder="Property Name">
                    </div>
                    <div class="col-sm-6 mb-3 ">
                      <input type="text" class="form-control form-control-user" id="title" required name="title" placeholder="Property Title">
                    </div>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control form-control-user" id="category" required name="category" placeholder="Category / Type">
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-6 mb-3 ">
                      <input type="text" class="form-control form-control-user" id="phone" name="phone" placeholder="Contact Number">
                    </div>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control" name="description" id="description" rows="3" required placeholder="Estate Description"></textarea>
                  </div>
                  <div class="form-group">
                  <textarea class="form-control " name="neighbourhood" id="neighbourhood"  rows="3"  placeholder="Neighbourhood"></textarea>
                </div>
                <div class="form-group">
                  <textarea class="form-control " name="infrastructure" id="infrastructure"  rows="3"  placeholder="Infrastructure"></textarea>
                </div>
                  <hr>
                </div>
                <div class="col-md-6">
                  <h2 class="h3 mb-2 text-gray-800">Property Details</h2>
                  <div class="form-group">
                    <label for="doc-upload">
                      <data class="text-center jsonly">Insert Document</data>
                    </label>
                    <input type="file" accept="doc/*" id="doc_upload" name="doc_upload"/>
                    <noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Document</button></noscript>
                  </div>
                  <div class="form-group">
                    <label for="form-upload">
                      <data class="text-center jsonly">Insert Form</data>
                    </label>
                    <input type="file" accept="doc/*" id="form_upload" name="form_upload"/>
                    <noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Form</button></noscript>
                  </div>
                  <div class="form-group">
                    <label for="plot_image_upload">
                      <data class="text-center jsonly">Insert Plot Image</data>
                    </label>
                    <input type="file" accept="image/*" id="plot_image_upload" name="plot_image_upload"/>
                    <noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Plot Image</button></noscript>
                  </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="totalplot" name="totalplot" required placeholder="Total Plot">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="totalplotsold" name="totalplotsold" required placeholder="Total Plot Sold">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="sizeplot" name="sizeplot" required placeholder="Size of Plot">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="amt1" name="amt1" placeholder="Price for 350 SQM">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="amt2" name="amt2" placeholder="Price for 450 SQM">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="amt3" name="amt3" placeholder="Price for 600 SQM">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" step="any" class="form-control form-control-user" id="amtsurvey" required name="amtsurvey" placeholder="Price for Survey">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" class="form-control form-control-user" id="amtlegal" required name="amtlegal" placeholder="Price for Legal Fee">
                  </div>
                </div> 
                <div class="form-group">
                    &nbsp; Release Date:
                   <input type="date" class="form-control form-control-user" id="reldate" name="reldate" placeholder="Release Date">

                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 ">
                    <input type="text" class="form-control form-control-user" id="promodesc" name="promodesc" placeholder="Promo Description">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" class="form-control form-control-user" id="discount" name="discount" placeholder="Percentage(%) Discount">
                  </div>
                </div>
                <div class="form-group row d-none">
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" class="form-control form-control-user" id="commission" name="commission" placeholder="Marketers Commission(%)">
                  </div>
                  <div class="col-sm-6 mb-3 ">
                    <input type="number" class="form-control form-control-user" id="manager_commission" name="manager_commission" placeholder="Managers Commission(%)">
                  </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control form-control-user" id="other" name="other" placeholder="Other info.....">
                </div>
                <div class="form-group">
                  <label for="status">Property Status</label>
                    <select name="active" class="form-control" required id="">
                      <option value="">Choose Status</option>
                      <option selected value="1">Available</option>
                      <option value="0">Not Available</option>
                    </select>
                  </div>
                <hr>
                </div>
                <div class="col-md-6">
                  <h2 class="h3 mb-2 text-gray-800">Address Information</h2>
                  <div class="form-group">
                      <textarea class="form-control" name="location" id="location" rows="3" placeholder="Location"></textarea>
                  </div>
                  <div class="form-group">
                    <textarea class="form-control " name="landmark" id="landmark"  rows="3" placeholder="Landmark"></textarea>
                  </div>
                  <div class="form-group row">
                    <div class="form-group">
                      <button name="triggers" class="btn btn-primary btn-user btn-block m-4" value="add_estate" type="submit">Add Estate</button>
                    </div>
                  </div>
                </div>
                <hr>
              <hr>
        </div>
      </form>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
