<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Job Details</h1>
    <p class="mb-4">Add a new Job Detail to the HRIS Database</p>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Add Job Detail</h6>
      </div>
      <div class="card-body">
      <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_job_detail" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                  <label for="employee" class="form-control-label">Employee</label>
                  <select name="employeeid" class="form-control" onchange="getInfo(this);" id="employee">
                  <option selected disabled value="null">Select Employee</option>
                  <!--{if !empty($employees)}-->
                    <!--{foreach $employees as $employee}-->
                    <option value="<!--{$employee->empid}-->"><!--{$employee->empid}--> - <!--{$employee->surname|ucfirst}--> <!--{$employee->first_name|ucfirst}--></option>
                    <!--{/foreach}-->
                  <!--{else}-->
                    <option value="null">none</option>
                  <!--{/if}-->
                  </select>   
                </div>
                <script>
                    function getInfo(myRadio) {
                        currentValue = myRadio.value;
                        var text=myRadio.options[myRadio.selectedIndex].text;
                        text = text.split("- ").pop();
                        document.getElementById('name').value = text;
                    }
                    
                </script>
                <div class="form-group">
                  <label for="name" class="form-control-label">Name</label>
                  <input type="name" class="form-control form-control-user" readonly id="name" name="name" value="" placeholder="Employee Name">
                </div>
                <div class="form-group">
                    <label for="job_title" class="form-control-label">Job Title</label>
                    <input type="text" class="form-control form-control-user" id="job_title" name="job_title" placeholder="Job Title">
                </div>
                <div class="form-group">
                  <label for="contract_type" class="form-control-label">Contract Type</label>
                  <input type="text" class="form-control form-control-user" id="contract_type" name="contract_type" placeholder="Contract Type">
                </div>
                <div class="form-group">
                  <label for="grade" class="form-control-label">Grade</label>
                  <input type="text" class="form-control form-control-user" id="grade" name="grade" placeholder="Grade">
                </div>
                <div class="form-group">
                    <label for="company_pension" class="form-control-label">Company Pension</label>
                    <input type="text" class="form-control form-control-user" id="company_pension" name="company_pension" placeholder="Company Penson">
                </div>
                <div class="form-group">
                  <label for="private_pension" class="form-control-label">Private Pension</label>
                  <input type="text" class="form-control form-control-user" id="private_pension" name="private_pension" placeholder="Private Pension">
                </div>
                <div class="form-group">
                  <label for="length_of_service" class="form-control-label">Length of Service</label>
                  <input type="text" class="form-control form-control-user" id="length_of_service" name="length_of_service" placeholder="Length of Service">
                </div>
                <div class="form-group">
                  <label for="probation_period" class="form-control-label">Probation Period</label>
                  <input type="text" class="form-control form-control-user" id="probation_period" name="probation_period" placeholder="Probation Period">
                </div>
              </div>
              
            <div class="col-lg-6">
                <div class="form-group">
                    <label for="source" class="form-control-label">Source</label>
                    <input type="text" class="form-control form-control-user" id="source" name="source" placeholder="Source">
                </div>
                <div class="form-group">
                    <label for="agency" class="form-control-label">Agency</label>
                    <input type="text" class="form-control form-control-user" id="agency" name="agency" placeholder="Agency">
                </div>
                <div class="form-group">
                  <label for="start_date" class="form-control-label">Start Date</label>
                  <input type="date" class="form-control form-control-user" id="start_date" name="start_date" placeholder="Start Date">
                </div>
                <div class="form-group d-none">
                  <label for="leave_date" class="form-control-label">End Date</label>
                  <input type="date" class="form-control form-control-user" id="leave_date" name="end_date" placeholder="End Date">
                </div>
                <div class="form-group">
                    <label for="health_insurance" class="form-control-label">Health Insurance</label>
                    <input type="text" class="form-control form-control-user" id="health_insurance" name="health_insurance" placeholder="Health Insurance">
                </div>
                <div class="form-group">
                  <label for="professional_qualification" class="form-control-label">Professional Qualification</label>
                  <input type="text" class="form-control form-control-user" id="professional_qualification" name="professional_qualification" placeholder="Professional Qualification">
                </div>
                <div class="form-group">
                    <label for="institute_membership" class="form-control-label">Institute Membership</label>
                    <input type="text" class="form-control form-control-user" id="institute_membership" name="institute_membership" placeholder="Institute Membership">
                </div>
            </div>
            <div class="col-sm-12">
              <div class="form-group text-center">
                <button class="btn btn-primary btn-sm rounded-0" type="submit" name="add_job_detail">Add Job Details</button>
              </div>
            </div>
            <!--{if !empty($fail)}-->
            <div class="col">
              <div class="form-group">
                <!--{$fail}-->
              </div>
            </div>
            <!--{/if}-->
            <br>
        </div>
        
      </form>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
