<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<h2>Dashboard Home</h2>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Agric Subscriptions Table</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Agric Subscriptions</h6>
  </div>
  <div class="form-group">
    <!--{if !empty($fail)}-->
      <!--{$fail}-->
    <!--{/if}-->
  </div>
  <div class="card-body bg-primary justify-content-center">
    <div class="col-lg-6 bg-primary rounded pt-2">
      <form action="" class="d-flex" method="post">
      <div class="form-group">
        <label class="text-light" for="Year">Enter Year</label>
            <select class="form-control" id="Year"  name="year">
              <!--{for $foo=2010 to 3000}-->
                <option <!--{if !empty($filter->year)}--> <!--{if $foo == $filter->year}--> selected <!--{/if}--> <!--{else}--> <!--{if $foo =='Y'|date}-->selected <!--{/if}--> <!--{/if}--> value="<!--{$foo}-->">
                  <!--{$foo}-->
                </option>
              <!--{/for}-->
            </select>
      </div>
      <div class="form-group">
        <label for="month"class="text-light">Select Month</label>
            <select class="form-control" id="month"  name="month">
              <option value="">All</option>
              <!--{foreach $months as $month}-->
                <option <!--{if !empty($filter->month)}--> <!--{if $month == $filter->month}-->selected <!--{/if}--> <!--{else}--> <!--{if $month =='M'|date}-->selected<!--{/if}--> <!--{/if}--> value="<!--{$month}-->">
                  <!--{$month}-->
                </option>
              <!--{/foreach}-->
            </select>
      </div>
      <div class="form-group">
        <label for="project_token"class="text-light">Select Property</label>
            <select class="form-control" id="product"  name="project_token">
              <option value="">All</option>
              <!--{if !empty($property)}-->
                <!--{foreach $property as $project}-->
                  <option <!--{if !empty($filter->product)}--> <!--{if $project->token == $filter->product}-->selected <!--{/if}--> <!--{/if}--> value="<!--{$project->token}-->">
                    <!--{$project->name|ucfirst}-->
                  </option>
              <!--{/foreach}-->
              <!--{else}-->
                <option value="">None</option>
              <!--{/if}-->
            </select>
      </div>
        <div class="form-group d-flex"> 
          <button type="submit" class="mt-2 btn btn-success" name="triggers" id="reports" value="sub_filter">OK</button>
       </div>      
     </form>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>SN</th>
            <th class="">Reference</th>
            <th>Property Details</th>
            <th>Client Details</th>
            <th>Subscription Date</th>
            <th>Payment Status</th>
            <th>Status</th>
            <th>Detail</th>
            <th class="showOne">Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>SN</th>
            <th class="">Reference</th>
            <th>Property Details</th>
            <th>Client Details</th>
            <th>Subscription Date</th>
            <th>Payment Status</th>
            <th>Status</th>
            <th>Detail</th>   
            <th class="showOne">Action</th>
          </tr>
        </tfoot>
        <tbody>
          
      <!--{if !empty($agric_subscriptions)}-->
          <!--{$numCount=1}-->
			  	<!--{foreach $agric_subscriptions as $subs}-->
			    <tr>
            <td><!--{$numCount}--></td>
            <td class="">
              <strong><!--{$subs->token}--></strong>
            </td>
            <td>
              <strong>Name: </strong><!--{$subs->product}--> <br>
              <strong>Plot Type: </strong><!--{$subs->plot_type}--> <br>
              <strong>Plot Number: </strong><!--{$subs->plot_number}--> <br>
              <strong>Plot Square Meter: </strong><!--{$subs->plot_sqm}--> <br>
            </td>
            <td>
              <strong>First Name: </strong><!--{$subs->firstname|ucfirst}--> <br>
              <strong>Last Name: </strong><!--{$subs->surname|ucfirst}--> <br>
              <strong>Mobile: </strong><!--{$subs->mobile}--> <br>
            </td>
            <td><!--{$subs->reg_date}--></td>
			      <td>
			      	 <!--{if $subs->paid =='1'}-->
               <span class="badge badge-success">PAID</span>
               <!--{else}-->
                <!--{if $subs->total_paid > 0}-->
                  <span class="badge badge-info">Initiated Payment</span>
                <!--{else}-->
                  <span class="badge badge-warning">NOT PAID</span>
                <!--{/if}-->
              <!--{/if}-->
            </td>
            <!--{if $subs->status == 3}-->
              <td>
                <span class="badge badge-info">Property has been changed</span>
              </td>
              <td>
                <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_agric_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription</a>
              </td>
            <!--{else}-->
              <td>
                <!--{if $subs->status =='0'}-->
                <div class="toooltip"> 
                  <a class="text-danger"  href="#"><i class="fa fa-question-circle "></i> Error / Bad Subscription data </a>
                  <span class="tooltiptext">This is caused when client do not fill up the form completely and submit successfully down to the last. Therefore they can be deleted.</span>
                 
                </div>
                <!--{else}-->
                    <!--{if $subs->paid =='0'}-->
                        <a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/make_payment?type=agric_subscription&id=<!--{$subs->token}-->"><i class="fa fa-plus"></i> Make Payment </a>
                    <!--{else}-->
                        <a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/make_payment?type=agric_subscription&id=<!--{$subs->token}-->"><i class="fa fa-plus"></i> Add More Payment </a>
                    <!--{/if}-->
                <!--{/if}-->
              </td>
              <td>
                <!--{if $subs->status != 0 }-->
                <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_agric_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription</a>
                <!--{/if}-->
              </td>
            <!--{/if}-->
              <td class="showOne">
                <form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/agric_subscriptions" method="post">
                  <input type="hidden" name="token" value="<!--{$subs->token}-->">
                  <button type="submit" name="triggers" value="delete_sub" onclick="return deleteItem();" class="btn btn-danger btn-sm"><i class="fa fa-trash p-2"></i>Delete</button>
                </form>
              </td>
			    </tr>
			  	<!--{$numCount=$numCount+1}-->
        <!--{/foreach}-->
  <!--{/if}-->
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--{/block}-->