<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard |</strong>
      &nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blogs">Blogs&nbsp;<i class="fa fa-"></i></a>&nbsp;| Blog Detail&nbsp;<i class="fa fa-rss"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="container-fluid">
      <div class="row justify-content-center">
            <!--{if !empty($fail)}-->
                  <div class="col-md-12"><!--{$fail}--></div>
            <!--{/if}-->
            <!--{if !empty($blog)}-->
            <!--{$content_stripe=$blog->content_stripe}-->
            <div class="col-md-6">
                  <div class="card">
                        <div class="card-header site-bg-1">
                              <img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->site/media/i/default-icon/logo-blog.png<!--{/if}-->" style="height: 300px;" >
                        </div>
                        <span class="card-footer">
                              <!--{$blog->dateadded|date_format}-->
                              <a class="btn btn-sm btn-success text-white rounded-0" type="button" data-toggle="collapse" data-target="#newBlogInfo" aria-expanded="true" aria-controls="newBlogInfo" id="newBlog"><i class="fa fa-pencil-square"></i> Edit</a>
                              <a class="btn btn-sm btn-danger text-white rounded-0" type="button" data-toggle="collapse" data-target="#deleteBlogInfo" aria-expanded="true" aria-controls="deleteBlogInfo" id="deleteBlog"><i class="fa fa-trash"></i> Delete</a>
                        </span>
                        <div class="card-body" style="overflow-y: auto; max-height: 300px;">
                              <h4 class="card-title">
                                    <!--{$blog->title}-->
                              </h4>
                              <!--{if !empty($blog->author)}-->
                              <h6 class="card-title">
                                    Author: <!--{$blog->author}-->
                              </h6>
                              <!--{/if}-->
                              <!--{if !empty($blog->source)}-->
                              <h6 class="card-title">
                                    Source: <!--{$blog->source}-->
                              </h6>
                              <!--{/if}-->
                              <div class="card-text">
                                    <!--{$blog->content_stripe}-->
                              </div>
                        </div>
                  </div>
            </div>

            <div class="col-md-6" id="accordion">
                  <div class="col-md-12 collapse" id="deleteBlogInfo" aria-labelledby="deleteBlog" data-parent="#accordion">
                        <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blog?id=<!--{$blog->token}-->">
                              <div class="alert alert-danger alert-dismissible border border-success px-3 rounded" role="alert">
                                    <p>Are you sure to blog this project?</p>
                                    <p>Note that every stored details relating to the blog will be lost and unrecoverable afther this event is triggered</p>
                                    <p class="text-center">
                                          <button class="btn btn-danger" type="submit" name="delete_blog">Proceed</button>&nbsp;
                                          <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#deleteBlogInfo" aria-expanded="true" aria-controls="deleteBlogInfo" id="deleteBlog">Cancel</button>
                                    </p>
                              </div>
                        </form>
                  </div>
                  <div class="col-md-12 collapse" id="newBlogInfo" aria-labelledby="newBlog" data-parent="#accordion">
                        <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blog?id=<!--{$blog->token}-->" enctype="multipart/form-data">
                              <div class="row justify-content-center">  
                                    <div class="col-md-12 card card-body">
                                          <fieldset>
                                                <legend>Edit Blog Post</legend>
                                                <div class="form-group">
                                                      <div class="img-scope card-heading pt-3 pb-3">
                                                            <label for="img-upload">
                                                                  <img class="img img-thumbnail w-100" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->site/media/i/default-icon/logo-blog.png<!--{/if}-->">
                                                                  <data class="text-center jsonly">Upload Photo</data>
                                                            </label>
                                                            <input type="file" accept="image/*" id="img-upload" class="input-rounded w-100" name="img_upload"/>
                                                            <noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
                                                      </div>
                                                </div>
                                                <div class="form-group">
                                                      <label for="author" class="form-control-label">Author</label>
                                                      <input type="text" id="author" name="author" value="<!--{$blog->author}-->" class="form-control form-control-sm input-rounded"/>
                                                </div>
                                                <div class="form-group">
                                                      <label for="source" class="form-control-label">Source</label>
                                                      <input type="text" id="source" name="source" value="<!--{$blog->source}-->" class="form-control form-control-sm input-rounded"/>
                                                </div>
                                                <div class="form-group">
                                                      <label for="title" class="form-control-label">News Title</label>
                                                      <input type="text" id="title" name="title" value="<!--{$blog->title}-->" class="form-control form-control-sm input-rounded" required/>
                                                </div>
                                                <div class="form-group">
                                                      <label for="content" class="form-control-label">Content</label>
                                                      <!-- <textarea id="content" name="content" class="form-control form-control-sm input-block" rows="10" required></textarea> -->
                                                      <div id="editcontent"></div>
                                                      <input type="hidden" name="content" id="content" class="addContent" value="<!--{$blog->content}-->" required />
                                                 </div>
                                                <div class="form-group">
                                                      <button class="btn btn-success btn-sm rounded-0" type="submit" name="blog-edit">Update Blog</button>
                                                </div>
                                          </fieldset>
                                    </div>
                              </div>
                        </form>
                  </div>
            </div>
            <!--{else}-->
            <h4 class="col-9">Cannot find this news Information.</h4>
            <!--{/if}-->
      </div>
</section>
<!--{/block}-->