<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blogs">Blogs&nbsp;<i class="fa fa-rss-square"></i></a>&nbsp;| New Blog&nbsp;<i class="fa fa-plus-square"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
		<div class="col-md-9 card">
			<div class="card card-body mt-3 mb-3">
				<form class="form w-100" method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/blog-new" enctype="multipart/form-data">
	
				<fieldset class="border border-success rounded-0 px-3">
					<legend class="text-center">New Blog Post</legend>
					<div class="form-group">
						<div class="img-scope card-heading pt-3 pb-3">
								<img class="img img-thumbnail" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/icons/blog-icon.png">
							<label for="img-upload">
								<data class="text-center jsonly">Upload Photo</data>
							</label>
							<input type="file" accept="image/*" id="img-upload" class="input-rounded w-100" name="img_upload"/>
							<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
						</div>
					</div>
					<div class="form-group text-justify">
						<label for="author" class="form-control-label">Author</label>
						<input type="text" id="author" name="author" class="form-control form-control-sm input-rounded"/>
					</div>
					<div class="form-group text-justify">
						<label for="source" class="form-control-label">Source</label>
						<input type="text" id="source" name="source" class="form-control form-control-sm input-rounded"/>
					</div>
					<div class="form-group text-justify">
						<label for="title" class="form-control-label">News Title</label>
						<input type="text" id="title" name="title" class="form-control form-control-sm input-rounded" required/>
					</div>
					<!--{if !empty($fail)}-->
						<div class="form-group">
							<!--{$fail}-->
						</div>
					<!--{/if}-->
					<div class="form-group text-justify">
						<label for="content" class="form-control-label">Content</label>
						<!-- <textarea id="content" name="content" class="form-control form-control-sm input-block" rows="10" required></textarea> -->
						<div id="editcontent"></div>
						<input type="hidden" name="content" class="addContent" id="content" value="" required />
					</div>
					<div class="form-group text-center">
						<button class="btn btn-success rounded-0 btn-sm" type="submit" name="new-blog">Add Blog</button>
					</div>
				</form>
				</fieldset>
			</div>
		</div>
	</section>
<!--{/block}-->