<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard |&nbsp;Business&nbsp;<i class="fa fa-calendar"></i>&nbsp;|&nbsp;Business Detail&nbsp;<i class="fa fa-info"></i></strong></section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
		<!--{if !empty($business)}-->
		<div class="col-md-6">
			<div class="card">
				<div class="card-header site-bg-1">
					<img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($event->image)}--><!--{$event->image}--><!--{else}-->site/media/i/default-icon/event-icon.png<!--{/if}-->" style="height: 300px;" >
				</div>
				<span class="card-footer">
					<!--{$business->dateadded|date_format}-->
					<a class="btn btn-sm btn-success float-right text-white rounded-0 mx-1" type="button" data-toggle="collapse" data-target="#newBlogInfo" aria-expanded="true" aria-controls="newBlogInfo" id="newBlog"><i class="fa fa-pencil-square"></i>Edit business</a>
          			<button class="btn btn-sm float-right btn-danger mx-1" type="button" data-toggle="collapse" data-target="#deleteNewsInfo" aria-expanded="true" aria-controls="deleteNewsInfo" id="deleteNews"><i class="fa fa-trash"></i> Delete Business</button>&nbsp;
				</span>
				<div class="card-body" style="overflow-y: auto; max-height: 300px;">
					<h4 class="card-title">
						<!--{$business->business_name}-->
					</h4>
					<div class="card-text">
						<!--{$business->business_desc_stripe}-->
					</div>
				</div>
			</div>
		</div>

        <div class="col-md-5" id="accordion">
			<div class="collapse" id="newBlogInfo" aria-labelledby="newBlog" data-parent="#accordion">
					<form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/business?id=<!--{$business->token}-->&business=edit" enctype="multipart/form-data">
					<div class="row justify-content-center">	
						<div class="col-md-8 card card-body">
							<fieldset>
								<legend>Edit Business Details</legend>
								<div class="form-group">
									<div class="img-scope card-heading pt-3 pb-3">
										<label for="img-upload">
										<img class="img img-thumbnail w-100" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($business->image)}--><!--{$business->image}--><!--{else}-->site/media/i/default-icon/event-icon.png<!--{/if}-->">
										<data class="text-center jsonly">Photo</data>
										</label>
                    <input type="file" accept="image/*" id="img-upload" class="input-rounded w-100" name="img_upload"/>
										<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="category">Category</label>
                    <select id="category" name="category" class="form-control" required>
                      <option value="">Choose Category</option>
                      <option class="select-option" value="automotive and transport service">Automotive and Transport Service</option>
                      <option class="select-option" value="home, land & real estate">Home, Land & Real Estate</option>
                      <option class="select-option" value="salons & spas">Salons & SPAs</option>
                      <option class="select-option" value="sports & fitness centers">Sports & Fitness Centers</option>
                      <option class="select-option" value="recreations, bars & eatries">Recreations, Bars & Eatries</option>
                      <option class="select-option" value="hotels & clubs">Hotels & Clubs</option>
                      <option class="select-option" value="schools">Schools</option>
                      <option class="select-option" value="religion platforms">Religion Platforms</option>
                      <option class="select-option" value="fashion boutiques & galleries">Fashion Boutiques & Galleries</option>
                      <option class="select-option" value="market & shopping mall">Market & Shopping Mall</option>
                      <option class="select-option" value="health care centers">Health Care Centers</option>
                      <option class="select-option" value="others">Others</option>
                    </select>
									</div>
									<div class="form-group col-md-6">
                    <label for="sub-category">Sub-Category</label>
                    <input type="text" name="subcategory" class="form-control" id="subcategory" placeholder="Input a Sub-Category..." required>
									</div>
								</div>
								<div class="form-group">
									<label for="business-name">Business Name</label>
									<input type="text" name="businessname" class="form-control" id="business-name" placeholder="Business Name..." value="<!--{$business->business_name}-->" required>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
									  <label for="phone-number">Phone Number</label>
									  <input type="number" name="phonenumber" class="form-control" id="phone-number" placeholder="Phone Number..." value="<!--{$business->phone_number}-->" required>
									</div>
									<div class="form-group col-md-6">
									  <label for="email">Email</label>
									  <input type="email" name="email" id="email" class="form-control" value="<!--{$business->email}-->" placeholder="Email..." required>
									</div>
								</div>
								<div class="form-group">
									<label for="business-desc">Business Descriptioin</label>
									<textarea class="form-control" name="businessdesc" id="business-desc" rows="3" placeholder="Brief Business Description..." required><!--{$business->business_desc}--></textarea>
								</div>
								<div class="form-group">
									<label for="address">Address</label>
									<input type="text" name="address" id="address" value="<!--{$business->address}-->" class="form-control" required placeholder="Adress..." >
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
									  <label for="city">City</label>
									  <input type="text" name="city" class="form-control" value="<!--{$business->city}-->" id="city" placeholder="City..." required>
									</div>
									<div class="form-group col-md-6">
									  <label for="state">State/Province</label>
									  <input type="text" name="state" class="form-control" id="state" placeholder="State/Province..." value="<!--{$business->state}-->" required>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-md-6">
									  <label for="postal">Postal Code</label>
									  <input type="number" name="postal" class="form-control" value="<!--{$business->postal_code}-->" id="postal" placeholder="postal code..." required>
									</div>
									<div class="form-group col-md-6">
									  <label for="contact-person">Contact Person...</label>
									  <input type="text" name="contactperson" class="form-control" id="contact-person" placeholder="Contact Person..." value="<!--{$business->contact_person}-->" required>
									</div>
								</div>
								<div class="form-group col">
									<label for="subscription">Subscription</label>
									<select id="subscription" name="subscription" class="form-control" required>
									  <option value="">Choose Subscription</option>
									  <option class="select-option" value="100">Business Membership($100/Month)</option>
									</select> 
								</div>
								<div class="form-group">
									<button class="btn btn-success btn-sm rounded-0" type="submit" name="edit_business">Save Changes</button>
								</div>
							</fieldset>
						</div>
					</div>
				</form>
			</div>
			<div id="deleteNewsInfo" class="collapse" aria-labelledby="deleteNews" data-parent="#accordion">
				<form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/business?id=<!--{$business->token}-->" class="w-100">
						<div class="alert alert-danger alert-dismissible border border-success px-3 rounded" role="alert">
							<p>Are you sure to delete this business?</p>
							<p>Note that every stored details relating to the business will be lost and unrecoverable afther this event is triggered</p>
							<p class="text-center">
								<button class="btn btn-danger" type="submit" name="delete_business">Proceed</button>&nbsp;
								<button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#deleteNewsInfo" aria-expanded="true" aria-controls="deleteNewsInfo" id="deleteNews">Cancel</button>
							</p>
						</div>
				</form>
			</div>
		</div>
		<!--{if !empty($fail)}-->
			<div class="col-md-12">
				<!--{$fail}-->
			</div>
		<!--{/if}-->
		<!--{else}-->
		<h4 class="col-9">Cannot find this business.</h4>
		<!--{/if}-->

</section>
<!--{/block}-->