<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<h2>Dashboard Home</h2>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Clients Listing Table</h1>
<p class="mb-4">The table contains clients listing and legal docs collected</p>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Subscriptions</h6>
  </div>
  <!--{if !empty($fail)}-->
    <div class="col">
      <div class="form-group">
        <!--{$fail}-->
      </div>
    </div>
  <!--{/if}-->  
  <!--{if !empty($subscriptions)}-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>SN</th>
            <th class="">Reference</th>
            <th>Product Details</th>
            <th>Client Details</th>
            <th>Payment Details</th>
            <th>Subscription Date</th>
            <th>Payment Status</th>
            <th>Documents</th>
            <th>Detail</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>SN</th>
            <th class="">Reference</th>
            <th>Product Details</th>
            <th>Client Details</th>
            <th>Payment Details</th>
            <th>Subscription Date</th>
            <th>Payment Status</th>
            <th>Documents</th>
            <th>Detail</th>
          </tr>
        </tfoot>
        <tbody>
          <!--{$numCount=1}-->
			  	<!--{foreach $subscriptions as $subs}-->
			    <tr>
            <td><!--{$numCount}--></td>
            <td class="">
              <strong><!--{$subs->token}--></strong>
            </td>
            <td>
              <strong>Name: </strong><!--{$subs->product}--> <br>
              <strong>Plot Type: </strong><!--{$subs->plot_type}--> <br>
              <strong>Plot Number: </strong><!--{$subs->plot_number}--> <br>
              <strong>Plot Square Meter: </strong><!--{$subs->plot_sqm}--> <br>
            </td>
            <td>
              <strong>Title: </strong><!--{$subs->title|ucfirst}--> <br>
              <strong>First Name: </strong><!--{$subs->firstname|ucfirst}--> <br>
              <strong>Last Name: </strong><!--{$subs->surname|ucfirst}--> <br>
              <strong>Middle Name: </strong><!--{$subs->middlename|ucfirst}--> <br>
              <strong>Gender: </strong><!--{$subs->sex|ucfirst}--> <br>
              <strong>Date of Birth: </strong><!--{$subs->dob}--> <br>
              <!--{if $subs->marital_status=='married'}-->
              <strong>Spouse First Name: </strong><!--{$subs->spouse_firstname|ucfirst}--> <br>
              <strong>Spouse Last Name: </strong><!--{$subs->spouse_surname|ucfirst}--> <br>
              <!--{/if}-->
              <strong>Mobile: </strong><!--{$subs->mobile}--> <br>
              <strong>Phone: </strong><!--{$subs->phone}--> <br>
              <strong>Email: </strong><!--{$subs->email}--> <br>
            </td>
            <td>
              <strong>Payment Type: </strong><!--{$subs->payment_type}--> <hr>
              <strong>Total Amount: </strong>&#8358;<!--{$subs->total_amount|number_format:2}--> <hr>
              <strong>Total Paid: </strong>&#8358;<!--{$subs->total_paid|number_format:2}--> <hr>
              <strong>Outstanding Balance: </strong>&#8358;<!--{$subs->outstanding|number_format:2}-->	
            </td>
            <td><!--{$subs->reg_date}--></td>
			      <td>
			      	 <!--{if $subs->paid =='1'}-->
               <span class="badge badge-success">PAID</span>
               <!--{else}-->
                <!--{if $subs->total_paid > 0}-->
                  <span class="badge badge-info">Initiated Payment</span>
                <!--{else}-->
                  <span class="badge badge-warning">NOT PAID</span>
                <!--{/if}-->
              <!--{/if}-->
            </td>
                <!--{if $subs->status == 1}-->
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/subscription_letter?id=<!--{$subs->token}-->">Subscription Letter</a>
                    <!--{if $subs->paid == 1}-->
                        <span class="badge badge-danger">Contract of Sale has not been sent</span>
                        <form action="" method="post">
                          <input type="hidden" name="sub_token" value="<!--{$subs->token}-->">
                          <button class="btn btn-sm my-1 btn-primary" name="triggers" value="legal_doc_2">Send Contract</a>
                        </form>
                    <!--{/if}--> 
                  </td>
                  <td>
                      <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription</a>
                  </td>
                <!--{/if}-->
                <!--{if $subs->status == 3}-->
                  <td>
                    <span class="badge badge-info">Property has been changed</span>
                  </td>
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription</a>
                  </td>
                <!--{/if}-->
                <!--{if $subs->status == 4}-->
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/subscription_letter?id=<!--{$subs->token}-->">Subscription Letter</a>
                    <!--{if $subs->paid == 1}-->
                      <span class="badge badge-danger">Contract has not been sent</span>
                    <!--{/if}-->
                  </td>
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription </a>
                    <!--{if $subs->paid == 1}-->
                    <form action="" method="post">
                      <input type="hidden" name="sub_token" value="<!--{$subs->token}-->">
                      <button class="btn btn-sm my-1 btn-success" name="triggers" value="legal_doc_2">Send Contract Of Sale</a>
                    </form>
                  <!--{/if}-->
                  </td>
                <!--{/if}-->
                <!--{if $subs->status >= 5}-->
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/subscription_letter?id=<!--{$subs->token}-->">Subscription Letter</a>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/contract_of_sales?id=<!--{$subs->token}-->">Contract of Sale </a>
                    <a class="btn btn-sm my-1 btn-success"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/completion_letter?id=<!--{$subs->token}-->">Completion Letter</a>
                  </td>
                  <td>
                    <a class="btn btn-sm my-1 btn-primary"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_subscription?id=<!--{$subs->token}-->"><i class="fa fa-ellipsis-v"></i> View Subscription </a>
                  </td>
                <!--{/if}-->
			    </tr>
			  	<!--{$numCount=$numCount+1}-->
        <!--{/foreach}-->
        </tbody>
      </table>
    </div>
  </div>
  <!--{else}-->
  <div class="alert alert-warning"><h3 class="alert-heading">No record found</h3></div>
  <!--{/if}-->
</div>
<!--{/block}-->