<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Commission Payroll</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Payroll for <!--{$month}--> <!--{$year}--> </h6>
      </div>
      <div class="card-body">
      
      <!--{if !empty($fail)}-->
        <div class="col">
          <div class="form-group">
            <!--{$fail}-->
          </div>
        </div>
      <!--{/if}-->    
      <div class="row">
          <div class="col-4">
            <div class="form-group">
              <label for="month" class="form-control-label">Month</label>
              <input type="text" class="form-control form-control-user" value="<!--{$month}-->" id="month" name="month"  placeholder="Month">
            </div>
            <div class="form-group">
              <label for="year" class="form-control-label">Year</label>
              <input type="text" class="form-control form-control-user" value="<!--{$year}-->" id="year" name="year" placeholder="Year">
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th  class="bg-primary text-light" colspan="6">
                  INFO
                </th>
                <th  class="bg-success text-light" colspan="2">
                  Earnings
                </th>
                <th  class="bg-danger text-light" colspan="9">
                  Deductions
                </th>
              </tr>
              <tr class="bg-dark text-light">
                <th>SN</th>
                <th>Employee ID</th>
                <th>Product Detail</th>
                <th>Name</th>
                <th>Bank Name</th>
                <th>Account Num</th>
                <th>Amount</th>
                <th>Commission</th>
                <th>GrossTotal</th>
                <th>Loan</th>
                <th>PAYEE</th>
                <th>Pension</th>
                <th>HMO</th>
                <th>Fines</th>
                <th>Welfare</th>
                <th>Others</th>
                <th>Tax</th>
                <th>Total</th>
                <th>Net Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <!--{$numCount=1}-->
              <!--{foreach $payroll as $record}-->
              <tr>
                <td><!--{$numCount}--></td>
                <td id="<!--{$record->employeeid}-->"><!--{$record->employeeid}--></td>
                <td>
                  <!--{if !empty($record->sub)}-->
                    <strong>Reference: </strong> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_subscription?id=<!--{$record->subscription_token}-->"><!--{$record->subscription_token}--> </a> <hr>
                    <strong>Product: </strong><!--{$record->sub->product}--> <hr>
                <!--{/if}-->
                <!--{if !empty($record->investment)}-->
                  <strong>Reference: </strong> <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_investment?id=<!--{$record->investment_token}-->"><!--{$record->investment_token}--> </a> <hr>
                  <strong>Product: </strong><!--{$record->investment->product}--> <hr>
                 <!--{/if}-->
                </td>
                <td><!--{if !empty($record->salary_info)}--><!--{$record->salary_info->name|ucwords}--><!--{/if}--></td>
                <td>
                  <!--{if !empty($record->salary_info)}--><!--{$record->salary_info->bankname|ucwords}--><!--{/if}-->
                </td>
                <td>
                  <!--{if !empty($record->salary_info)}--><!--{$record->salary_info->accnum}--><!--{/if}-->
                </td>
                <td class="bg-success text-light"><!--{$record->total_amount}--></td>
                <td class="bg-success text-light"><!--{$record->commission}--></td>
                <td class="Total bg-gradient-success text-light"><!--{$record->total_pay}--></td>
                <td class="bg-danger text-white" <!--{if $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->loan)}--><!--{$record->loan}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->payee)}--><!--{$record->payee}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->pension) || $record->status >= 2}--><!--{$record->pension}--><!--{else}--><!--{$record->salary_info->pension}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->hmo)}--><!--{$record->hmo}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->fines) || $record->status >= 2}--><!--{$record->fines}--><!--{else}--><!--{$record->salary_info->late_fee}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->welfare) || $record->status >= 2}--><!--{$record->welfare}--><!--{else}--><!--{$record->salary_info->welfare}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->others)}--><!--{$record->others}--><!--{/if}--></td>
                <td class="bg-danger text-white" <!--{if  $record->status != 3 && $record->status != 2}--> contenteditable="" <!--{/if}-->><!--{if !empty($record->tax) || $record->status >= 2}--><!--{$record->tax}--><!--{else}--><!--{$record->salary_info->tax}--><!--{/if}--></td>
                <td class="subDrTotal bg-gradient-danger text-light"></td>
                <td class="NetTotal bg-gradient-primary text-light"><!--{$record->total_pay}--></td>
                <td>
                    <form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/commission_payroll?month=<!--{$record->month}-->&year=<!--{$record->year}-->&id=<!--{$record->payrollid}-->" method="post">
                      
                      <input id="net_pay<!--{$numCount}-->" class="net_pay<!--{$numCount}-->" type="hidden" name="post_net_pay" value="">
                      <input id="debtotal<!--{$numCount}-->" class="debtotal<!--{$numCount}-->" type="hidden" name="debtotal" value="">
                      <input id="loan<!--{$numCount}-->" class="loan<!--{$numCount}-->" type="hidden" name="loan" value="">
                      <input id="payee<!--{$numCount}-->" class="payee<!--{$numCount}-->" type="hidden" name="payee" value="">
                      <input id="pension<!--{$numCount}-->" class="pension<!--{$numCount}-->" type="hidden" name="pension" value="">
                      <input id="hmo<!--{$numCount}-->" class="hmo<!--{$numCount}-->" type="hidden" name="hmo" value="">
                      <input id="fines<!--{$numCount}-->" class="fines<!--{$numCount}-->" type="hidden" name="fines" value="">
                      <input id="welfare<!--{$numCount}-->" class="welfare<!--{$numCount}-->" type="hidden" name="welfare" value="">
                      <input id="others<!--{$numCount}-->" class="others<!--{$numCount}-->" type="hidden" name="others" value="">
                      <input id="tax<!--{$numCount}-->" class="tax<!--{$numCount}-->" type="hidden" name="tax" value="">
                      <!--{if $record->status == 0}-->
                      <input type="hidden" name="active" value="2">
                      <button type="submit" name="triggers" value="approval" class="btn btn-success btn-sm">Approve</button>
                      <!--{/if}-->
                      <!--{if $record->status == 1}-->
                      <input type="hidden" name="active" value="2">
                      <button type="submit" name="triggers" value="approval" class="btn btn-success btn-sm">Approve</button>
                      <!--{/if}-->
                      <!--{if $record->status == 2}-->
                      <input type="hidden" name="disapprove" value="1">
                      <button type="submit" name="triggers" value="disapproval" class="btn btn-danger btn-sm">Disapprove</button>
                      <!--{/if}-->
                      <!--{if $record->status == 2}-->
                      <input type="hidden" name="active" value="3">
                      <button type="submit" name="triggers" value="generate_payslip" class="btn btn-info btn-sm">Generate Payslip</button>
                      <!--{/if}-->
                      <!--{if $record->status == 3}-->
                        <a class="btn btn-success btn-sm">Payslip Sent</a>
                      <!--{/if}-->
                    </form>
                </td>
              </tr>
              <!--{$numCount=$numCount+1}-->
            <!--{/foreach}-->
            </tbody>
          </table>
          <div class="d-none">
            <textarea name="allData" id="allData"></textarea>
          </div>
          <div class="row justify-content-center">
            <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/commission_payrolls" class="p-2 btn btn-warning text-light m-2">BACK</a>
            <!--EXPORT BUTTON-->
            <button id="exportbtn" class="p-2 btn btn-sm btn-success text-light m-2" type="button">EXPORT PAYROLL</button>
          </div>
        </div>
      </div>
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
