<!--{extends file="root.html"}-->
<!--{block name="content"}-->
	<h1 class="h3 mb-2 text-gray-800">Add new general document</h1>
<section class="row no-gutters justify-content-center">
	<div class="col-sm-12">
		<div class="form-group">
			<!--{if !empty($fail)}-->
				<!--{$fail}-->
			<!--{/if}-->
		</div>
	</div>
	<div class="col-md-8">
		<form class="form w-100" method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/companydocs-new" enctype="multipart/form-data">
			<div class="card card-body justify-content-center mt-3 mb-3">
				<fieldset class="border border-success rounded px-4">
					<legend class="text-center p-2 mt-2">New Document</legend>
					<div class="form-group">
						<label for="title"><h5>Title <sup class="text-danger">(*)</sup></h5></label>
						<input type="text" id="title" name="title" value="" class="form-control input-block lh-3" required/>
						<hr/>
					</div>
					<div class="form-group mt-4">
						<label for="category"><h5>Category <sup class="text-danger">(*)</sup></h5></label>
						<input type="text" id="category" name="category" value="" class="form-control input-block lh-3" required/>
						</select>
					</div>
	                <div class="form-group">
	                 	<label for="doc_upload">Upload File <i class="fa fa-file-archive"></i>  <i class="fa fa-file-pdf"></i></label>
	                 	<input type="file" accept="application/*" id="doc_upload" class="form-control input-rounded" name="doc_upload" required/>
	                </div>
					<div class="form-group">
						<label for="content" class="form-control-label"><h5>Briefing <sup class="text-danger">(*)</sup></h5></label>
						<!-- <textarea id="content" name="content" class="form-control form-control-sm input-block" rows="10" required></textarea> -->
						<div id="editcontent"></div>
						<input type="hidden" name="content" class="addContent" id="content" value="" required />
					</div>
					<div class="form-group text-center">
						<button class="btn btn-success btn-lg rounded-0" type="submit" name="add_update"><i class="fa fa-save"></i> Add Update</button>
					</div>
				</fieldset>
			</div>
		</form>
	</div>
</section>

<!--{/block}-->