<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<h2>Dashboard Home</h2>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Disciplinary Actions Table</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Disciplinary Actions</h6>
  </div>
  <!--{if !empty($fail)}-->
  <div class="col">
    <div class="form-group">
      <!--{$fail}-->
    </div>
  </div>
  <!--{/if}-->
  <!--{if !empty($actions)}-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>SN</th>
            <th>Action</th>
            <th class="d-none" scope="col"></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>SN</th>
            <th>Action</th>
            <th class="d-none" scope="col"></th>
          </tr>
        </tfoot>
        <tbody>
          <!--{$numCount=1}-->
          <!--{foreach $actions as $act}-->
			    <tr>
            <td><!--{$numCount}--></td>
            <td><!--{$act->action}--></td>
			      <td>
              <form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/disciplinary_actions?id=<!--{$act->id}-->" method="post">
                <button type="submit" name="triggers" value="delete_action" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
		    </tr>
			  	<!--{$numCount=$numCount+1}-->
        <!--{/foreach}-->
        </tbody>
      </table>
    </div>
  </div>
  <!--{else}-->
  <h2 class="m-4">Actions Empty</h2>
  <!--{/if}-->
</div>
<!--{/block}-->