<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard |
	&nbsp;Blogs&nbsp;<i class="fa fa-rss-square"></i></strong> | Edit Blog Detail&nbsp;<i class="fa fa-pencil-square"></i>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<h3>BLOG</h3>
<section class="container-fluid">
	<div class="row justify-content-center">
		<!--{if !empty($blog)}-->
		<div class="col-md-6">
			<div class="card">
				<div class="card-header">
					<img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->site/media/i/default-icon/logo-blog.png<!--{/if}-->" style="height: 300px;" >
				</div>
				<div class="card-body" style="overflow-y: auto; height: 300px;">
					<h4 class="card-title">
						<!--{$blog->title}-->
					</h4>
					<div class="card-text">
						<!--{$blog->content_stripe}-->
					</div>
				</div>
				<span class="card-footer">
					<!--{$blog->dateadded|date_format}-->
					<a class="btn btn-sm btn-primary" type="button" data-toggle="collapse" data-target="#newBlogInfo" aria-expanded="true" aria-controls="newBlogInfo" id="newBlog"><i class="fa fa-pencil-square"></i>Edit Now</a>
				</span>
			</div>
		</div>
		<div class="col-md-6 collapse" id="newBlogInfo" aria-labelledby="newBlog">
			<form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/edit_blog?id=<!--{$blog->updateid}-->&event=edit" enctype="multipart/form-data">
				<div class="row justify-content-center">	
					<div class="col-md-12 card card-body">
						<fieldset>
							<legend>New Blog Post</legend>
							<div class="form-group">
								<div class="img-scope card-heading pt-3 pb-3">
									<label for="img-upload">
										<img class="img img-thumbnail w-100" id="dataImg" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($blog->image)}--><!--{$blog->image}--><!--{else}-->site/media/i/default-icon/logo-blog.png<!--{/if}-->">
										<data class="text-center jsonly">Upload Photo</data>
									</label>
									<input type="file" accept="image/*" id="img-upload" class="input-rounded w-100" name="img_upload"/>
									<noscript><button class="text-center" id="ppUpload" name="ppUpload" type="button">Upload Photo</button></noscript>
								</div>
							</div>
						<div class="form-group">
							<label for="author" class="form-control-label">Author</label>
							<input type="text" id="author" name="author" value="<!--{$blog->author}-->" class="form-control form-control-sm input-rounded"/>
						</div>
							<div class="form-group">
								<label for="title" class="form-control-label">Blog Title</label>
								<input type="text" id="title" name="title" value="<!--{$blog->title}-->" class="form-control form-control-sm input-rounded" required/>
							</div>
							<div class="form-group">
								<label for="content" class="form-control-label">Content</label>
								<!-- <textarea id="content" name="content" class="form-control form-control-sm input-block" rows="10" required></textarea> -->
								<div id="editcontent"></div>
								<input type="hidden" name="content"  id="content" value="<!--{$blog->content}-->" required />
							</div>
							<div class="form-group">
								<button class="btn btn-primary btn-sm btn-block" type="submit" name="add_update">Update Blog</button>
							</div>
						</fieldset>
					</div>
				</div>
			</form>
		</div>
		<!--{if !empty($fail)}-->
			<div class="col-md-12">
				<!--{$fail}-->
			</div>
		<!--{/if}-->
		<!--{else}-->
		<h4 class="col-9">Cannot find this blog Information.</h4>
		<!--{/if}-->
	</div>
</section>
<!--{/block}-->