<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |&nbsp;Events&nbsp;<i class="fa fa-calendar"></i></strong></section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<!--{if !empty($events)}-->
		<!--{foreach $events as $event}-->
		<div class="col-4 mt-2">
			<div class="card">
				<div class="card-header">
					<img class="imge card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($event->image)}--><!--{$event->image}--><!--{else}-->site/media/i/default-icon/event-icon.png<!--{/if}-->" style="height: 250px;" >
				</div>
				<div class="card-body" style="overflow-y: auto; height: 200px;">
					<h4 class="card-title">
						<!--{$event->title}-->
					</h4>
					<div class="card-text">
						<!--{$event->content_stripe}-->
					</div>
				</div>
				<span class="card-footer">
					<!--{$event->eventdate|date_format}-->
					<a class="btn btn-sm btn-info float-right mx-1" title="Delete <!--{$event->title}-->" what="Event" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/event?id=<!--{$event->token}-->"><i class="fa fa-ellipsis-v"></i> Detail</a>
					<a class="btn btn-sm btn-danger deleteTrig float-right" title="Delete <!--{$event->title}-->" what="Event" href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/events?id=<!--{$event->token}-->&event=delete"><i class="fa fa-trash"></i> Delete</a>
				</span>
			</div>
		</div>
		<!--{/foreach}-->
		<div class="col-sm-12"><!--{include file="paging-bottom.html"}--></div>
	<!--{else}-->
	<div class="alert alert-info">No record found.</h4>
	<!--{/if}-->
</section>
<!--{/block}-->