<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<section class="jumbotron text-center">
	<!--img src="--><!--$Site.siteProtocol--><!--$Site.domainName--><!--/site/media/i/all/dashboard_model.jpg" style="" class="img-fluid rounded mx-auto"-->
	<div class="row  justify-content-center">

		<div class="col-md-3 account-only mb-4">
			<div class="card bg-gradient-primary text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/finances">
					<div class=" text-white card-body">
						<i class="fa fa-calculator  text-white"></i>
						<div class="text-white">Accounting & Expenses</div>
					</div>
				</a>
			</div>
		</div>
		
		<div class="col-md-3 humanr-only mb-4">
			<div class="card bg-gradient-success text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/employees">
					<div class="text-white card-body">
						<i class="fa fa-user-circle text-white"></i>
						<div class="text-white">Human Resource</div>
						
					</div>
				</a>
			</div>
		  </div>
		  <div class="col-md-3 market-only mb-4">
			<div class="card bg-gradient-info text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/reports">
					<div class="text-white card-body">
						<i class="fa fa-credit-card text-white"></i>
					  <div class="text-white">Sales/Marketing</div>
					</div>
				</a>
			</div>
		  </div>
		  <div class="col-md-3 customer-only mb-4">
			<div class="card bg-gradient-primary text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/inbox">
					<div class=" text-white card-body">
						<i class="fa fa-comment text-white"></i> 
						<div class="text-white">
							Customer Service
						</div>
					  </div>
				</a>
			</div>
		</div>
		<div class="col-md-3 mb-4">
			<div class="card bg-gradient-success text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/technical">
					<div class="text-white card-body">
						<i class="fa fa-wrench text-white"></i>
						<div class="text-white">Technical Operation</div>
					</div>
				</a>
			</div>
		  </div>
		  <div class="col-md-3 facility-only mb-4">
			<div class="card bg-gradient-info text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/inventories">
					<div class="text-white card-body">
						<i class="fa fa-archive text-white"></i>
						
					  <div class="text-white">Inventory</div>
					</div>
				</a>
			</div>
		  </div>
		  <div class="col-md-3 customer-only mb-4">
			<div class="card bg-gradient-primary text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/clients">
					<div class=" text-white card-body">
						<i class="fa fa-headphones text-white"></i>
						
					  <div class="text-white">Clients</div>
					  </div>
				</a>
			</div>
		</div>
		<div class="col-md-3 mb-4">
			<div class="card bg-gradient-success text-white shadow">
				<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/add_variance_report">
					<div class="text-white card-body">
						<i class="fa fa-question-circle text-white"></i>
						<div class="text-white">Help</div>
					</div>
				</a>
			</div>
		  </div>
	</div>
	
	<div class="row <!--{if !in_array($userinfo->userrole, array('level0','level1','level2'))}--> d-none <!--{/if}-->">
		<div class="col-lg-6 row col-md-6 m-4">
		  <form id="mainForm" method="POST" enctype="multipart/form-data" class=" d-flex" name="chartYear">
			<div class="form-group">
				<label for="Year">Choose Year</label>
				  <select class="form-control" id="chooseyear" onchange="selectYear(this);" name="year">
					<!--{for $foo=2010 to 3000}-->
					  <option <!--{if !empty($filter->year)}--> <!--{if $foo == $filter->year}--> selected <!--{/if}--> <!--{else}--> <!--{if $foo =='Y'|date}-->selected <!--{/if}--> <!--{/if}--> value="<!--{$foo}-->">
						<!--{$foo}-->
					  </option>
					<!--{/for}-->
				  </select>
			</div>
			<div class="form-group"> 
			  <input type="submit" class="mt-2 btn d-none btn-primary inline" name="triggers" id="reports" value="chart_year"/>
		    </div>      
		 </form>
		</div>
		<script>
			function selectYear(item){
				var $form = $(item).closest('form');
				$form.find('input[type=submit]').click();
			}
		</script>
	 </div>
	<div class="row <!--{if !in_array($userinfo->userrole, array('level0','level1','level2'))}--> d-none <!--{/if}-->">
		
		<!-- Bar Chart -->
		<div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
			  <!-- Card Header - Dropdown -->
			  <div class="card-header py-3 d-flex bg-gradient-dark flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-light">Project Subscribers</h6>
			</div>
			  <!-- Card Body -->
			  <div class="card-body">
				<div class="chart-area">
				  <canvas id="myBarChart"></canvas>
				</div>
			  </div>
			</div>
		  </div>

		<!-- Area Chart -->
		  <div class="col-xl-8 col-lg-7">
			<div class="card shadow mb-4">
			  <!-- Card Header - Dropdown -->
			  <div class="card-header py-3 d-flex bg-gradient-danger flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-light">Earnings Overview</h6>
			</div>
			  <!-- Card Body -->
			  <div class="card-body">
				<div class="chart-area">
				  <canvas id="myAreaChart"></canvas>
				</div>
			  </div>
			</div>
		  </div>

		  <!-- Pie Chart -->
		  <div class="col-xl-4 col-lg-5">
			<div class="card shadow mb-4">
			  <!-- Card Header - Dropdown -->
			  <div class="card-header py-3 d-flex bg-gradient-info flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-light">All Time Revenue Sources</h6>
			  </div>
			  <!-- Card Body -->
			  <div class="card-body">
				<div class="chart-pie pt-4 pb-2">
				  <canvas id="myPieChart"></canvas>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</section>
<!--{/block}-->