<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Investment</h1>

<!-- DataTales Example -->
<div class="row">
  <div class="col-md-6">
    <div class="card shadow row mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Invest Plan Info</h6>
      </div>
      <!--{if !empty($fail)}-->
      <div class="col">
        <div class="form-group">
          <!--{$fail}-->
        </div>
      </div>
      <!--{/if}-->
      <!--{if !empty($inv_item)}-->
        <div class="card-body ">
                  <strong>Property Name: </strong><!--{$inv_item->property}--><br/>
                  <hr>
                  <strong>Percentage: </strong><!--{$inv_item->percentage}--><br/>
                  <hr>
                  <strong>Category: </strong><!--{$inv_item->category}--><br/>
                  <hr>
                  <strong>Duration: </strong><!--{$inv_item->duration}--> months<br/>
                  <hr>
                  <strong>Min Principal: </strong>&#8358;<!--{$inv_item->min_principal|number_format:2}--><br/>
                  <hr>
                  <strong>Max Principal: </strong>&#8358;<!--{$inv_item->max_principal|number_format:2}--><br/>
                  <hr>
                  <strong>R.O.I: </strong>&#8358;<!--{$inv_item->roi|number_format:2}--><br/>
                  <hr>
                  <strong>Maturity: </strong>&#8358;<!--{$inv_item->matunity|number_format:2}--><br/>
                  <hr>
                  <strong>Status: </strong><!--{if $inv_item->active==0}-->Inactive<!--{else}-->Active<!--{/if}--><br/>
                  <hr>
                  <strong>Added Date: </strong><!--{$inv_item->date_added}--><br/>
        </div>
        <div class="row justify-content-center">
          <div class="form-group mb-2">
            <button class="btn btn-dark mr-5" type="button" data-toggle="collapse" data-target="#editinvestmentDetail" aria-expanded="true" aria-controls="editinvestmentDetail" id="editinvestment"><i class="fa fa-pencil"></i> Edit Plan</button>
            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#deleteinvestmentDetail" aria-expanded="true" aria-controls="deleteinvestmentDetail" id="deleteinvestment"><i class="fa fa-trash"></i> Delete Plan</button>
          </div>
        </div>
      
        <div id="editinvestmentDetail" class="mt-2 collapse row m-4" aria-labelledby="editinvestment">
          <div class="col-12">
            <form class ="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/investment?id=<!--{$inv_item->token}-->" enctype="multipart/form-data">
              <div class ="col-12">
                    <div class ="form-group">
                      <label for="property" class="form-control-label">Property</label>
                      <select name="property" class="form-control" id="property">
                      <!--{if !empty($properties)}-->
                        <!--{foreach $properties as $property}-->
                        <option <!--{if $property->name==$inv_item->property}-->selected<!--{/if}--> value="<!--{$property->name}-->"><!--{$property->name}--></option>
                        <!--{/foreach}-->
                      <!--{else}-->
                        <option value="null">none</option>
                      <!--{/if}-->
                      </select>   
                    </div>
                    <div class="form-group">
                        <label for="category" class="form-control-label">Category</label>
                        <select name="category" class="form-control" id="category">
                          <option <!--{if $inv_item->category==550}-->selected<!--{/if}--> value="550">550 SQM</option>
                          <option <!--{if $inv_item->category==400}-->selected<!--{/if}--> value="400">400 SQM</option>
                          <option <!--{if $inv_item->category==300}-->selected<!--{/if}--> value="300">300 SQM</option>
                          <option <!--{if $inv_item->category==200}-->selected<!--{/if}--> value="200">200 SQM</option>
                          </select>   
                    </div>
                    
                    <div class="form-group">
                      <label for="duration" class="form-control-label">Duration (months)</label>
                      <input type="number" class="form-control form-control-user" id="duration" value="<!--{$inv_item->duration}-->" name="duration" placeholder="Duration">
                  </div>
                    <div class="form-group">
                      <label for="min_principal" class="form-control-label">Minimum Principal</label>
                      <input type="number" min="1000" class="form-control form-control-user" id="min_principal" value="<!--{$inv_item->min_principal}-->"  name="min_principal" placeholder="Minimum Principal">
                    </div>
                    <div class="form-group">
                        <label for="max_principal" class="form-control-label">Maximum Principal</label>
                        <input type="number" class="form-control form-control-user" id="max_principal" onchange="clearData();"  value="<!--{$inv_item->max_principal}-->"  name="max_principal" placeholder="Maximum Principal">
                    </div>
                    <div class="form-group percentage">
                      <label for="percentage" class="form-control-label">Percentage</label>
                      <input type="number" class="form-control form-control-user" onkeyup="getInfo(this);" value="<!--{$inv_item->percentage}-->" id="percentage" name="percentage" placeholder="Percentage">          
                    </div>
                    <script>
                      function clearData(){
                        $("#percentage").val("");
                          $("#roi").val("");
                          $("#matunity").val("");
                      }
                      function getInfo(myRadio) {
                        currentValue = myRadio.value;
                            var min_prin = $("#min_principal").val();
                            var max_prin = $("#max_principal").val();
                            //var min_roi = (currentValue/100) * min_prin;
                            var max_roi = (currentValue/100) * max_prin;
                            var max_maturity = max_roi + +max_prin;
                            $("#roi").val(max_roi.toFixed(2));
                            $("#matunity").val(max_maturity.toFixed(2));
                      }
                    </script>
                      <div class="form-group">
                        <label for="roi" class="form-control-label">R.O.I</label>
                            <input type="number" step="2" readonly class="form-control form-control-user" id="roi" value="<!--{$inv_item->roi}-->" name="roi" placeholder="R.O.I">
                      </div>
                      <div class="form-group">
                        <label for="matunity" class="form-control-label">Maturity</label>
                            <input type="number" step="2" readonly class="form-control form-control-user" value="<!--{$inv_item->matunity}-->" id="matunity" name="matunity" placeholder="Matunity">
                      </div>
                      <div class="form-group">
                          <label for="active" class="form-control-label">Status</label>
                          <select name="active" class="form-control" id="active">
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                            </select>   
                      </div>
                        <div class="form-group text-center">
                          <button class="btn btn-primary btn-md rounded-1" type="submit" name="triggers" value="edit_investment">Update Item</button>
                      </div>
              </div>
            </form>
          </div>
        </div>
        <div id="deleteinvestmentDetail" class="mt-2 collapse row justify-content-center" aria-labelledby="deleteinvestment">
          <div class="col-6">
            <form method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/investment?id=<!--{$inv_item->token}-->" enctype="multipart/form-data" class="w-100">
              <div class="alert alert-danger alert-dismissible" role="alert">
                  <p>Are you sure you want to delete this plan?</p>
                  <p>Note that every stored details relating to this plan will be lost unrecoverably.</p>
                  <p class="text-center">
                    <button class="btn btn-danger" type="submit" name="triggers" value="delete_investment">Proceed</button>&nbsp;
                    <button class="btn btn-secondary" type="button" data-toggle="collapse" data-target="#deleteinvestmentDetail" aria-expanded="true" aria-controls="deleteinvestmentDetail" id="deleteinvestment">Cancel</button>
                  </p>
              </div>
            </form>
          </div>
        </div>
      <!--{else}-->
      <h2 class="m-4">No Item Found</h2>
      <!--{/if}-->
    </div>
  </div>
</div>
<!--{/block}-->