<!--{extends file="root.html"}-->
<!--{block name="content"}-->
<h2>Dashboard Home</h2>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Add Job Detail Records</h1>
<p class="mb-4">The table contains Add Job Detail Records</p>


<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h6 class="m-0 font-weight-bold text-primary">Records</h6>
  </div>
  <!--{if !empty($job_details)}-->
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>SN</th>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Location</th>
            <th>Contract Type</th>
            <th>Date Added</th>
            <th>View</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>SN</th>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>Job Title</th>
            <th>Department</th>
            <th>Manager</th>
            <th>Location</th>
            <th>Contract Type</th>
            <th>Date Added</th>
            <th>View</th>
          </tr>
        </tfoot>
        <tbody>
          <!--{$numCount=1}-->
          <!--{foreach $job_details as $record}-->
			    <tr>
            <td><!--{$numCount}--></td>
            <td><!--{$record->employeeid}--></td>
            <td><!--{$record->name}--></td>
            <td><!--{$record->job_title|ucwords}--></td>
            <td><!--{$record->department}--></td>
            <td><!--{$record->manager|ucwords}--></td>
            <td><!--{$record->location}--></td>
            <td><!--{$record->contract_type}--></td>
            <td><!--{$record->dateadded|date_format}--></td>
            <td>
              <a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/view_job_details?id=<!--{$record->token}-->">Detail</a>
            </td>
		    </tr>
			  	<!--{$numCount=$numCount+1}-->
        <!--{/foreach}-->
        </tbody>
      </table>
    </div>
  </div>
  <!--{else}-->
  <h2 class="m-4">Job Detail Records Empty</h2>
  <!--{/if}-->
</div>
<!--{/block}-->