<!--{extends file="root.html"}-->
<!--{block name="content"}-->
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Make Payment</h1>
   
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Payment</h6>
      </div>
      <!--{if !empty($fail)}-->
      <div class="form-group">
          <!--{$fail}-->
      </div>
      <!--{/if}-->
      <div class="card-body">
      <!--{if !empty($invdata)}-->
      <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/make_payment" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                    <label for="paid_by" class="form-control-label">Paid By (Email)</label>
                    <input type="hidden" name="token" value="<!--{$invdata->token}-->">
                    <input type="email" class="form-control form-control-user" id="serial" required name="paid_by" value="<!--{$userinfo->email}-->" placeholder="Email here..">
                  </div>
                  
                  <div class="form-group">
                    <label for="purpose" class="form-control-label">Select Purpose</label>
                    <select name="purpose" class="form-control" id="purpose" >
                      <option selected value="full_investment">Full Investment</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="amount" class="form-control-label">Amount to Pay</label>
                        <input type="number" class="form-control form-control-user" id="amount" readonly required name="amount" value="<!--{$invdata->total_amount}-->" placeholder="Amount to Pay">
                  </div>
                  <div class="form-group d-none">
                    <label for="gateway" class="form-control-label">Payment Gateway</label>
                    <select name="gateway" class="form-control" id="gateway" onchange="handleChange(this);">
                      <option selected value="paystack">Paystack</option>
                      <option value="paypal">PayPal</option>
                      <option value="bank_transfer">Transfer</option>
                      <option value="cash">Cash</option>
                      <option value="cheque">Cheque</option>
                      <option value="other">Other</option>
                    </select>   
                  </div>
                  <div id="other_gateway" class="form-group d-none">
                    <label for="othergateway" class="form-control-label">Other Payment Gateway</label>
                    <input type="text" class="form-control form-control-user" id="othergateway" name="gateway" placeholder="Other Payment Gateway">
                  </div>
                  <script>
                    function handleChange(myselect){
                      if(myselect.value=='other'){
                        document.getElementById('other_gateway').classList.remove("d-none");
                      }else{
                        //document.getElementById('other_gateway').classList.add("d-none");
                        document.getElementById('othergateway').value = myselect.value;
                      }
                    }
                  </script>
                  <div class="form-group d-none">
                    <label class="form-label" for="transdate">Transaction Date</label>
                    <input type="date" id="transdate" name="transdate" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="discount" class="form-control-label">Discount</label>
                    <input type="text" readonly class="form-control form-control-user" id="discount" name="discount" value="<!--{if !empty($invdata->discount)}-->$invdata->discount<!--{else}-->0<!--{/if}-->" placeholder="Discount">
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-success btn-sm rounded-0" type="submit" name="investment_payment">Make Payment</button>
                </div>
            </div>
            <!--{if !empty($fail)}-->
            <div class="col">
              <div class="form-group">
                <!--{$fail}-->
              </div>
            </div>
            <!--{/if}-->
            <br>
        </div>
      </form>
      <!--{else}-->
      <!--{if !empty($subdata)}-->
      <form class="user" method="POST" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/make_payment" enctype="multipart/form-data">
        <div class="row">
            <div class="col-lg-6">
                  <div class="form-group">
                    <label for="paid_by" class="form-control-label">Paid By (Email)</label>
                    <input type="hidden" name="token" value="<!--{$subdata->token}-->">
                    <input type="email" class="form-control form-control-user" id="serial" required name="paid_by" value="<!--{$subdata->email}-->" placeholder="Email here..">
                  </div>
                  
                  <div class="form-group">
                    <label for="demoSel" class="form-control-label">Select Purpose</label>
                    <select name="purpose[]" class="form-control" id="purpose" multiple onchange="handleChange2(this);">
                      <option id="full" value="full_subscription">Full Subscription</option>
                      <option id="land" value="land_fee">Land Price</option>
                      <option id="survey" value="survey_fee">Survey</option>
                      <option id="legal" value="legal_fee">Legal Fee</option>
                      <option value="other">Others</option>
                    </select>
                  </div>
                  <div id="other_purpose" class="form-group d-none">
                    <label for="otherpurpose" class="form-control-label">Other Purpose</label>
                        <input type="text" class="form-control form-control-user" id="otherpurpose" name="purpose[]
                        " placeholder="Other Purpose">
                  </div>
                  <script>
                    var total = 0;
                    var plot_num = <!--{$subdata->plot_number}-->;
                    var plot_sqm = <!--{$subdata->plot_sqm}-->;
                    var legal = <!--{$subdata->detail->legal_fee}-->;
                    var survey = <!--{$subdata->detail->amt_survey}-->;

                    var amount = (plot_sqm==550) ? <!--{$subdata->detail->amt_550sqm}--> : <!--{$subdata->detail->amt_400sqm}-->;  

                    var survey_total = plot_num*survey;
                    var amount_total = plot_num*amount;
                    
                    document.getElementById('land').setAttribute('amount', amount_total);
                    document.getElementById('legal').setAttribute('amount', legal);
                    document.getElementById('survey').setAttribute('amount', survey_total);
                    
                    //console.log('total amount = '+total);
                    //console.log('plot num = '+plot_num);
                    //console.log('plot sqm = '+plot_sqm);
                    
                    //console.log('legal fee = '+legal);
                    //console.log('survey fee = '+survey);
                    //console.log('land price fee = '+amount);

                    function handleChange2(myselect){
                      let total_elements = 0;
                      Array.from(document.querySelector("#purpose").options).forEach(function(option_element) {
                        if(option_element.selected===true && option_element.value!='full_subscription'){
                          total_elements += +option_element.getAttribute('amount');
                          //console.log(total_elements);
                        }
                      });
                      document.getElementById('amount').value = total_elements;
                      if(myselect.value=='full_subscription'){
                        document.getElementById('amount').readOnly = true;
                        document.getElementById('amount').value = '<!--{$subdata->total_amount}-->' - '<!--{$subdata->total_paid}-->';
                      }
                      if(myselect.value=='other'){
                        document.getElementById('amount').readOnly = false;
                        document.getElementById('other_purpose').classList.remove("d-none");
                      }else{
                        document.getElementById('amount').readOnly = true;
                        document.getElementById('other_purpose').classList.add("d-none")
                      }
                    }
                  </script>
                  <div class="form-group">
                    <label for="amount" class="form-control-label">Amount to Pay</label>
                        <input type="number" class="form-control form-control-user" required id="amount" name="amount" value="" placeholder="Amount to Pay">
                  </div>
                  <div class="form-group d-none">
                    <label for="gateway" class="form-control-label">Payment Gateway</label>
                    <select name="gateway" class="form-control" id="gateway" onchange="handleChange(this);">
                      <option selected value="paystack">Paystack</option>
                      <option value="paypal">PayPal</option>
                      <option value="bank_transfer">Transfer</option>
                      <option value="cash">Cash</option>
                      <option value="cheque">Cheque</option>
                      <option value="other">Other</option>
                    </select>   
                  </div>
                  <div id="other_gateway" class="form-group d-none">
                    <label for="othergateway" class="form-control-label">Other Payment Gateway</label>
                    <input type="text" class="form-control form-control-user" id="othergateway" name="gateway" placeholder="Other Payment Gateway">
                  </div>
                  <script>
                    function handleChange(myselect){
                      if(myselect.value=='other'){
                        document.getElementById('other_gateway').classList.remove("d-none");
                      }else{
                        //document.getElementById('other_gateway').classList.add("d-none");
                        document.getElementById('othergateway').value = myselect.value;
                      }
                    }
                  </script>
                  <div class="form-group d-none">
                    <label class="form-label" for="transdate">Transaction Date</label>
                    <input type="date" id="transdate" name="transdate" class="form-control"/>
                  </div>
                  <div class="form-group">
                    <label for="discount" class="form-control-label">Discount</label>
                    <input type="text" readonly class="form-control form-control-user" id="discount" name="discount" value="<!--{if !empty($subdata->discount)}-->$subdata->discount<!--{else}-->0<!--{/if}-->" placeholder="Discount">
                  </div>
                  <div class="form-group text-center">
                    <button class="btn btn-success btn-sm rounded-0" type="submit" name="subscription_payment">Make Payment</button>
                </div>
            </div>
            <!--{if !empty($fail)}-->
            <div class="col">
              <div class="form-group">
                <!--{$fail}-->
              </div>
            </div>
            <!--{/if}-->
            <br>
        </div>
      </form>
      <!--{/if}-->
      <!--{/if}-->
      </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Payments</h6>
    </div>
    <!--{if !empty($payment)}-->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>SN</th>
              <th>Transaction Id</th>
              <th>Paid By</th>
              <th>Amount</th>
              <th>Purpose</th>
              <th>Transaction Date</th>
              <th>Gate Way</th>
              <th>Status</th>
              <th>Proof</th>
              <th class="d-none" scope="col"></th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>SN</th>
              <th>Transaction Id</th>
              <th>Paid By</th>
              <th>Amount</th>
              <th>Purpose</th>
              <th>Transaction Date</th>
              <th>Gate Way</th>
              <th>Status</th>
              <th>Proof</th>
              <th class="d-none" scope="col"></th>
            </tr>
          </tfoot>
          <tbody>
            <!--{$numCount=1}-->
            <!--{foreach $payment as $pay}-->
            <tr>
              <!--`id`, `transid1`, `transid`, `token`, 
                `paidby`, `amount`, `purpose`, `transdate`, 
                `gateway`, `status`, `proof`, `discount`, `status1`-->
              <td><!--{$numCount}--></td>
              <td>
                <strong><!--{$pay->transid1}--></strong>
              </td>
              <td>
                <!--{$pay->paidby}-->
              </td>
              <td>
                <strong>Amount: </strong><!--{$pay->amount}--> <br>
                <strong>Discount: </strong><!--{$pay->discount}--> <br>
              </td>
              <td>
                <!--{$pay->purpose}-->
              </td>
              <td>
                <!--{$pay->transdate}-->
              </td>
              <td>
                <!--{$pay->gateway}-->
              </td>
              <td>
                  <span class="badge badge-<!--{if $pay->status =='1'}-->success<!--{else}-->warning<!--{/if}-->"><!--{if $pay->status=='1'}-->Success<!--{else}-->Failed<!--{/if}--></span></td>
              </td>
              <td>
                <a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$pay->proof}-->"><!--{$pay->proof}--></a>
              </td>
              <td>
                <a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/update_payment?id=<!--{$pay->id}-->"><i class="fa fa-ellipsis-v"></i> Detail</a>
              </td>
            </tr>
            <!--{$numCount=$numCount+1}-->
          <!--{/foreach}-->
          </tbody>
        </table>
      </div>
    </div>
    <!--{else}-->
    <div class="alert alert-warning"><h3 class="alert-heading">No Payments Made</h3></div>
    <!--{/if}-->
  </div>
  <!-- /.container-fluid -->
</section>
<!--{/block}-->
