<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dashboard | Real Estate & Properties </strong>&nbsp;<i class="fa fa-building"></i></section>
<h2>JOBS</h2>
<!--{/block}-->
<!--{block name="content"}-->
	<!--{if !empty($fail)}-->
	<!--{$fail}-->
	<!--{/if}-->
	<section class="jumbotron row justify-content-center ">
		<h2 class="col-md-12">Real Estate & Properties</h2>
		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#newProperty"><i class="fa fa-plus"></i> Add Real Estate Property</button>
			</div>
		</div>
		<div id="dataTableId_wrapper" class="col-md-11 dataTables_wrapper dt-bootstrap4 no-footer">
			<!--{if !empty($realEstates)}-->
			<!--{include file="paging-top.html"}-->
			<!--id	token	company	category	purchase	logo	images	title	email	phone	payment	url	worth	location	description	dateadded	addedby	updatedby	dateupdated	status-->
			<div class="col-md-11 row justify-content-center" style="padding-top: 15px; padding-bottom: 15px;">
				<!--{foreach $realEstates as $kY=> $realEstate}-->
				<div class="col-sm-6">
					<div class="card">
						<img class="img img-thumbnail card-img-top" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$realEstate->logo}-->" style="height: 200px;" alt="<!--{$realEstate->title}-->">
						<div class="card-body">
							<h5 class="card-title"><!--{$realEstate->title}--></h5>
							<h6 class="card-subtitle mb-2 text-muted">Price: &#8358; <!--{$realEstate->worth}--></h6>
							<p class="card-text"><strong><!--{$catTitle[$realEstate->category]}--> For <!--{$forProp[$realEstate->purchase]}--></strong></p>
							<p class="card-text">
								<strong>Company or Agent Name: </strong><!--{$realEstate->company}--><br/>
								<!--{if !empty($realEstate->person)}--><strong>Contact Person: </strong><!--{$realEstate->person}--><br/><!--{/if}-->
								<strong>Contact: </strong><!--{$realEstate->email}--> <!--{if !empty($realEstate->phone)}-->| <!--{$realEstate->phone}--><!--{/if}--><hr/>
								<!--{if !empty($realEstate->location)}--><strong>Address Location: </strong><!--{$realEstate->location}--><hr/><!--{/if}-->
								<!--{$realEstate->description}--><br/>
							</p>
							<div class="card-text">
								<!--{if $realEstate->status==1}--><button class="card-link text-warning mt-1 mb-1" id="deactMe" data-toggle="modal" data-target="#disableMe" propid="<!--{$realEstate->token}-->" i='<!--{json_encode($realEstate)}-->'><i class="fa fa-close"></i> Disable View</button>
								<!--{else}--><button class="card-link text-success mt-1 mb-1" id="actMe" data-toggle="modal" data-target="#enableMe" propid="<!--{$realEstate->token}-->" i='<!--{json_encode($realEstate)}-->'><i class="fa fa-check"></i> Enable View</button><!--{/if}-->
								<button class="card-link text-success mt-1 mb-1" id="editMe" data-toggle="modal" data-target="#editProperty" propid="<!--{$realEstate->token}-->" i='<!--{json_encode($realEstate)}-->'><i class="fa fa-pencil"></i> Edit Content</button>
								<button class="card-link text-danger mt-1 mb-1" id="deleteMe" data-toggle="modal" data-target="#deleteProperty" propid="<!--{$realEstate->token}-->" i='<!--{json_encode($realEstate)}-->'><i class="fa fa-trash"></i> Delete</button>
								<button class="d-none card-link text-info mt-1 mb-1" id="payDetail" data-toggle="modal" data-target="#paymentDetail" propid="<!--{$realEstate->token}-->" i='<!--{json_encode($realEstate)}-->'><i class="fa fa-money"></i> Payment Details</button>
							</div>
							<!--{if !empty($realEstate->images) and is_array($realEstate->images)}-->
								<div class="card-text row justify-content-center" style=" /*max-height: 150px; overflow-y: auto;*/ ">
									<!--{foreach $realEstate->images as $keeY=> $image}-->
									<div class="col-sm-4 ">
										<div class="dropup">
											<img class="img img-thumbnail pinned-img1" id="imgDrp<!--{$keeY}-->" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$image}-->" style=" height: 150px;">
											<div class="dropdown-menu" style="min-width: 320px;" aria-labelledby="imgDrp<!--{$keeY}-->">
												<img style="max-height: 450px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{$image}-->">
											</div>
										</div>
									</div>
									<!--{/foreach}-->
								</div>
							<!--{/if}-->
						</div>
						<div class="card-footer alert-success">
							<small class="text-muted">Last updated: <!--{$realEstate->dateupdated|date_format:"%d  %b %Y | %I:%M %p"}--></small>
						</div>
					</div>
				</div>
				<!--{/foreach}-->
			</div>
			<!--{include file="paging-bottom.html"}-->
			<!--{else}-->
			<div class="alert alert-info alert-dismissible" role="alert" style="width: 90% !important; margin-top: 30px"><h5>No realestate property currently available!!!</h5></div>
			<!--{/if}-->
		</div>
	</section>

	<!--{block name="real-estate-modals"}-->
		<!--{*Add Modal*}-->
		<div class="modal fade" id="newProperty" tabindex="-1" role="dialog" aria-labelledby="propTitle" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body" id="business-div">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header text-center" id="propTitle">
									<h4 class="slow flash infinite">Add Real Estate Property</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="card-body">
									<form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/real-estates" posts="post" enctype="multipart/form-data" method="post">
										<div class="form-group row">
											<div class="col-md-6">
											    <label for="company" class="control-label">Company or Agent Name:</label>
											    <input type="text" class="form-control form-control-sm" id="company" name="company" list="compnames" required>
											    <datalist id="compnames">
											    	<!--{if !empty($compnames)}-->
												    	<!--{foreach $compnames as $compn}-->
												    	<option><!--{$compn}--></option>
												    	<!--{/foreach}-->
											    	<!--{/if}-->
											    </datalist>
											</div>
											<div class="col-md-6">
											    <label for="complogo" class="control-label">Company's Logo:</label>
											    <input type="file" class="form-control-file form-control-sm upload-img" id="complogo" name="complogo" placeholder="Company's Logo">
											    <img src="" class="img text-center img-responsive" id="img-upload" style="max-height: 220px !important;">
											</div>
										</div>
										<div class="form-group row">
											<div class="col-md-6">
											    <label for="title" class="control-label">Property Title:</label>
											    <input type="text" class="form-control form-control-sm" id="title" name="title" required><br/>
											    <label for="category" class="control-label">Category:</label>
										    	<select class="form-control form-control-sm" id="category" name="category" required>
										    		<option value="commercial">Commercial Property</option>
										    		<option value="event-center">Event Centers & Venues</option>
										    		<option value="house-apartment">Houses & Apartments</option>
										    		<option value="land-plots">Land & Plots</option>
										    	</select>
											</div>
											<div class="col-md-6">
											    <label for="description" class="control-label">Description:</label>
											    <textarea class="form-control form-control-sm" id="description" rows="4" name="description" placeholder="Enter Property Description Here..." required></textarea>
											</div>
										</div>
										<div class="form-row">
										    <div class="form-group col-md-6">
											    <label for="person" class="col-form-label">Contact Person:</label>
											    <input type="text" class="form-control form-control-sm" id="person" name="person" required>
										    </div>
										    <div class="form-group col-md-6">
											    <label for="location" class="col-form-label">Location (Optional):</label>
										    	<input type="text" class="form-control form-control-sm" id="location" name="location" placeholder="Location Address">
										    </div>
										</div>
										<div class="form-row">
									    	<div class="form-group col-md-6">
										    	<label for="email" class="col-form-label">Contact Email:</label>
										    	<input type="email" class="form-control form-control-sm" id="email" name="email" placeholder="Contact Email" required>
										    </div>
									    	<div class="form-group col-md-6">
										    	<label for="phone" class="col-form-label">Contact Phone Number:</label>
										    	<input type="tel" class="form-control form-control-sm" id="phone" name="phone" placeholder="Contact Phone Number" required>
										    </div>
										</div>
										<div class="form-group row">
										    <div class="form-group col-md-6">
											    <label for="purchase" class="col-form-label">Type:</label>
										    	<select class="form-control form-control-sm" id="purchase" name="purchase" required>
										    		<option value="lease">Lease | Rent</option>
										    		<option value="sales">Sales</option>
										    	</select>
										    </div>
											<div class="form-group col-md-6">
										    	<label for="worth" class="col-form-label">Price:</label>
										    	<input type="number" class="form-control form-control-sm" id="worth" name="worth" placeholder="Price" required>
										    </div>
										</div>
									    <div class="form-row">
										    <label for="worth" class="col-sm-12 col-form-label">Property Images:</label>
										    <div class="col-sm-6 form-inline">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image1" name="images1" required placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image2" name="images2" placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image3" name="images3" placeholder="Property Images">
										    </div>
										    <div class="col-sm-6 form-inline">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image4" name="images4" placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image5" name="images5" placeholder="Property Images">
										    </div>
										    <small class="form-text text-muted">
											  <b>Notices</b><br/>
											  - you are expected to upload at least one image at minimum.
											</small>
										</div>
										<div class="form-group"><!--₦-->
											<button type="submit" name="triggers" value="saveProperty" class="btn btn-sm btn-info">Post Property</button>&nbsp;
											<button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> Close</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--{*Edit Modal*}-->
		<div class="modal fade" id="editProperty" tabindex="-1" role="dialog" aria-labelledby="propTitle" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-body" id="business-div">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header text-center" id="propTitle">
									<h4 class="slow flash infinite">Edit Real Estate Property Detail</h4>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								</div>
								<div class="card-body">
									<form action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/real-estates" posts="post" enctype="multipart/form-data" method="post">
										<div class="form-row">
											<div class="col-md-6">
											    <label for="company1" class="control-label">Company or Agent Name:</label>
											    <input type="text" class="form-control form-control-sm" id="company1" name="company" list="compnames" required>
											    <datalist id="compnames">
											    	<!--{if !empty($compnames)}-->
												    	<!--{foreach $compnames as $compn}-->
												    	<option><!--{$compn}--></option>
												    	<!--{/foreach}-->
											    	<!--{/if}-->
											    </datalist>
											</div>
											<div class="col-md-6">
											    <label for="complogo1" class="control-label">Company's Logo:</label>
											    <input type="file" class="form-control-file form-control-sm upload-img1" id="complogo1" name="complogo" placeholder="Company's Logo">
											    <img src="" class="img text-center img-responsive" id="img-upload1" style="max-height: 220px !important;">
											    <input type="hidden" name="prevproplogo" id="prevproplogo1" value="">
											</div>
										</div>
										<div class="form-row">
											<div class="col-md-6">
											    <label for="title1" class="control-label">Property Title:</label>
											    <input type="text" class="form-control form-control-sm" id="title1" name="title" required><br/>
											    <label for="category1" class="control-label">Category:</label>
										    	<select class="form-control form-control-sm" id="category1" name="category" required>
										    		<option value="commercial">Commercial Property</option>
										    		<option value="event-center">Event Centers & Venues</option>
										    		<option value="house-apartment">Houses & Apartments</option>
										    		<option value="land-plots">Land & Plots</option>
										    	</select>
											</div>
											<div class="col-md-6">
											    <label for="description1" class="control-label">Description:</label>
											    <textarea class="form-control form-control-sm" id="description1" rows="4" name="description" placeholder="Enter Property Description Here..." required></textarea>
											</div>
										</div>
										<div class="form-row">
										    <div class="form-group col-md-6">
											    <label for="person1" class="col-form-label">Contact Person:</label>
											    <input type="text" class="form-control form-control-sm" id="person1" name="person" required>
										    </div>
										    <div class="form-group col-md-6">
											    <label for="location1" class="col-form-label">Location (Optional):</label>
										    	<input type="text" class="form-control form-control-sm" id="location1" name="location" placeholder="Location Address">
										    </div>
										</div>
										<div class="form-row">
									    	<div class="form-group col-md-6">
										    	<label for="email1" class="col-form-label">Contact Email:</label>
										    	<input type="email" class="form-control form-control-sm" id="email1" name="email" placeholder="Contact Email" required>
										    </div>
									    	<div class="form-group col-md-6">
										    	<label for="phone1" class="col-form-label">Contact Phone Number:</label>
										    	<input type="tel" class="form-control form-control-sm" id="phone1" name="phone" placeholder="Contact Phone Number" required>
										    </div>
										</div>
										<div class="form-row">
										    <div class="form-group col-md-6">
											    <label for="purchase1" class="col-form-label">Type:</label>
										    	<select class="form-control form-control-sm" id="purchase1" name="purchase" required>
										    		<option value="lease">Lease | Rent</option>
										    		<option value="sales">Sales</option>
										    	</select>
										    </div>
											<div class="form-group col-md-6">
										    	<label for="worth1" class="col-form-label">Price:</label>
										    	<input type="number" class="form-control form-control-sm" id="worth1" name="worth" placeholder="Price" required>
										    </div>
										</div>
									    <div class="form-row">
										    <label for="images" class="col-sm-12 col-form-label">Property Images:</label>
										    <div class="col-sm-6 form-inline">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image11" name="images1" placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image21" name="images2" placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image31" name="images3" placeholder="Property Images">
										    </div>
										    <div class="col-sm-6 form-inline">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image41" name="images4" placeholder="Property Images">
											    <input type="file" accept="image/*" class="form-control-file form-control-sm" id="image51" name="images5" placeholder="Property Images">
										    </div>
										    <input type="hidden" name="prevpropimages" id="prevpropimages1" value="">
										    <div class="col-sm-12 row justify-content-center form-inline" id="imagesall1">

										    </div>
										    <small class="form-text text-muted">
											  <b>Notices</b><br/>
											  - supported image sizes up to 50kb each<br/>
											  - you are expected to upload at least one image at minimum.
											</small>
										</div>
										<div class="form-group"><!--₦-->
											<button type="submit" name="triggers" value="updateProperty" class="btn btn-sm btn-info">Update Property</button>&nbsp;
											<input type="hidden" name="token" id="proptoken1" value="">
											<button type="button" class="pull-right close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span> Close</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--{*Delete Modal*}-->
		<div class="modal fade" id="deleteProperty" tabindex="-1" role="dialog" aria-labelledby="propTitle2" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header bg-project">
						<h5 class="modal-title text-center" id="propTitle2" style="margin-left: 40%;">Real Estate Property Post Deletion</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card table-responsive">
							<table class="special-table table table-bordered table-striped table-hover table-sm">
								<tr>
									<th>Property Post ID</th><td id="proptoken2"></td>
								</tr>
								<tr>
									<th>Company | Agent Name:</th><td id="company2"></td>
								</tr>
								<tr>
									<th>Property Title:</th><td id="proptitle2"></td>
								</tr>
							</table>
						</div>
						<div class="card alert alert-warning">
							<div class="card-body">
								<h6>Are you sure to delete this property post record?</h6>
								<p>Click continue to proceed or Cancel to Close.</p>
							</div>
							<div class="card-footer">
								<form method="post" class="pull-left" action="?p=delete">
									<input type="hidden" name="token" id="token2" required readonly>
									<button type="submit" class="btn btn-danger" name="triggers" value="delprop">Proceed</button>&nbsp;
								</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
		<!--{*Deactivate Modal*}-->
		<div class="modal fade" id="disableMe" tabindex="-1" role="dialog" aria-labelledby="dcpTitle" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header bg-project">
						<h5 class="modal-title text-center" id="dcpTitle" style="margin-left: 40%;">Real Estate Property Post Disabling</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card table-responsive">
							<table class="special-table table table-bordered table-striped table-hover table-sm">
								<tr>
									<th>Property Post ID</th><td id="proptoken3"></td>
								</tr>
								<tr>
									<th>Company | Agent Name:</th><td id="company3"></td>
								</tr>
								<tr>
									<th>Property Title:</th><td id="proptitle3"></td>
								</tr>
							</table>
						</div>
						<div class="card alert alert-warning">
							<div class="card-body">
								<h6>Are you sure to deacitvate this property post record?</h6>
								<p>Click continue to proceed or Cancel to Close.</p>
							</div>
							<div class="card-footer">
								<form method="post" class="pull-left" action="?p=deactivate">
									<input type="hidden" name="token" id="token3" required readonly>
									<button type="submit" class="btn btn-danger" name="triggers" value="deactivateprop">Proceed</button>&nbsp;
								</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
		<!--{*Activate Modal*}-->
		<div class="modal fade" id="enableMe" tabindex="-1" role="dialog" aria-labelledby="acpTitle" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header bg-project">
						<h5 class="modal-title text-center" id="acpTitle" style="margin-left: 40%;">Real Estate Property Post Activation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="card table-responsive">
							<table class="special-table table table-bordered table-striped table-hover table-sm">
								<tr>
									<th>Property Post ID</th><td id="proptoken4"></td>
								</tr>
								<tr>
									<th>Company | Agent Name:</th><td id="company4"></td>
								</tr>
								<tr>
									<th>Property Title:</th><td id="proptitle4"></td>
								</tr>
							</table>
						</div>
						<div class="card alert alert-warning">
							<div class="card-body">
								<h6>Are you sure to acitvate this property post record?</h6>
								<p>Click continue to proceed or Cancel to Close.</p>
							</div>
							<div class="card-footer">
								<form method="post" class="pull-left" action="?p=activate">
									<input type="hidden" name="token" id="token4" required readonly>
									<button type="submit" class="btn btn-danger" name="triggers" value="activateprop">Proceed</button>&nbsp;
								</form>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
		  	</div>
		</div>
		<!--{*View Modal*}-->
		<div class="modal d-none fade" id="paymentDetail" tabindex="-1" role="dialog" aria-labelledby="pvTitle" aria-hidden="true" style="z-index: 9999;">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header bg-project">
						<h5 class="modal-title text-center" id="pvTitle" style="margin-left: 40%;">Job Post Payment Details</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
							<!--div class="form-group">
								<div class="alert alert-warning"> This Section is currently Unsatble kindly bear with its utilization as we update correct the faults in a later date</div>
							</div-->
						<div class="card table-responsive">
							<table class="special-table table table-bordered table-striped table-hover table-sm">
								<tr>
									<th>Transaction ID</th><td id="transid5"></td>
								</tr>
								<tr>
									<th>Property ID</th><td id="propid5"></td>
								</tr>
								<tr>
									<th>Company's Name</th><td id="company5"></td>
								</tr>
								<tr>
									<th>Property Name</th><td id="propname5"></td>
								</tr>
								<tr>
									<th>Amount Paid</th><td id="amount5"></td>
								</tr>
								<tr>
									<th>Payment Type</th><td id="paymenttype5"></td>
								</tr>
								<tr>
									<th>Paid By</th><td id="paidby5"></td>
								</tr>
								<tr>
									<th>Transaction Date</th><td id="transdate5"></td>
								</tr>
								<tr>
									<th>Payment Status</th><td id="paymentstatus5"></td>
								</tr>
							</table>
						</div>
					</div>
					<div class="modal-footer pull-left">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					</div>
				</div>
		  	</div>
		</div>
	<!--{/block}-->
<!--{/block}-->