<form class="form w-100" method="post">
	<fieldset class="card p-2 mt-2">
		<legend class="text-center">Sport Selection Area</legend>
		<div class="form-group">
			<label for="sport">Select Sport</label>
			<select id="sport" name="sport" required class="form-control badge-pill">
				<!--{if !empty($sports)}-->
				<!--{foreach $sports as $sp}-->
					<option value="<!--{$sp->sportid}-->" <!--{if $sport->sportid==$sp->sportid}-->selected<!--{/if}--> i='<!--{json_encode($sp)}-->'><!--{$sp->name|capitalize}--></option>
				<!--{/foreach}-->
				<!--{/if}-->
			</select>
		</div>
		<!--{if empty($sport)}-->
			<!--{$sport=$sports[0]}-->
		<!--{/if}-->
		<div class="form-group">
			<h6 class="font-weight-bold">Sport Detail</h6>
			<h6 class="my-2 sname"><strong class="text-uppercase"><!--{$sport->name}--></strong></h6>
          	<img class="card-img-top my-2 imagi" style="max-height: 400px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/<!--{if !empty($sport->logo)}--><!--{$sport->logo}--><!--{else}-->site/media/i/sport.jpg<!--{/if}-->" alt="<!--{$sports[0]->name|capitalize}-->">
	          <h5 class="my-2 categori"><strong class="text-uppercase">Category:</strong> <!--{$sport->category|capitalize}--></h5>
	          <h5 class="my-2 country"><strong class="text-uppercase">Country:</strong> <!--{$sport->country|capitalize}--></h5>
	          <h5 class="my-2 state"><strong class="text-uppercase">State:</strong> <!--{$sport->state|capitalize}--></h5>
	          <h5 class="my-2 city"><strong class="text-uppercase">City:</strong> <!--{$sport->city|capitalize}--></h5>
	          <h5 class="my-2 location"><strong class="text-uppercase">Location:</strong> <!--{$sport->location|capitalize}--></h5>
	          <h4 class="my-2">Description</h4><h6 class="my-2 description text-justify"><!--{$sport->description}--></h6>
		</div>

		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit" name="personal">Save Changes</button>
		</div>
	</fieldset>
</form>