<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/students">Student -> COURSES&nbsp;<i class="fa fa-lists"></i></a>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center" id="printMe">
	<div class="col-md-10">
		<div class="card w-100">
			<h4 class="card-header site-bg-1 text-center">
				<img class="img float-left" style="max-width: 100px;" src="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/site/media/i/site-logo.png" alt="<!--{$Site.companyName}-->"> City Sports School Student Course
			</h4>
			<div class="card-body text-center py-2">
				<h6 class="mb-4"><span  class="font-weight-bold">Student Name: </span><!--{$student->firstname}--> <!--{$student->othername}--> <!--{$student->lastname}--></h6>
				<h6 class="mb-4"><span  class="font-weight-bold">Contact Number: </span><!--{$student->phone}--></h6>
				<h6 class="mb-4"><span  class="font-weight-bold">Email Address: </span><!--{$student->email}--></h6>
			</div>
			<!--{if !empty($student->courses)}-->
			<div class="row justify-content-center">
			    <!--{foreach $student->courses as $key=> $course}-->
					<div class="card-body col-sm-4 text-center py-2 border border-success px-1">
						<h5 class="card-title">Course Detail</h5>
						<h6 class="mb-2"><span  class="font-weight-bold">Course Title: </span><!--{$course->title}--></h6>
						<h6 class="mb-2"><span  class="font-weight-bold">Course ID: </span><!--{$course->courseid}--></h6>
						<h6 class="mb-2"><span  class="font-weight-bold">Category: </span><!--{$course->category}--></h6>
						<h6 class="mb-2"><a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/course?id=<!--{$course->courseid}-->"><i class="fa fa-ellipsis-v"></i> View Full Detail</a></h6>
					</div>
				<!--{/foreach}-->
			</div>
			<!--{else}-->
			<div class="alert alert-warning"><h3 class="alert-heading">No record on registered courses</h3></div>
			<!--{/if}-->
		</div>
	</div>
</section>
<!--{/block}-->