<!--{extends file="root.html"}-->
<!--{block name="breadcrumb"}-->
<section class="breadcrumb"><strong class="uppercase">Dasboard |</strong>
	&nbsp;<a href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/students">Student -> COURSES&nbsp;<i class="fa fa-lists"></i></a>
</section>
<!--{/block}-->
<!--{block name="content"}-->
<section class="row justify-content-center">
	<div class="col-sm-12">
		<h5 class="font-weight-bold mb-2 mt-3">STUDENT -> Courses</h5>
		<div class="table-responsive">
		<!--{if !empty($clients)}-->
		<div id="dataTableId_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
			<!--{include file="paging-top.html"}-->
			<table class="table table-striped table-hover table-bordered">
			  <thead class="site-bg-1 text-white">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Details</th>
			      <th scope="col">Total Courses</th>
			      <th scope="col">Offered Courses</th>
			      <th scope="col">Date Registered</th>
			      <th scope="col"></th>
			    </tr>
			  </thead>
			  <tbody>
			  	<!--{$numCount=1}-->
			  	<!--{foreach $clients as $client}-->
			    <tr>
			      <td><!--{$numCount}--></td>
			      <td>
			      	<!--{if !empty($client->firstname)}--><strong>Names: </strong><!--{$client->firstname}--> <!--{$client->middlename}--> <!--{$client->lastname}--><br/><!--{/if}-->
			      	<strong>Email: </strong><!--{$client->email}--><br/>
			      	<!--{if !empty($client->phone)}--><strong>Phone Number: </strong><!--{$client->phone}--><!--{/if}-->
			      </td>
			      <td ><!--{count($client->courses)}--></td>
			      <td>
			      	<!--{if !empty($client->courses)}-->
			      	<!--{foreach $client->courses as $key=> $course}-->
			      		<h6><!--{$course->title}--> (<!--{$course->courseid}-->)<!--{if $key < count($client->courses)-1}-->,<!--{/if}--></h6>
			      	<!--{/foreach}-->
					<!--{/if}-->
			      </td>
			      <td><!--{$client->dateadded}--></td>
			      <td>
			      	<a class="btn btn-sm my-1 btn-info"  href="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/std_course?id=<!--{$client->email}-->"><i class="fa fa-ellipsis-v"></i> Offered Courses</a>

			      	<span class="d-none badge badge-pill fa-2x badge-<!--{if $client->regStat=='1'}-->warning<!--{else}-->success<!--{/if}--> my-1 confirmTrig"><i class="fa fa-<!--{if $client->regStat=='1'}-->times<!--{else}-->check<!--{/if}-->-circle"></i> <!--{if $client->regStat=='1'}-->Renewed<!--{else}-->Activate<!--{/if}--></span>
			      </td>
			    </tr>
			  	<!--{$numCount=$numCount+1}-->
				<!--{/foreach}-->
			  </tbody>
			</table>
			<!--{include file="paging-bottom.html"}-->
		</div>
		<!--{else}-->
		<div class="alert alert-warning"><h3 class="alert-heading">No record on registered Client nor Student</h3></div>
		<!--{/if}-->
	</div>

<!--{/block}-->