<form class="form w-100" method="post" action="<!--{$Site.siteProtocol}--><!--{$Site.domainName}-->/root/development?id=<!--{$client->email}-->">
	<fieldset>
		<legend>Student Information</legend>
		<div class="form-group">
			<label for="firstName" class="label">First Name</label>
			<input type="text" id="firstName" name="firstname" value="<!--{if !empty($student)}--><!--{$student->firstname}--><!--{else}--><!--{$client->firstname}--><!--{/if}-->" class="form-control input-block" disabled/>
		</div>
		<div class="form-group">
			<label for="lastName">Surname Name</label>
			<input type="text" id="lastName" name="lastname" value="<!--{if !empty($student)}--><!--{$student->surname}--><!--{else}--><!--{$client->lastname}--><!--{/if}-->" class="form-control input-block" disabled/>
		</div>
		<div class="form-group">
			<label for="day">Date of Birth</label>
			<div class="form-row justify-content-center">
				<div class="col-2">
					<input type="number" id="day" name="day" max="31" min="1" value="<!--{$student->dob->day}-->" class="form-control input-block" placeholder="DD"/>
				</div>
				<div class="col-2">
					<input type="number" id="month" name="month" max="12" min="1" value="<!--{$student->dob->month}-->" class="form-control input-block" placeholder="MM"/>
				</div>	
				<div class="col-4">
					<input type="number" id="year" name="year" max="<!--{($Site.dateY-4)}-->" min="<!--{($Site.dateY-30)}-->" value="<!--{$student->dob->year}-->" class="form-control input-block" placeholder="YYYY"/>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="country">Nationality</label>
			<select id="country" name="country" required class="form-control signup-input">
				<!--{if !empty($countries)}-->
				<!--{foreach $countries as $country}-->
					<option value="<!--{$country->name}-->" <!--{if $client->country==$country->name or $student->country==$country->name }-->selected<!--{/if}-->><!--{$country->name|capitalize}--></option>
				<!--{/foreach}-->
				<!--{/if}-->
			</select>
		</div>
		<div class="form-group">
			<label for="phone">Phone Number</label>
			<input type="tel" id="phone" name="phone" value="<!--{if !empty($student)}--><!--{$student->phone}--><!--{else}--><!--{$client->phone}--><!--{/if}-->" class="form-control input-block" required/>
		</div>
		<div class="form-group">
			<button class="btn btn-primary btn-block" type="submit" name="personal">Save Changes</button>
		</div>
	</fieldset>
</form>