<form class="form w-100" method="post">
	<fieldset class="card p-2 mt-2">
		<legend class="text-center">Declaration & Signature</legend>
		<div class="form-group">
			<input type="checkbox" name="declare" value="1" class="form-control-xs" required <!--{if !empty($terms->declare) and '1'==$terms->declare }-->checked<!--{/if}--> /> <span class=" text-capitalize"> By submitting this form you agree to comply with the <a href="#terms" target="__blank">terms and conditions, and parent/guardian disclaimer.</a><br/>
			<small>Please note we cannot confirm your booking until you have read and ticked the boxes above. Please keep a copy of this completed form for your information.</small></span>
		</div>

		<legend class="text-center">Terms & Condition<a name="terms" title="Terms & Condition">&nbsp;</a></legend>
		<div class="form-group text-justify">
			<p>Please note that by registering your child/children on any City Sports Group Program, you and your child confirm and agree to the following:</p>
			<details open>
				<summary class="font-weight-bold">1. FITNESS:</summary>
				<p>My child is physically fit and able to participate in the sporting activities taking place during the program and accept all risks resulting from his/her participation in these activities. I agree that City Sports Group or any of its member companies are not responsible for any injury, death or loss of property to any person suffered while participating or in any way involved in the program.</p>
			</details>
			<details>
				<summary class="font-weight-bold">2. MEDICAL ATTENTION:</summary>
				<p>In the event that my child needs medical attention during the program I will undertake his/her treatment by a qualified emergency first aid/medical personnel. I agree that City Sports Group or any of its member companies are not responsible for any medical emergencies arising from our online drills.</p>
			</details>
			<details>
				<summary class="font-weight-bold">3. BEHAVIOUR:</summary>
				<p>My child will conduct him/herself in an appropriate manner at all times during the program and will not act improperly, violently or impolitely. I confirm that my child will comply with the City Sports Group or any of its member companies regulations. I understand that City Sports Group or any of its member companies have the right to withdraw my child from the program in the event of serious misconduct.</p>
			</details>
			<details>
				<summary class="font-weight-bold">4. USE OF IMAGERY AND VIDEO:</summary>
				<p>By agreeing to these terms and conditions below I acknowledge that City Sports Group or any of its member companies may use any photos, images or videos that we, or someone on our behalf, have taken of you. We may also use any comments you make during or in connection with the program for promotional or marketing purposes (e.g. brochure, website, and social media) without obtaining your further specific permission or making any payment to you. Such use may include mentioning your first name, age and country of residence.</p>
			</details>
			<details>
				<summary class="font-weight-bold">5. PERSONAL BELONGINGS:</summary>
				<p>Please note that City Sports Group or any of its member companies accept no responsibility for pocket money or personal belongings which have not been given to City Sports Group or any of its member companies’ staff for safekeeping.</p>
			</details>
			<details class="d-none">
				<summary class="font-weight-bold">6. REFUND POLICY:</summary>
				<p>Refunds of course fees will be considered only in extreme circumstances for the following reasons: Severe injury or illness that prevents the player from participating in subsequent drills and course content (requires note from a physician) provided that the refund request is made not later than 3 weeks into the term.</p>
			</details>
			<details>
				<summary class="font-weight-bold">6. RETURN POLICY:</summary>
				<p> All Sales is Final. No exchange, No refund.</p>
			</details>
			<details>
				<summary class="font-weight-bold">7. STUDENTS OBLIGATIONS:</summary>
				<p> All players must be fully kitted in city uniform for all videos uploaded.</p>
			</details>
			<details>
				<summary class="font-weight-bold">8. PARENT AND PLAYER CODE OF CONDUCT:</summary>
				<p>I will receive the Parents and Players Code of Conduct document and I will abide by it.</p>
			</details>
			<h5 class="font-weight-bold mt-3"><input type="checkbox" name="terms" value="1" class="form-control-xs" required class="form-control-xs" required <!--{if !empty($terms->terms) and '1'==$terms->terms }-->checked<!--{/if}--> /> I AGREE WITH THE TERMS ABOVE</h5>
		</div>
		<div class="form-group text-center">
			<button class="btn btn-primary btn-block input-rounded" type="submit" name="term">Submit</button>
		</div>
	</fieldset>
</form>